#spreadsheet_editor.editors.l-margin-top
  %h6='Answer Template Spreadsheet Editor'
  =spreadsheet_scenario_answer_template.hidden_field :text_content

  %div{id: "scenario_question_#{scenario_question.options[:child_index]}_scenario_answer_template_#{spreadsheet_scenario_answer_template.options[:child_index]}_spreadsheet_editor", style: 'width: 100%;'}


:javascript

  function onChange() {
    var data = spreadsheet.toJSON();
    var json = JSON.stringify(data, null, 2);
    $("#course_module_element_constructed_response_attributes_scenario_attributes_scenario_questions_attributes_#{scenario_question.options[:child_index]}_scenario_answer_templates_attributes_#{spreadsheet_scenario_answer_template.options[:child_index]}_text_content").val(json);
  }

  var storedJson = $("#course_module_element_constructed_response_attributes_scenario_attributes_scenario_questions_attributes_#{scenario_question.options[:child_index]}_scenario_answer_templates_attributes_#{spreadsheet_scenario_answer_template.options[:child_index]}_text_content").val();

  $("#scenario_question_#{scenario_question.options[:child_index]}_scenario_answer_template_#{spreadsheet_scenario_answer_template.options[:child_index]}_spreadsheet_editor").kendoSpreadsheet({sheetsbar: false, change: onChange});
  var spreadsheet = $("#scenario_question_#{scenario_question.options[:child_index]}_scenario_answer_template_#{spreadsheet_scenario_answer_template.options[:child_index]}_spreadsheet_editor").data("kendoSpreadsheet");

  if (storedJson != '') {
    var paredJson = JSON.parse(storedJson);
    spreadsheet.fromJSON(paredJson);
  }


