.col-sm-6
  %h6=spreadsheet_scenario_answer_template.object.id.nil? ? 'New Spreadsheet Answer Template' : 'Answer Template #' + spreadsheet_scenario_answer_template.object.id.to_s
.col-sm-6
  .form-group
    .col-sm-8.col-sm-offset-4
      .checkbox
        %label
          =spreadsheet_scenario_answer_template.check_box :_destroy
          ='Remove Answer Template'

.col-sm-12
  #spreadsheet_editor.editors.l-margin-top

  =spreadsheet_scenario_answer_template.hidden_field :spreadsheet_editor_content

  %div{id: "scenario_question_#{scenario_question.options[:child_index]}_scenario_answer_template_#{spreadsheet_scenario_answer_template.options[:child_index]}_spreadsheet_editor", style: 'width: 100%;'}


:javascript

  function onChange() {
    var data = spreadsheet_question_#{scenario_question.options[:child_index]}_answer_template_#{spreadsheet_scenario_answer_template.options[:child_index]}.toJSON();
    var json = JSON.stringify(data, null, 2);
    $("#course_module_element_constructed_response_attributes_scenario_attributes_scenario_questions_attributes_#{scenario_question.options[:child_index]}_scenario_answer_templates_attributes_#{spreadsheet_scenario_answer_template.options[:child_index]}_spreadsheet_editor_content").val(json);
  }

  var storedJson = $("#course_module_element_constructed_response_attributes_scenario_attributes_scenario_questions_attributes_#{scenario_question.options[:child_index]}_scenario_answer_templates_attributes_#{spreadsheet_scenario_answer_template.options[:child_index]}_spreadsheet_editor_content").val();

  $("#scenario_question_#{scenario_question.options[:child_index]}_scenario_answer_template_#{spreadsheet_scenario_answer_template.options[:child_index]}_spreadsheet_editor").kendoSpreadsheet({
      sheetsbar: false,
      scrollable: false,
      rows: 50,
      columns: 50,
      toolbar: {
        insert: false,
        data: false,
        home: [
          [ "cut", "copy", "paste" ],
          "fontSize",
          [ "bold", "italic", "underline" ],
          "textColor", "backgroundColor",
          "alignment",
          "format"
        ]
      },
    change: onChange
  });


  var spreadsheet_question_#{scenario_question.options[:child_index]}_answer_template_#{spreadsheet_scenario_answer_template.options[:child_index]} = $("#scenario_question_#{scenario_question.options[:child_index]}_scenario_answer_template_#{spreadsheet_scenario_answer_template.options[:child_index]}_spreadsheet_editor").data("kendoSpreadsheet");

  if (storedJson != '') {
    var paredJson = JSON.parse(storedJson);
    spreadsheet_question_#{scenario_question.options[:child_index]}_answer_template_#{spreadsheet_scenario_answer_template.options[:child_index]}.fromJSON(paredJson);
  }


