-if @sculs.any?
  .col-md-12.col-lg-10.p-0
    -@sculs.each do |scul|
      -if scul.course && scul.course.active
        =link_to library_special_link(scul.course), class: 'card card-horizontal flex-md-row', style: 'margin-bottom: 1.5rem;', onclick: "sendClickEventToSegment('clicks_course', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', programName: '#{scul.course.group.name}', levelName: '#{scul.course.level&.name}', courseName: '#{scul.course.name}', navigationThrough: 'activity'})" do
          .card-body.d-flex.flex-column.justify-content-center
            %div.dashboardWrapper-courseInfo
              %div.dashboardWrapper-courseIcon{style: "border-color: #{scul.course.level&.highlight_colour}; background-color: #{scul.course.level&.highlight_colour};"}
                %i{"aria-label" => scul.course.level&.icon_label, :role => "img", class: scul.course.level&.icon_label ? scul.course.level&.icon_label : 'budicon-office-bag-c', style: "color: #FFF;"}
              %div
                %div.dashboardWrapper-parent
                  .dashboardWrapper-examName
                    =scul.course.parent.name
                  .dashboardWrapper-backBtn-dot •
                  .dashboardWrapper-levelName{style: "color: #{scul.course.level&.highlight_colour};"}
                    =scul.course.level&.name
                %div.courseName
                  =scul.course.name
          .card-footer.d-flex.justify-content-center.align-items-center{style: 'background-color: #fff; border-top: none;'}
            .dashboardWrapper-progressText
              -if scul.percentage_complete > 0
                %div
                  .progress
                    .progress-bar{role: "progressbar", 'aria-valuenow': scul.percentage_complete, 'aria-valuemin': "0", 'aria-valuemax': '100', style: "width: #{scul.percentage_complete}%"}
            -if scul.latest_course_step && scul.latest_course_step.next_element
              -next_step      = scul.latest_course_step.next_element
              -next_step_link = show_course_url(scul.course.name_url,
                                                next_step.course_lesson.course_section.name_url,
                                                next_step.course_lesson.name_url,
                                                next_step.name_url)
              #dashboard-course-resume.btn.btn-outline.next_step_link{data: {destination: next_step_link}, id: scul.id, onclick: "sendClickEventToSegment('clicks_course', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', programName: '#{scul.course.group.name}', levelName: '#{scul.course.level&.name}', courseName: '#{scul.course.name}', navigationThrough: 'activity'})"}
                Resume
            -else
              .courseArrowIcon.i.material-icons{style: 'color: #D9D9D9;'} keyboard_arrow_right

-else
  .col-md-12.col-lg-12.p-0
    %h3.h4-hero.mb-4.mt-4.bg-white.visible-xs{style: 'margin: -2rem -1rem -1rem !important;padding: 1rem 1rem 1.5rem !important;'}
      ="Get started with an #{@default_group.name} course"

    %div.libraryGroupWrapper-list.visible-xs
      %nav.levels-nav{style: 'margin-left: -1rem;     width: calc(100% + 2rem);'}
        %ul.d-flex.flex-column.nav.nav-pills.nav-fill{id: 'levelsTabs', role: 'tablist'}
          - @levels.each_with_index do |level, counter|
            %li.nav-item{data: {tab_name: level.name, group_name: @default_group.name}}
              %a{onclick: "sendClickEventToSegment('clicks_onboarding_level', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', programName: '#{level.group.name}', levelName: '#{level.name}'})", class: "nav-link #{counter == 0 ? 'active' : ''}", id: "#{level.name_url}-tab", data: {toggle: 'tab'}, href: "##{level.name_url}", aria: {controls: "#{level.name_url}", selected: 'false'}, role: 'tab'}
                =level.name
    %h4.h4-hero.mb-4.mt-4.hidden-xs
      ="Get started with an #{@default_group.name} course"
    %div.container.d-flex.libraryGroupWrapper-list.pt-4.pb-4{style: 'padding-top: 2rem !important;'}
      %nav.levels-nav.hidden-xs
        %ul.d-flex.flex-column.nav.nav-pills.nav-fill{id: 'levelsTabs', role: 'tablist'}
          - @levels.each_with_index do |level, counter|
            %li.nav-item{data: {tab_name: level.name, group_name: @default_group.name}}
              %a{onclick: "sendClickEventToSegment('clicks_onboarding_level', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', programName: '#{level.group.name}', levelName: '#{level.name}'})", class: "nav-link #{counter == 0 ? 'active' : ''}", id: "#{level.name_url}-tab", data: {toggle: 'tab'}, href: "##{level.name_url}", aria: {controls: "#{level.name_url}", selected: 'false'}, role: 'tab'}
                =level.name

      %section.container.content-section.p-0
        %h2.sr-only List of Courses
        #levelsTabsContent.tab-content
          -@levels.each_with_index do |level, counter|
            .tab-pane{id: level.name_url, class: "tab-#{level.name_url} #{counter == 0 ? 'active show' : ''} ", "aria-labelledby" => "#{level.name_url}-tab", :role => "tabpanel"}
              .row.row-lg
                -level.courses.all_in_order.each do |course|
                  - if course.active
                    .col-lg-12.col-xl-12
                      =link_to library_special_link(course), class: 'card flex-md-row na', style: 'margin-bottom: 1rem;', data: { toggle: 'tooltip', placement: 'right', animation: 'true', delay: { "show": 300, "hide": 100 }}, title: "#{course.short_description}", onclick: "sendClickEventToSegment('clicks_onboarding_course', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', programName: '#{course&.group&.name}', levelName: '#{level&.name}', courseName: '#{course&.name}', navigationThrough: 'activity'})" do
                        .card-body.d-flex.flex-column.justify-content-center
                          %div.libraryGroupWrapper-list-courseInfo
                            %div.libraryGroupWrapper-list-courseIcon{style: "border-color: #{course.highlight_colour}; background-color: #{course.highlight_colour};"}
                              %i{"aria-label" => course.icon_label, :role => "img", class: course.icon_label ? course.icon_label : 'budicon-office-bag-c', style: "color: #FFF;"}
                            %div
                              %div.libraryGroupWrapper-list-parent
                                .libraryGroupWrapper-list-levelName{style: "color: #{course.highlight_colour};"}
                                  -if course.preview && course.release_date
                                    ="Coming #{course.release_date.strftime("%B, %Y")}"
                                  -else
                                    =course.category_label
                              %div.courseName
                                =course.name
                            .courseArrowIcon.i.material-icons keyboard_arrow_right


:javascript
  $(document).ready(function(){
    $(".next_step_link").click(function(e){
      e.preventDefault();
      window.location.href =this.getAttribute("data-destination");
      return false;
    })
  });
