-if @sculs.any?
  -@sculs.each do |scul|
    -if scul.course && scul.course.active
      =link_to library_special_link(scul.course), class: 'card card-horizontal flex-md-row', style: 'margin-bottom: 1.5rem;' do
        .card-body.d-flex.flex-column.justify-content-center
          %div.dashboardWrapper-courseInfo
            %div.dashboardWrapper-courseIcon{style: "border-color: #{scul.course.level.highlight_colour}; background-color: #{scul.course.level.highlight_colour};"}
              %i{"aria-label" => scul.course.level.icon_label, :role => "img", class: scul.course.level.icon_label ? scul.course.level.icon_label : 'budicon-office-bag-c', style: "color: #FFF;"}
            %div
              %div.dashboardWrapper-parent
                .dashboardWrapper-examName
                  =scul.course.parent.name
                .dashboardWrapper-backBtn-dot •
                .dashboardWrapper-levelName{style: "color: #{scul.course.level.highlight_colour};"}
                  =scul.course.level.name
              %div.courseName
                =scul.course.name
        .card-footer.d-flex.justify-content-center.align-items-center{style: 'background-color: #fff; border-top: none;'}
          .dashboardWrapper-progressText
            =scul.percentage_complete.to_s << '%'
            Complete
          .btn.btn-outline
            Resume

-else
  %h4.h4-hero.mb-4
    ="Get started with an #{@default_group.name} course"
  %div
    -@default_group.courses.all_active.all_in_order.each do |course|
      -if course.level
        %div
          =link_to library_special_link(course), class: 'card card-horizontal flex-row card-mint', style: 'margin-bottom: 1.5rem;' do
            .card-body.d-flex.flex-column.justify-content-center
              %div.dashboardWrapper-courseInfo
                %div.dashboardWrapper-courseIcon{style: "border-color: #{course.level.highlight_colour}; background-color: #{course.level.highlight_colour};"}
                  %i{"aria-label" => course.level.icon_label, :role => "img", class: course.level.icon_label ? course.level.icon_label : 'budicon-office-bag-c', style: "color: #FFF;"}
                %div
                  %div.dashboardWrapper-parent
                    .dashboardWrapper-examName
                      =course.parent.name
                    .dashboardWrapper-backBtn-dot •
                    .dashboardWrapper-levelName{style: "color: #{course.level.highlight_colour};"}
                      =course.category_label
                  %div.courseName
                    =course.name
