%div{role: 'tabpanel'}
  .is-bg-purple-2.coursebar
    .l-wrap
      .container-fluid
        .row
          .col-md-12{role: 'tablist'}
            .l-margin-top-small
              -if current_user.compulsory_subject_course_ids.any?
                =link_to 'Compulsory Courses', '#compulsory', aria: {controls: 'in-progress'}, role: 'tab', data: {toggle: 'tab'}, class: 'btn btn-purple', style: 'margin-bottom: 5px;'
              =link_to 'Active Courses', '#active', aria: {controls: 'in-progress'}, role: 'tab', data: {toggle: 'tab'}, class: 'btn btn-purple', style: 'margin-bottom: 5px;'
              =link_to 'Completed Courses', '#completed', aria: {controls: 'completed'}, role: 'tab', data: {toggle: 'tab'}, class: 'btn btn-purple', style: 'margin-bottom: 5px;'

  .l-section-small.is-bg-asphalt
    .tab-content
      -if current_user.compulsory_subject_course_ids.any?
        .l-wrap.active.tab-pane.fade.in#compulsory{role: 'tabpanel'}
          .container-fluid
            .row
              .col-md-12.text-center
                %h2.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center
                  -if current_user
                    ="You are making good progress, #{current_user.try(:first_name).try(:capitalize)}!"
                  -else
                    ='You are making good progress!'
                %p{style: 'font-size: 24px'}
                  Your Compulsory Courses
            .row.l-margin-bottom-huge
              -@compulsory_courses.each do |course|
                -log = @compulsory_logs.where(subject_course_id: course.id).first
                .col-md-4.l-margin-top
                  =link_to course_special_link(course), class: 'library-box library-box-item panel text-center' do
                    .panel-icon.icon-big
                      %i.glyphicon.glyphicon-pencil
                    .panel-body
                      %h4.text-bold.one-line-text
                        =course.try(:name)
                      - total_lesson = course.try(:cme_count)
                      - complete_lesson = log.try(:count_of_cmes_completed) || 0
                      - complete_percent = log.try(:percentage_complete)
                      %p.l-margin-bottom #{complete_lesson} out of #{total_lesson} lessons completed
                      .progress.l-margin-top-big
                        .progress-bar.cyanbar{'role'=>'progressbar', 'aria-valuenow'=> "#{complete_percent}", 'aria-minvalue'=>'0', 'aria-maxvalue'=>'100', 'style'=>"width: #{complete_percent}% ;" }
                    .box-label continue

        .l-wrap.tab-pane.fade#active{role: 'tabpanel'}
          .container-fluid
            .row
              .col-md-12.text-center
                %h2.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center
                  -if current_user
                    ="You are making good progress, #{current_user.try(:first_name).try(:capitalize)}!"
                  -else
                    ='You are making good progress!'
                %p{style: 'font-size: 24px'}
                  Your Active Courses
            .row.l-margin-bottom-huge
              -@incomplete_courses.each do |course|
                -log = @active_logs.where(subject_course_id: course.id).first
                .col-md-4.l-margin-top
                  = link_to course_special_link(course), class: 'library-box library-box-item panel text-center' do
                    .panel-icon.icon-big
                      %i.glyphicon.glyphicon-pencil
                    .panel-body
                      %h4.text-bold.one-line-text
                        =course.try(:name)
                      - total_lesson = course.try(:cme_count)
                      - complete_lesson = log.try(:count_of_cmes_completed) || 0
                      - complete_percent = log.try(:percentage_complete)
                      %p.l-margin-bottom #{complete_lesson} out of #{total_lesson} lessons completed
                      .progress.l-margin-top-big
                        .progress-bar.cyanbar{'role'=>'progressbar', 'aria-valuenow'=> "#{complete_percent}", 'aria-minvalue'=>'0', 'aria-maxvalue'=>'100', 'style'=>"width: #{complete_percent}% ;" }
                    .box-label continue

        .tab-pane.fade#completed{role: 'tabpanel'}
          .l-wrap.active.tab-pane.fade.in{role: 'tabpanel'}
            .container-fluid
              .row
                .col-md-12.text-center
                  %h2.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center
                    -if current_user
                      ="You are making good progress, #{current_user.try(:first_name).try(:capitalize)}!"
                    -else
                      ='You are making good progress!'
                  %p{style: 'font-size: 24px'}
                    Your Completed Courses
              .row.l-margin-bottom-huge
                -@completed_courses.each do |course|
                  -log = @completed_logs.where(subject_course_id: course.id).first
                  .col-md-4.l-margin-top
                    =link_to course_special_link(course), class: 'library-box library-box-item panel text-center' do
                      .panel-icon.icon-big
                        %i.glyphicon.glyphicon-pencil
                      .panel-body
                        %h4.text-bold.one-line-text
                          =course.try(:name)
                        - total_lesson = course.try(:cme_count)
                        - complete_lesson = log.try(:count_of_cmes_completed) || 0
                        - complete_percent = log.try(:percentage_complete)
                        %p.l-margin-bottom #{complete_lesson} out of #{total_lesson} lessons completed
                        .progress.l-margin-top-big
                          .progress-bar.cyanbar{'role'=>'progressbar', 'aria-valuenow'=> "#{complete_percent}", 'aria-minvalue'=>'0', 'aria-maxvalue'=>'100', 'style'=>"width: #{complete_percent}% ;" }
                      .box-label continue
      -else
        .l-wrap.active.tab-pane.fade.in#active{role: 'tabpanel'}
          .container-fluid
            .row
              .col-md-12.text-center
                %h2.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center
                  -if current_user
                    ="You are making good progress, #{current_user.try(:first_name).try(:capitalize)}!"
                  -else
                    ='You are making good progress!'
                %p{style: 'font-size: 24px'}
                  Your Active Courses
            .row.l-margin-bottom-huge
              -@incomplete_courses.each do |course|
                .col-md-4.l-margin-top
                  = link_to course_special_link(course), class: 'library-box library-box-item panel text-center', style: 'background-image: 0;' do
                    .panel-icon.icon-big
                      %i.glyphicon.glyphicon-pencil
                    .panel-body
                      %h4.text-bold.one-line-text
                        =course.try(:name)
                      %p
                        -if course.short_description
                          =course.try(:short_description).to_s.truncate(30)
                        -else
                          =course.parent.try(:name)
                    .box-label continue

        .tab-pane.fade#completed{role: 'tabpanel'}
          .l-wrap.active.tab-pane.fade.in{role: 'tabpanel'}
            .container-fluid
              .row
                .col-md-12.text-center
                  %h2.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center
                    -if current_user
                      ="You are making good progress, #{current_user.try(:first_name).try(:capitalize)}!"
                    -else
                      ='You are making good progress!'
                  %p{'style'=>'font-size: 24px'}
                    Your Completed Courses
              .row.l-margin-bottom-huge
                -@completed_courses.each do |course|
                  .col-md-4.l-margin-top
                    =link_to course_special_link(course), class: 'library-box library-box-item panel text-center' do
                      .panel-icon.icon-big
                        %i.glyphicon.glyphicon-pencil
                      .panel-body
                        %h4.text-bold.one-line-text
                          =course.try(:name)
                        %p
                          -if course.short_description
                            =course.try(:short_description).to_s.truncate(30)
                          -else
                            =course.parent.try(:name)
                      .box-label continue


  =render partial: 'shared/activate_tab'
