-if @first_active_log
  .l-section-small.is-bg-asphalt
    .l-wrap
      .container-fluid
        .row
          .col-md-6
            %h2.h2.h-separator.h-separator-left
              -if current_user
                ="You are making good progress, #{current_user.try(:first_name).try(:capitalize)}!"
              -else
                ='You are making good progress!'
        .row.l-margin-bottom-huge
          .col-md-12
            %h6.l-margin-top-big.l-margin-bottom
              Latest Activity
            .card.card-course
              .card-outer
                .card-inner
                  .col-sm-8
                    %h3.h3.card-title.l-margin-bottom
                      =@first_active_log.subject_course.try(:name)
                    %p.card-desc
                      =@first_active_log.subject_course.try(:short_description).truncate(185)
                    .card-info
                      -total_lesson = @first_active_log.subject_course.cme_count
                      -complete_lesson = @first_active_log.try(:count_of_cmes_completed) || 0
                      -complete_percent = @first_active_log.try(:percentage_complete)
                      %br/
                      %p
                        ="#{complete_lesson} out of #{total_lesson} lessons completed"

                      .progress
                        .progress-bar.cyanbar{'role'=>'progressbar', 'aria-valuenow'=> "#{complete_percent}", 'aria-minvalue'=>'0', 'aria-maxvalue'=>'100', 'style'=>"width: #{complete_percent}% ;" }

                  .col-sm-4.text-center.resume-course
                    =link_to 'Resume Course', course_special_link(@first_active_log.last_element.next_element), class: 'btn btn-wide btn-cyan'



        .row.l-margin-bottom-huge
          .col-md-12
            %h6.l-margin-top-big
              Current Courses
          -@all_active_logs.each do |log|
            .col-md-6
              = link_to course_special_link(log.subject_course), class: 'card card-course' do
                .card-outer
                  .card-inner
                    %h3.h3.card-title.l-margin-bottom
                      =log.subject_course.try(:name)
                    %p.card-desc
                      =log.subject_course.try(:short_description).truncate(185)
                    .card-info
                      -total_lesson = log.subject_course.cme_count
                      -complete_lesson = log.try(:count_of_cmes_completed) || 0
                      -complete_percent = log.try(:percentage_complete)
                      %br/
                      %p
                        ="#{complete_lesson} out of #{total_lesson} lessons completed"

                      .progress
                        .progress-bar.cyanbar{'role'=>'progressbar', 'aria-valuenow'=> "#{complete_percent}", 'aria-minvalue'=>'0', 'aria-maxvalue'=>'100', 'style'=>"width: #{complete_percent}% ;" }

                .card-label
                  .row
                    .col-md-12.col-xs-12
                      .col-md-6.col-xs-6
                        %h6
                          View Course
                      .col-md-6.col-xs-6.text-right

-else
  .l-section
    .l-wrap
      .container-fluid
        .row
          .col-md-10.col-md-offset-1#heading-message
            %h1.h1.h-separator.h-separator-center.text-center.l-margin-bottom-big
              Welcome to your Dashboard
            %p.h3.text-center
              Please select one of the courses below to get started!


  .l-section-small.is-bg-asphalt
    .l-wrap
      .container-fluid
        .course-list-wrap
          .row
            -if current_user.try(:topic_interest)
              -interest = current_user.topic_interest
              -group = Group.where('name ILIKE ?', "#{interest}").try(:last) || Group.first
              -group.children.each do |course|
                .col-sm-6.col-md-4
                  =link_to library_special_link(course), class: 'box box-course ' do
                    .box-inner{style: 'height: 163px'}
                      %h3.h4.box-title
                        =course.try(:name)
                      %p.box-desc
                        =course.try(:short_description).to_s.truncate(30)
                    .box-label
                      =t('views.general.start')
            -else
              -@courses.each do |course|
                .col-sm-6.col-md-4
                  =link_to library_special_link(course), class: 'library-box library-box-item panel text-center' do
                    .box-inner
                      %h3.h4.box-title
                        =course.try(:name)
                      %p.box-desc
                        =course.try(:short_description).to_s.truncate(30)
                    .box-label
                      =t('views.general.start')
-if current_user && current_user.free_member? && flash[:just_signed_in]
  =render partial: 'layouts/free_trial_modal'

  :javascript
    $(document).on('ready', function() {
      $('#freeTrialModal').modal('show');
    });
