.row
  .col-sm-12
    .page-header
      %h1=t('views.dashboard.index.h1')

-if @dashboard_type.length > 1
  .row
    .panel-group#accordion{role: 'tablist', aria: {multiselectable: true}}
      -@dashboard_type.each_with_index do |dashboard_type, counter|
        .panel.panel-default
          .panel-heading#headingOne{role: 'tab'}
            %h4.panel-title
              %a{data: {toggle: 'collapse', parent: '#accordion'}, href: "#collapse_#{counter}", aria: {expanded: true, controls: "collapse_#{counter}"}}
                =dashboard_type.humanize
          .panel-collapse.collapse{id: "collapse_#{counter}", class: (counter == 1 ? 'in' : ''), role: 'tabpanel', aria: {labelledby: 'headingOne'}}
            .panel-body
              =render partial: "#{dashboard_type}"

-else
  =render partial: "dashboard/#{@dashboard_type.first}"