.l-section-small.is-bg-asphalt
  .container-fluid
    .row.l-margin-bottom
      .col-md-12.text-center
        %h1.h1.bold.h-separator.h-separator-center.l-margin-bottom.l-margin-top.text-center{style: 'letter-spacing:1.5px; '}
          =t('views.subscription_plans.public_index.h1')

    .row.l-margin-top.l-margin-bottom

      .col-md-10.col-md-offset-1.l-margin-bottom-big

        %h2.upcase.text-center
          =image_tag('icon-man.png', class: 'features-img')
          Individual Plans
        .col-md-4
          .pricing-box-purple.l-margin-top-big
            .plan-header{style: 'background: #6E6D75;'}
              %h3.h3.plan-title{style: 'color: #fff;'}
                Monthly
            .plan-inner{style: 'background: #6E6D75;'}
              -if @student_plan_1
                %h3.plan-text.h-separator.h-separator-white.h-separator-center.l-margin-bottom-big{style: 'padding-top: 5px'}
                  =number_in_local_currency_no_precision(@student_plan_1.price, @student_plan_1.currency)
                  &#47;
                  =t("views.general.payment_intervals.a#{@student_plan_1.payment_frequency_in_months}")
              .l-margin-bottom.l-margin-top-big
                %h5.plan-title
                  Reporting & Analytics
                %br/
                %h5.plan-title
                  Expert Author Network
                %br/
                %h5.plan-title
                  Course Completion Certificates


            .plan-footer
              %a.signupModal{href: '#', class: 'sign-up-link', data: {toggle: 'modal', target: '#signupModal'}, style: 'text-decoration: none;'}
                %h4.h4.plan-title
                  ='Sign Up Now'

        .col-md-4
          .pricing-box-cyan.l-margin-top-big
            .plan-header{style: 'background: #6E6D75;'}
              %h3.h3.plan-title{style: 'color: #fff;'}
                Quarterly
            .plan-inner{style: 'background: #6E6D75;'}
              -if @student_plan_2
                %h3.plan-text.h-separator.h-separator-white.h-separator-center.l-margin-bottom-big{style: 'padding-top: 5px'}
                  =number_in_local_currency_no_precision(@student_plan_2.price, @student_plan_2.currency)
                  &#47;
                  =t("views.general.payment_intervals.a#{@student_plan_2.payment_frequency_in_months}")
              .l-margin-bottom.l-margin-top-big
                %h5.plan-title
                  Reporting & Analytics
                %br/
                %h5.plan-title
                  Expert Author Network
                %br/
                %h5.plan-title
                  Course Completion Certificates


            .plan-footer
              %a.signupModal{href: '#', class: 'sign-up-link', data: {toggle: 'modal', target: '#signupModal'}, style: 'text-decoration: none;'}
                %h4.h4.plan-title
                  ='Sign Up Now'

        .col-md-4
          .pricing-box-red.l-margin-top-big
            .plan-header{style: 'background: #6E6D75;'}
              %h3.h3.plan-title{style: 'color: #fff;'}
                Yearly
            .plan-inner{style: 'background: #6E6D75;'}
              -if @student_plan_3
                %h3.plan-text.h-separator.h-separator-white.h-separator-center.l-margin-bottom-big{style: 'padding-top: 5px'}
                  =number_in_local_currency_no_precision(@student_plan_3.price, @student_plan_3.currency)
                  &#47;
                  =t("views.general.payment_intervals.a#{@student_plan_3.payment_frequency_in_months}")
              .l-margin-bottom.l-margin-top-big
                %h5.plan-title
                  Reporting & Analytics
                %br/
                %h5.plan-title
                  Expert Author Network
                %br/
                %h5.plan-title
                  Course Completion Certificates


            .plan-footer
              %a.signupModal{href: '#', class: 'sign-up-link', data: {toggle: 'modal', target: '#signupModal'}, style: 'text-decoration: none;'}
                %h4.h4.plan-title
                  ='Sign Up Now'

      .col-md-10.col-md-offset-1.l-margin-top
        %hr/
        %h2.upcase.text-center
          =image_tag('building-icon.png', class: 'features-img')
          Business Plans

        .col-md-4
          .pricing-box-purple.l-margin-top-big
            .plan-header{style: 'background: #6E6D75;'}
              %h4.h4.plan-title{style: 'color: #fff;'}
                = '1 - 24 Users'
            .plan-inner{style: 'background: #6E6D75;'}
              -if @corp_plan_1
                %h3.plan-text.h-separator.h-separator-white.h-separator-center.l-margin-bottom-big{style: 'padding-top: 5px'}
                  &#160;
                  =number_in_local_currency_no_precision(@corp_plan_1.try(:price), @corp_plan_1.try(:currency))
                  &#47;
                  User
              .l-margin-bottom.l-margin-top-big
                %h5.plan-title
                  ="Full Access for a #{t("views.general.payment_intervals.a#{@corp_plan_1.try(:payment_frequency_in_months) || 1}")}"
                %br/
                %h5.plan-title
                  Reporting & Analytics
                %br/
                %h5.plan-title
                  Easy Registration
                %br/
                %h5.plan-title
                  Learning Paths
                %br/
                %h5.plan-title
                  Expert Author Network
                %br/
                %h5.plan-title
                  Course Completion Certificates
                %br/
                %h5.plan-title
                  Control Member Access
                %br/
                %h5.plan-title
                  Upload your own content
            .plan-footer
              %a.contactModal{href: '#', data: {toggle: 'modal', target: '#contactModal'}, style: 'text-decoration: none;'}

                %h4.h4.plan-title
                  ='Contact Us'


        .col-md-4
          .pricing-box-cyan.l-margin-top-big
            .plan-header{style: 'background: #6E6D75;'}
              %h4.h4.plan-title{style: 'color: #fff;'}
                ='25 - 49 Users'
            .plan-inner{style: 'background: #6E6D75;'}
              -if @corp_plan_2
                %h3.plan-text.h-separator.h-separator-white.h-separator-center.l-margin-bottom-big{style: 'padding-top: 5px'}
                  &#160;
                  =number_in_local_currency_no_precision(@corp_plan_2.try(:price), @corp_plan_2.try(:currency))
                  &#47;
                  User
              .l-margin-bottom.l-margin-top-big
                %h5.plan-title
                  ="Full Access for a #{t("views.general.payment_intervals.a#{@corp_plan_2.try(:payment_frequency_in_months) || 3}")}"
                %br/
                %h5.plan-title
                  Reporting & Analytics
                %br/
                %h5.plan-title
                  Easy Registration
                %br/
                %h5.plan-title
                  Learning Paths
                %br/
                %h5.plan-title
                  Expert Author Network
                %br/
                %h5.plan-title
                  Course Completion Certificates
                %br/
                %h5.plan-title
                  Control Member Access
                %br/
                %h5.plan-title
                  Upload your own content
            .plan-footer
              %a.contactModal{href: '#', data: {toggle: 'modal', target: '#contactModal'}, style: 'text-decoration: none;'}
                %h4.h4.plan-title
                  ='Contact Us'


        .col-md-4
          .pricing-box-red.l-margin-top-big
            .plan-header{style: 'background: #6E6D75;'}
              %h4.h4.plan-title{style: 'color: #fff;'}
                ='50 - 99 Users'
            .plan-inner{style: 'background: #6E6D75;'}
              -if @corp_plan_3
                %h3.plan-text.h-separator.h-separator-white.h-separator-center.l-margin-bottom-big{style: 'padding-top: 5px'}
                  &#160;
                  =number_in_local_currency_no_precision(@corp_plan_3.try(:price), @corp_plan_3.try(:currency))
                  &#47;
                  User
              .l-margin-bottom.l-margin-top-big
                %h5.plan-title
                  ="Full Access for a #{t("views.general.payment_intervals.a#{@corp_plan_3.try(:payment_frequency_in_months) || 12}")}"
                %br/
                %h5.plan-title
                  Reporting & Analytics
                %br/
                %h5.plan-title
                  Easy Registration
                %br/
                %h5.plan-title
                  Learning Paths
                %br/
                %h5.plan-title
                  Expert Author Network
                %br/
                %h5.plan-title
                  Course Completion Certificates
                %br/
                %h5.plan-title
                  Control Member Access
                %br/
                %h5.plan-title
                  Upload your own content
            .plan-footer
              %a.contactModal{href: '#', data: {toggle: 'modal', target: '#contactModal'}, style: 'text-decoration: none;'}
                %h4.h4.plan-title
                  ='Contact Us'
