.payment-details.credit-card
  .form-group.cc
    #card-element
    #card-errors.invalid-details{role: 'alert'}
  .form-group.text-right{style: 'margin-bottom: 0;'}
    %span.custom-label-info.coupon-code-btn.js-coupon-code-btn.hidden
      %span.js-coupon-code-btn-text Have a Coupon code?
      %i.material-icons.coupon-code-btn-icon{style: 'font-size: 16px;top: 3px;position: relative;'} keyboard_arrow_down
    %span.custom-label-info.coupon-code-btn.coupon-code-btn-hide.js-coupon-code-btn-hide
      %span.js-coupon-code-btn-text Hide
      %i.material-icons.coupon-code-btn-icon{style: 'font-size: 16px;top: 3px;position: relative;'} keyboard_arrow_down

    %div.coupon-input-box.js-coupon-input-box{style: 'padding-left: 0;'}
      %input{type: 'text_field', id: 'coupon_code', class: 'form-control', placeholder: 'Coupon Code'}
      %span.coupon-code-apply-btn.js-coupon-code-apply-btn#apply-coupon-code-btn Apply
        
      .invalid-code.invalid-details
        ='Invalid Code'

  .row
    .col-sm-12.mb-2.mt-3.mt-sm-4{style: 'border-top: 1px solid #e0e0e0;'}
      .price
        %h4.m-0.mt-4.d-flex.justify-content-between
          %span Total:
          %span
            =@plans.first.currency.leading_symbol
            %span.value#stripe-total-value
      %p.billing-summary.text-right Billed every month

      .discounted-price
        %h4.m-0.mt-4
          %h4.m-0.mt-4.d-flex.justify-content-between
            %span Discounted Total:
            %span
              %span.d-value#discounted-value

    .col-xl-12.mt-sm-4
      = f.button :submit, class: 'btn btn-primary w-100 mb-3', id: 'card_submit' do
        %span Subscribe Now

      %button.btn.btn-primary.w-100.mb-3.spinning-loading{:disabled => "disabled", :type => "button", :style => "padding: 12px;"}
        %span.spinner-border.spinner-border-sm{"aria-hidden" => "true", :role => "status"}
        %span.spinner-message

:javascript
  $(document).on('ready', function() {
    $('.js-coupon-code-btn').on('click', function() {
      $('.js-coupon-code-btn-hide').show();
      $('.js-coupon-input-box').show();
      $('.js-coupon-input-box input')[0].focus();
      $('.js-coupon-code-btn').hide();
    });
    $('.js-coupon-code-btn-hide').on('click', function() {
      $('.js-coupon-input-box').hide();
      $('.js-coupon-code-btn-hide').hide();
      $('.js-coupon-code-btn').show();
    });
    $("#apply-coupon-code-btn").on( "click", function() {
      setTimeout(function(){ 
        const coup_code = $("input[name='plans']:checked")[0].dataset; 
        sendClickEventToSegment('applies_payment_discountCode', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', programName: '#{@exam_body&.name}', planName: coup_code.name, planPrice: coup_code.price, discountedPrice: parseFloat($("#discounted_price").val().substring(1)), discountCode: $("#coupon_code").val(), isValidCoupon: $("#discounted_price").val().substring(1).length > 0 ? true : false})
      }, 0);
    });
    $("#card_submit").on( "click", function() {
      setTimeout(function(){ 
        const coup_code = $("input[name='plans']:checked")[0].dataset;
        sendClickEventToSegment('clicks_payment_subscribe', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', programName: '#{@exam_body&.name}', planName: coup_code.name, planPrice: coup_code.price, discountedPrice: parseFloat($("#discounted_price").val().substring(1)), discountCode: $("#coupon_code").val(), paymentType: coup_code.payment_type, subscriptionType: 'Subscription', planType: coup_code.plan_type})
      }, 0);
    });
  });