=render partial: 'layouts/external_navbar'
%main
  .container-bg.home-hero-alt-1
    .container
      %article.home-hero.home-hero-open-week
        .row.justify-content-between
          .col-sm-12.col-xl-5
            %header.home-hero-header

              -if @home_page.header_h1 && !@home_page.header_h1.empty?
                %h1.h1-hero.text-white.mb-5
                  =@home_page.header_h1
              -else
                %h1.h1-hero.text-white.mb-5
                  Open Week Special - Bonus ACCA Content

              -if @home_page.header_paragraph && !@home_page.header_paragraph.empty?
                %p.text-white.mb-5.pr-xl-4
                  =@home_page.header_paragraph
              -else
                %p.text-white.mb-5.pr-xl-4
                  For one-week only, we are hosting an exclusive learnsignal Open Week offering you access to bonus free ACCA content. Register to explore extra videos, webinars, lectures and quizzes that will help you pass your exams!

              -if @home_page.header_h3 && !@home_page.header_h3.empty?
                %h3.text-white.pr-xl-4
                  =@home_page.header_h3
              -else
                %h3.text-white.pr-xl-4
                  No credit card required.


          .col-xl-6
            =render partial: 'basic_registration_form'


  .container
    %article.py-5
      %header.pb-sm-4.pb-md-5
        .row.row-lg
          .col-12.col-lg-6
            %blockquote.ml-lg-3.mr-lg-3
              %p.text-gray2
                "I passed my final exam advanced performance management. I found the learnsignal system and content very useful and more up-to-date than previous providers. I would recommend learnsignal to anyone studying ACCA."
              %footer
                %cite.font-weight-semi-bold.text-gray2
                  Peter Curtis, United Kingdom

          .col-12.col-lg-6
            -if @home_page.video_guid && !@home_page.video_guid.empty?
              .video-iframe-wrap
                %iframe{src: "https://player.vimeo.com/video/#{@home_page.video_guid}", frameborder: '0', allowfullscreen: true, mozallowfullscreen: true, webkitallowfullscreen: true}
            -else
              =image_tag('testimonial-img.jpg', class: 'mb-5 mb-lg-0', alt: 'Girl at the laptop')




  =render partial: 'usp_section'

  -if @home_page.pricing_section && @subscription_plans.any?
    .container-bg.bg-gray5
      .container#plans
        %article.py-6
          %header.text-center.pb-5.pb-md-6
            %h2.h1-mega
              ="#{@group.name} Payment Plans"
            %p.p-hero.px-lg-8
              -if @group.exam_body.subscription_page_subheading_text
                =@group.exam_body.subscription_page_subheading_text
              -else
                ='Achieve your learning goals with a learnsignal subscription plan and enjoy professional courses delivered online so that you can study on a schedule that suits you.'

          .row.row-lg.justify-content-center
            -@subscription_plans.each do |plan|
              .col-lg-4
                %article.card.card-primary.card-primary-alt.medium-gap
                  -if plan.most_popular
                    .card-banner.bg-mint
                      %large.text-white
                        Most popular payment plan
                  .card-body.text-center.py-4.py-sm-5
                    %h2.card-title
                      =t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")

                    %ul.list-centered
                      -if plan.bullet_points_list && !plan.bullet_points_list.empty?
                        - plan.bullet_points_list.split(/, ?/).each do |bullet|
                          %li=bullet
                      -else
                        %li="Access all #{@group.name} courses"
                        %li="Topic-by-topic lectures"
                        %li="24/7 tutor support"

                      -unless plan.exam_body.name == "CPD"
                        %li{style: 'font-style: italic;'}
                          Cancel anytime

                    %p.h2.mb-0
                      =plan.currency.format_number(plan.price)

                    -if plan.monthly_percentage_off
                      %p.h5.text-gray2
                        Save over
                        =plan.monthly_percentage_off
                        ='%'
                    -else
                      -if plan.previous_plan_price && !plan.previous_plan_price.blank?
                        %p.h5.text-gray2
                          was
                          %span.strikethrough-diagonal
                            %span{style: 'color:#647786'}
                              =plan.currency.format_number(plan.previous_plan_price)

                    .mt-auto
                      =link_to subscription_checkout_special_link(@group.exam_body_id, plan.guid), class: 'btn btn-secondary btn-sm', onclick: "addToCart('#{plan.currency.iso_code}', '#{plan.name}', '#{plan.id}', '#{plan.price}', '#{plan.exam_body.name}');" do
                        Choose this plan

  -if @home_page.student_testimonials.any?
    =render partial: 'student_testimonials', locals: {home_page: @home_page}

  -if @home_page.blog_posts.any?
    =render partial: 'blog_posts_section', locals: {home_page: @home_page}

  =render partial: 'customer_support_section'


-if @home_page.pricing_section && @home_page.preferred_payment_frequency && @preferred_plan

  :javascript
    let currencyIso = "#{@preferred_plan.currency.iso_code}";
    let name = "#{@preferred_plan.name}";
    let id = "#{@preferred_plan.id}";
    let price = "#{@preferred_plan.price}";
    let body = "#{@preferred_plan.exam_body.name}";
    let type = "#{'Subscription'}";



    function addToCart(currencyIso, name, id, price, body) {
      dataLayer.push({
        'event': 'addToCart',
        'ecommerce': {
          'currencyCode': currencyIso,
          'add': {
            'products': [{
              'name': name,
              'id': id,
              'price': price,
              'brand': body,
              'category': 'Subscription',
              'quantity': 1
              }]
          }
        }
      });
    }

    $(document).ready(function(){
      addToCart(currencyIso, name, id, price, body);
    });

    function selectTab(tab, currencyIso, name, id, price, body, type) {
      dataLayer.push({ 'event': 'checkout',
        'ecommerce': {
          'currencyCode': currencyIso,
          'checkout': {
            'actionField': {'step': 1, 'option':tab},
            'products': [{
              'name': name,
              'id': id,
              'price': price,
              'brand': body,
              'category': type,
              'quantity': 1
            }]
          }
        }
      });
    }

    $(document).ready(function(){

      if ($("#registration-login")[0]) {
        selectTab(document.querySelector("#register-tab").innerText, currencyIso, name, id, price, body, type);
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          selectTab(e.target.innerText, currencyIso, name, id, price, body, type);
        })
      } else if ($("#registration-option")[0]) {
          selectTab('Register', currencyIso, name, id, price, body, type);
      } else if ($("#login-option")[0]) {
          selectTab('Login', currencyIso, name, id, price, body, type);
      }

    });



:javascript

  $(window).scroll(function() {
    var scroll = $(window).scrollTop();

    if (scroll >= 1) {
        //clearHeader, not clearheader - caps H
        $(".header").addClass("sticky-nav-border");
    } else if (scroll <= 1) {
      $(".header").removeClass("sticky-nav-border");
    }
  });