%article.card.card-primary.card-primary-alt.p-0
  -if plan.most_popular
    .card-banner.bg-mint
      %large.text-white
        Most popular payment plan
  .card-body.text-center.py-3.py-sm-4
    .card-title
      %h2
        =t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")
      %p.h2.mb-0
        =plan.currency.format_number(plan.price)

      -if plan.savings_label
        %p.h5.text-orange
          =plan.savings_label
      -else
        .pb-3


    -if btn
      .mt-4
        =link_to subscription_checkout_special_link(plan.exam_body_id, plan.guid, params[:login]), class: 'btn btn-secondary btn-sm', onclick: "addToCart('#{plan.currency.iso_code}', '#{plan.name}', '#{plan.id}', '#{plan.price}', '#{plan.exam_body.name}');" do
          Choose this plan
    -else
      .pt-3.pt-md-4
        %i.material-icons.icon-bg-round.text-mint.bg-mint-light{"aria-label" => "selected", :role => "img"} check
