%main
  %article.bg-gray5
    .container
      %header.hero-section.hero-section-external
        %h1.h2-hero.mb-2
          -if @plan
            = "#{@plan ? @plan.exam_body.name : 'Exam'} Tuition Registration"
          -elsif @product
            = "#{@product.mock_exam.name} Purchase Process"

      %section.pb-md-6.pb-5

        .row
          -if @plan
            .col-md-4.mb-5.mb-xl-0
              %article.card.card-primary.card-pink
                .card-body.text-center
                  %h2.h1.card-title
                    =t("views.general.payment_frequency_in_months.a#{@plan.payment_frequency_in_months}")
                  %p
                    Cancel anytime

                  %p="Access to all #{@plan.exam_body.name} courses"
                  %p="Topic-by-topic video lectures"
                  %p="24/7 tutor support"

                  %p.h3
                    =@plan.currency.format_number(@plan.price)


                  -if @plan.monthly_percentage_off
                    %p.h5
                      Save over
                      =@plan.monthly_percentage_off
                      ='%'


          -elsif @product
            .col-md-4.mb-5.mb-xl-0
              %article
                .card.card-link.text-center.mb-5
                  .py-4
                    %h4.text-ellipsis.mb-4
                      =@product.mock_exam.try(:name)
                    .pt-2
                      %i.budicon-files-tick{"aria-label" => "", :role => "img"}
                    .pt-5
                      %p.h4.mb-3.text-torquoise
                        Total:
                        %span
                          =number_in_local_currency(@product.price, @product.currency_id)



          .col-md
            .form-box.sign-in-register
              #session-tabs
                %nav
                  %ul.nav.nav-tabs.nav-justified{id: 'sessionTabs', role: 'tablist'}
                    %li.nav-item
                      %a{href: "#registration-tab", role: 'tab', class: 'nav-link active', data: {toggle: 'tab'}, aria: {controls: "registration", selected: 'true'}}
                        ='Register'
                    %li.nav-item
                      %a{href: "#sign-in-tab", role: 'tab', class: 'nav-link', data: {toggle: 'tab'}, aria: {controls: "sign-in", selected: 'false'}}
                        ='Log In'


              #sessionTabsContent.tab-content
                .tab-pane.registration-tab.active.show{id: 'registration-tab', role: 'tabpanel', 'aria-labelledby': 'registration-tab'}
                  .row.row-lg
                    .col-sm-12
                      =render partial: 'sign_up_form'

                .tab-pane.sign-in-tab{id: 'sign-in-tab', role: 'tabpanel', 'aria-labelledby': 'sign-in-tab'}
                  .row.row-lg
                    .col-sm-12
                      =render partial: 'sign_in_form'

