%main
  %article.bg-gray5
    .container
      %header.hero-section
        %h1.h2-hero.mb-2
          -if @plan
            = "#{@plan ? @plan.exam_body.name : 'Exam'} Tuition Registration"
          -elsif @product
            = "#{@product.name_by_type} Purchase Process"
          -elsif @exam_body
            = "#{@exam_body.name} Tuition Registration"
          -else
            = "Register or Login"

      .row.row-lg
        -if @plan
          .col-lg-4
            .card.text-center.mb-4.hero-section-tutor-card.mt-4
              .hero-section-show-link-window
              .py-4.pb-0
                .h3
                  =t("views.general.payment_frequency_in_months.a#{@plan.payment_frequency_in_months}")
              .pb-4
                .text-center
                  %p.h2.mb-0
                    =@plan.currency.format_number(@plan.price)
                .row
                  .pt-4.col-md-12.hero-section-responsive-view-course
                    %p.h5.text-orange.mb-0
                      =@plan.savings_label
                    .py-4.col-md-12.hero-section-responsive-view-course
                      %p
                        %i.material-icons.icon-bg-round.text-mint.bg-mint-light{"aria-label" => "selected", :role => "img"} check

                  .pb-2.col-md-12.hero-section-responsive-view-course
                    %p.small.mb-0
                      Recurring Payment
                    %p.small.mb-0
                      Cancel Anytime



        -elsif @product
          .col-lg-4
            .card.text-center.mb-4.hero-section-tutor-card.mt-4
              .hero-section-show-link-window
              .py-4
                .h3
                  =@product.name_by_type
              .pb-1
                .text-center
                  %p.h2.mb-0
                    =number_in_local_currency(@product.price, @product.currency)
                .row
                  .pt-6.col-md-12.hero-section-responsive-view-course
                    %p
                      %i.material-icons.icon-bg-round.text-mint.bg-mint-light{"aria-label" => "selected", :role => "img"} check
                  .pb-2.col-md-12.hero-section-responsive-view-course
                    %p.small.my-4
                      One-time Payment



        .col-lg-8{class: "#{(@plan || @product) ? '' : 'offset-2'}"}
          =render partial: 'registration_login_form'


:javascript

  $(document).ready(function(){
    let hash = window.location.hash;
    let elements = $('a[href="' + hash + '"]');

    if (elements.length > 0) {
      elements.click();
      setTimeout(function() {
          window.scrollTo(0, 0);
      }, 1);
    }

    if ($(".notice.error")[0]){
      let tabId = $(".notice.error").parent().parent().parent().parent().attr('id');
      let tabLink = $('#' + tabId + '-tab');
      tabLink.tab('show');
    }
  })


-if @plan || @product
  :javascript
    function selectTab(tab, currencyIso, name, id, price, body, type) {
      dataLayer.push({ 'event': 'checkout',
        'ecommerce': {
          'currencyCode': currencyIso,
          'checkout': {
            'actionField': {'step': 1, 'option':tab},
            'products': [{
              'name': name,
              'id': id,
              'price': price,
              'brand': body,
              'category': type,
              'quantity': 1
            }]
          }
        }
      });
    }

    let currencyIso = "#{@plan ? @plan.currency.iso_code : @product.currency.iso_code}";
    let name = "#{@plan ? @plan.name : @product.name}";
    let id = "#{@plan ? @plan.id : @product.id}";
    let price = "#{@plan ? @plan.price : @product.price}";
    let body = "#{@plan ? @plan.exam_body.name : @product.name_by_type}";
    let type = "#{@plan ? 'Subscription' : 'Exam Papers'}";

    $(document).ready(function(){
      selectTab(document.querySelector("#register-tab").innerText, currencyIso, name, id, price, body, type);
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      selectTab(e.target.innerText, currencyIso, name, id, price, body, type);
    })
