.question{style: hide_me ? 'display: none;' : '', id: "question_#{question.difficulty_level}_#{question.id}"}
  .row
    .col-sm-12
      .well.well-sm
        =render partial: 'quiz_contents/index', locals: {contents: question.quiz_contents}
  .row
    .col-sm-12
      %h3=t('views.quiz_questions.show.choose_an_answer')
  -question.quiz_answers.each_with_index do |qa, counter|
    .row
      .col-sm-12
        .well.well-sm.quiz-answer-clickable{onclick: "logAnswer(#{question.id},#{qa.id},'#{question.difficulty_level}', #{qa.degree_of_wrongness == 'correct'}); return false;"}
          %table
            %tr
              %td.col-xs-2
                =('A'..'Z').to_a[counter]
              %td
                =render partial: 'quiz_contents/index', locals: {contents: qa.quiz_contents}
  %small
    %small.text-muted
      QID:
      =question.id
