.container-fluid
  %header.management-console-section
    %h1
      =t('views.exercises.admin.correct_cbe.h1') + " - #{@cbe&.name}"
    %p
      =@cbe_user_log.user.email

  %article.card.card-tabs.mb-5
    .card-body.bg-gray4
      %nav
        %ul.nav.nav-tabs.nav-fill{id: 'sectionTabs', role: 'tablist'}
          - @cbe_user_log.sections_in_user_log.each_with_index do |section, section_index|
            %li.nav-item
              %a{class: "nav-link #{section_index == 0 ? 'active' : ''}", data: {toggle: 'tab'}, href: "#section-#{section.id}", aria: {controls: "#{section.id}", selected: 'false'}, role: 'tab'}
                =section.name

      .bg-gray5
        .container.py-1
          #sectionTabsContent.tab-content
            -@cbe_user_log.sections_in_user_log.each_with_index do |section, section_index|
              -all_section_questions =  @cbe.questions.by_section(section.id)
              -section_questions     =  @cbe_user_log.questions.by_section(section.id)
              .tab-pane{id: "section-#{section.id}", class: "tab-#{section.id} #{section_index == 0 ? 'active show' : ''} ", "aria-labelledby" => "section-#{section.id}-tab", :role => "tabpanel"}
                .row.pt-4
                  .col-sm-2
                    %nav.mb-4.account-nav
                      %ul#questionTabs.nav.nav-tabs.nav-tabs-vertical.wrap-tabs{:role => "tablist"}
                        -# all_section_questions
                        -all_section_questions.each_with_index do |question, index|
                          %li.nav-item
                            %a.nav-link{class: index == 0 ? 'active' : '', id: "#section-#{section.id}-question-#{question.id}", "aria-controls" => "section-#{section.id}-question-#{question.id}", "aria-selected" => "true", "data-toggle" => "tab", :href => "#section-#{section.id}-question-#{question.id}", :role => "tab"}
                              ="Question #{index+1}"

                  .col-sm-10
                    #questionTabsContent.tab-content
                      -all_section_questions.each_with_index do |question, index|
                        -user_question = section_questions.select{ |q| q.cbe_question_id == question.id }.first
                        .tab-pane.tab-account.tab-personal-info{class: index == 0 ? 'show active' : '', id: "section-#{section.id}-question-#{question.id}", "aria-labelledby" => "personal-info-tab", :role => "tabpanel"}
                          .row
                            .col-sm
                              .h4
                                Question Type:
                                =question.kind.humanize
                            -if user_question
                              .col-sm-3
                                .h4
                                  Correct:
                                  =user_question.correct
                              .col-sm-3
                                .h4{ id: "user_question_#{question.id}" }
                                  Score:
                                  =user_question.score
                            -else
                              .col-sm-3
                                .h4
                                  Correct: false
                              .col-sm-3
                                .h4{ id: "user_question_#{question.id}" }
                                  Score: 00.00

                          .accordion#resultsAccordion
                            .card
                              .card-header.bg-gray-light#questionHeading{type: "button", data:{toggle: "collapse", target: "#questionCard"}, aria:{expanded: "true", controls: "questionCard"}, style: 'padding: 10px;'}
                                %h2.mb-0
                                  .btn.btn-link
                                    ='Question Content: '
                              #questionCard.collapse{aria: {labelledby: "questionHeading"}, data: {parent: "#resultsAccordion"}}
                                .card-body{style: 'margin-left: 10px;'}
                                  =raw(question.content)

                            .card
                              .card-header.bg-gray-light#solutionHeading{type: "button", data:{toggle: "collapse", target: "#solutionCard"}, aria:{expanded: "true", controls: "solutionCard"}, style: 'padding: 10px;'}
                                %h2.mb-0
                                  .btn.btn-link
                                    ='Suggested Solution: '
                              #solutionCard.collapse{aria: {labelledby: "solutionHeading"}, data: {parent: "#resultsAccordion"}}
                                .card-body{style: 'margin-left: 10px;'}
                                  =raw(question.solution)

                          .question_answers.pt-4
                            .h5
                              Answer Content
                            -if user_question&.answers.present?
                              =render_admin_answers(user_question)
                            -else
                              Question not answered by the student

  .row
    .col-sm-12
      .box-item.table-box
        .h4.cbe_score
          ="Current Overall Score: #{@cbe_user_log.score}/#{@total_score} - #{@percent_score}%"
        .cbe_user_log_comment
          =form_with(url: cbe_user_log_update_admin_exercise_path(cbe_user_log_id: @cbe_user_log.id, id: @cbe_user_log.exercise_id), html: {class: 'form-horizontal', role: 'form'}) do
            .row.pt-2
              .col-sm-12
                .form-group
                  =label_tag :educator_comment, 'Overall Comment:'
                  .input-group.input-group-lg
                    =text_area_tag(:educator_comment, @cbe_user_log.educator_comment, id: "#{@cbe_user_log.id}-editor", as: 'summernote')
            .row.pt-3
              .col-sm-6
                =submit_tag("Update", class: 'btn btn-primary', id: 'overall_score_btn')
                %div{:id => "#{@cbe_user_log.id}-response"}

  .row
    .col-sm-12
      .box-item.table-box
        %div
          =link_to t('views.general.back'), admin_exercises_path, class: 'btn btn-warning btn-xs'
          -unless @exercise.returned?
            =link_to t('views.general.return'), return_cbe_admin_exercise_path(@exercise.id), data: {confirm: 'Do you want to finish your correction and return it to user?'}, method: :post, class: 'btn btn-primary btn-xs'

:javascript
  $("##{@cbe_user_log.id}-editor").summernote({
    disableDragAndDrop: true,
    height: 150
  });
