.row
  .col-sm-12
    %h2 Flash Card Pack

.row
  .col-sm-12
    .panel-group#cme-flash-card-pack{role: 'tablist', aria: {multiselectable: true }}
      =f.fields_for :course_module_element_flash_card_pack do |pack|
        =pack.hidden_field :course_module_element_id
        -counter = -1
        =pack.fields_for :flash_card_stacks do |stack|

          -if stack.object == pack.object.flash_card_stacks.first && !stack.object.flash_cards.any?
            -new_card = stack.object.flash_cards.build(flash_card_stack_id: stack.object.id, sorting_order: 0)
            -new_card.quiz_contents.build(text_content: '', sorting_order: 0, content_type: 'text')

          -elsif stack.object == pack.object.flash_card_stacks.first && stack.object.flash_quiz.nil?
            -flash_quiz = stack.object.build_flash_quiz(background_color: '#222222', foreground_color: '#eeeeee')
            -question = flash_quiz.quiz_questions.build(difficulty_level: 'easy')
            -question_qc = question.quiz_contents.build(content_type: 'text', sorting_order: 0)
            -answer1 = question.quiz_answers.build
            -answer1_qc = answer1.quiz_contents.build(content_type: 'text', sorting_order: 0)
            -answer2 = question.quiz_answers.build
            -answer2_qc = answer2.quiz_contents.build(content_type: 'text', sorting_order: 0)

          -counter += 1
          .panel.panel-default{id: counter == 0 ? 'first-stack' : ''}
            =stack.hidden_field :id, class: 'stack_id stack_field'
            =stack.hidden_field :sorting_order, class: 'stack_sorting_order stack_field'
            =stack.hidden_field :_destroy, class: 'stack-destroy stack_field'
            .panel-heading{id: "heading_#{counter}", role: 'tab'}
              .row
                .col-sm-1
                  %a{data: {toggle: 'collapse', parent: '#cme-flash-card-pack'}, href: "#collapse_#{counter}", aria: {expanded: true, controls: "collapse_#{counter}"}, class: 'h2 disclosure-triangles addDisclosureBehaviour'}
                    -if counter == 0
                      %span.glyphicon.glyphicon-chevron-down{title: t('views.general.tooltips.click_to_view')}
                    -else
                      %span.glyphicon.glyphicon-chevron-right{title: t('views.general.tooltips.click_to_view')}
                .col-sm-4#stack-title
                  =stack.text_field :name, placeholder: t('views.flash_card_packs.form.name_placeholder'), class: 'form-control stack_field', required: true
                .col-sm-4#stack-btn
                  =stack.text_field :final_button_label, placeholder: t('views.flash_card_packs.form.final_button_label_placeholder'), class: 'form-control stack_field', required: true

                .col-sm-2#content-type-select
                  -if stack.object.flash_quiz && stack.object.flash_cards.length > 0
                    =stack.select :content_type, FlashCardStack::CONTENT_TYPES, {}, {class: 'form-control stack_field', onchange: "$(this).closest('.panel').find('.card_panel').toggleClass('hide');"}
                  -elsif stack.object.flash_quiz
                    .form-control-static Quiz
                    =stack.hidden_field :content_type, class: 'stack_field'
                  -elsif stack.object.flash_cards
                    .form-control-static Cards
                    =stack.hidden_field :content_type, class: 'stack_field'
                  -else
                    .form-control-static UNKNOWN!!
                    -Rails.logger.error "ERROR: app/views/course_module_element_flash_card_packs/_form.html.haml encountered an unknown flash_card_stack type. Stack: #{stack.object.inspect}. Pack: #{pack.object.inspect}. User-ID: #{current_user.id}."
                .col-sm-1
                  .form-control-static
                    =link_to '#', class: 'removeFlashCardStack pull-left', id: 'delete-stack' do
                      %span.glyphicon.glyphicon-trash{title: t('views.general.delete')}
                    %span.glyphicon.glyphicon-sort.pull-right{title: t('views.general.tooltips.coming_soon')}

            .panel-collapse.collapse{id: "collapse_#{counter}", class: (counter == 0 ? 'in' : ''), role: 'tabpanel', aria: {labelledby: "heading_#{counter}"}}
              .panel-body
                .card_panel.card_panel_cards{class: stack.object.content_type == 'Quiz' ? 'hide' : ''}
                  =render partial: 'flash_cards/fields_for', locals: {f: f, stack: stack, pack: pack}
                .card_panel.card_panel_quiz{class: stack.object.content_type == 'Quiz' ? '' : 'hide'}
                  =render partial: 'flash_quizzes/fields_for', locals: {f: f, stack: stack, pack: pack}
.row
  .col-sm-12
    %p=link_to 'Add a new card stack', '#', class: 'btn btn-info btn-sm addNewFlashCardStack'

%hr
