=form_for(@current_subscription, method: :put, html: {class: 'form-horizontal', role: 'form', id: 'upgrade-subscription-form'}) do |f|
  =f.hidden_field :subscription_plan_id

  .modal.fade#upgrade-subscription-modal{tabindex: '-1',  role: 'dialog',  aria: {labelledby: 'upgradeSubscriptionLabel', hidden: 'true'}}
    .l-margin-top-big
      .modal-dialog
        .modal-content.is-bg-asphalt.l-padding-side-15
          .container-fluid
            .modal-header
              .row
                .col-md-12.l-margin-bottom.l-margin-top
                  %button{type: 'button', class: 'close', "data-dismiss": 'modal', "aria-label": 'Close', style: 'font-size: 30px'} &times;
                  %h2.modal-title#upgradeSubscriptionLabel{style: 'width: 95%'}
                    =t('views.users.show.change_subscription_plan')
              .row
                .col-sm-10.col-sm-offset-1
                  .row
                  -@current_subscription.upgrade_options.each do|plan|
                    .subscription-panel.no-image-box-item{class: "col-sm-#{12 / @current_subscription.upgrade_options.size} #{@current_subscription.subscription_plan_id == plan.id ? 'selected' : ''}", id: "subscription-panel-#{plan.id}", data: {plan: plan.id}, onclick: "$('#subscription_subscription_plan_id').val($(this).data('plan') ); if (#{@current_subscription.subscription_plan_id} == $(this).data('plan')) {$('#upgrade-submit').addClass('disabled');} else {$('#upgrade-submit').removeClass('disabled');} $('.subscription-panel').removeClass('selected'); $(this).addClass('selected');"}
                      %h4=t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")
                      %p
                        -plan.description.lines.each do |line|
                          =line
                          %br/

              .btn.btn-cyan.l-margin-right-big.l-padding-side-3x.l-margin-top{type: 'button', data: {dismiss: 'modal'}}=t('views.general.cancel')
              =f.submit t('views.users.show.upgrade_now'), id: 'upgrade-submit', class: 'btn btn-red l-margin-right-big l-padding-side-3x l-margin-top'