=form_for(@current_subscription, method: :put, html: {class: 'form-horizontal', role: 'form', id: 'upgrade-subscription-form'}) do |f|
  =f.hidden_field :subscription_plan_id

  .modal.fade#upgrade-subscription-modal{tabindex: '-1',  role: 'dialog',  aria: {labelledby: 'upgradeSubscriptionLabel', hidden: 'true'}}
    .modal-dialog
      .modal-content
        .modal-body
          %h4.modal-title.l-margin-bottom-big#upgradeSubscriptionLabel=t('views.users.show.upgrade_subscription_plan')
          .row
            .col-sm-10.col-sm-offset-1
              .row
              -@current_subscription.upgrade_options.each do|plan|
                .subscription-panel.no-image-box-item{class: "col-sm-#{12 / @current_subscription.upgrade_options.size} #{@current_subscription.subscription_plan_id == plan.id ? 'selected' : ''}", id: "subscription-panel-#{plan.id}", data: {plan: plan.id}, onclick: "$('#subscription_subscription_plan_id').val($(this).data('plan') ); if (#{@current_subscription.subscription_plan_id} == $(this).data('plan')) {$('#upgrade-submit').addClass('disabled');} else {$('#upgrade-submit').removeClass('disabled');} $('.subscription-panel').removeClass('selected'); $(this).addClass('selected');"}
                  %h4=t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")
                  %p
                    -plan.description.lines.each do |line|
                      =line
                      %br/

        .modal-footer
          .btn.btn-cyan.l-margin-right-big.l-padding-side-3x.l-margin-top{type: 'button', data: {dismiss: 'modal'}}=t('views.general.cancel')
          =f.submit t('views.users.show.upgrade_now'), id: 'upgrade-submit', class: 'btn btn-red l-margin-right-big l-padding-side-3x l-margin-top'
