.container
  %header.management-console-section
    %h1
      =t('views.dashboard.admin.preview_csv.h1')
    %p.p-hero.px-lg-8
      Please check that the data below is correct and then click Submit

  %section.pb-3
    .row
      .col-md-12
        =form_tag(import_csv_upload_path, authenticity_token: true, id: 'import_csv_corporate_students_form', role: 'form', class: 'form-horizontal') do

          .box-item.table-box.pt-3
            =label(:user_group_id, t('views.users.form.user_group_id'))
            =select_tag(:user_group_id, options_for_select(@user_groups.collect{ |u| [u.name, u.id] }), {include_blank: t('views.general.select'), class: 'form-control'})

            .table-responsive.pt-4
              %table.table
                %thead
                  %tr
                    %th
                      Email
                    %th
                      First Name
                    %th
                      Last Name
                    %th
                      Preferred Exam Body
                    %th
                      Errors
                %tbody
                  -@users.each_with_index do |user, idx|
                    =hidden_field_tag "csvdata[#{idx}][email]",      user.email
                    =hidden_field_tag "csvdata[#{idx}][first_name]", user.first_name
                    =hidden_field_tag "csvdata[#{idx}][last_name]",  user.first_name
                    =hidden_field_tag "csvdata[#{idx}][preferred_exam_body_id]", user.preferred_exam_body_id

                    - errors = preview_csv_user_errors(user.errors)
                    %tr{id: "csvdata-#{idx}"}
                      %td
                        =user.email
                      %td
                        =user.first_name
                      %td
                        =user.last_name
                      %td
                        =user.preferred_exam_body&.name
                      %td
                        =errors.map { |e| "<p style= 'color: #dc3545;'>#{e}</p>" }.join("\n").html_safe

            .row
              .col-sm-12
                =submit_tag 'Submit', class: 'btn btn-primary' unless @has_errors
                =link_to t('views.general.cancel'), users_url, class: 'btn btn-secondary'
