= link_to t('views.subject_areas.index.h1'), subject_areas_url, class: (controller_name == 'subject_areas' ? 'label label-info' : 'label label-default')
= link_to t('views.institutions.index.h1'), institutions_url, class: (controller_name == 'institutions' ? 'label label-info' : 'label label-default')
= link_to t('views.qualifications.index.h1'), qualifications_url, class: (controller_name == 'qualifications' ? 'label label-info' : 'label label-default')
= link_to t('views.exam_levels.index.h1'), exam_levels_url, class: (controller_name == 'exam_levels' ? 'label label-info' : 'label label-default')
= link_to t('views.exam_sections.index.h1'), exam_sections_url, class: (controller_name == 'exam_sections' ? 'label label-info' : 'label label-default')
= link_to t('views.course_modules.index.h1'), course_modules_url, class: (controller_name == 'course_modules' ? 'label label-info' : 'label label-default')
