%main.bg-gray5

  %article#start-screen
    .container
      %header.hero-section{style: 'padding-top: 2rem;'}
        -if @exam_body.new_onboarding && current_user&.home_page&.onboarding_welcome_heading
          %ul.step-bar
            %li.active
            %li
            %li
          %h1.h1-hero.my-4
            =current_user.home_page.onboarding_welcome_heading
        -else
          %h1.h1-hero.my-4
            Welcome to learnsignal!
        %p.p-hero.px-lg-6
          -if @exam_body.new_onboarding && current_user&.home_page&.onboarding_welcome_subheading
            =current_user.home_page.onboarding_welcome_subheading.html_safe
          -else
            We’re delighted you’ve decided to study with us. Let’s get started.
      .pt-2.text-center
        %btn.btn.btn-primary.onboarding-get-start{onclick: 'showLevelSelection(); return false;', data: { exam_body_id: @group&.exam_body&.id, exam_body_name: @group&.exam_body&.name, preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name, banner: 'false', onboarding: current_user&.analytics_onboarding_valid?.to_s }}
          Get started

    .container-bg.mt-5
      .container
        %article.py-4
          %header.pb-sm-4.pb-md-5
            .row.row-lg
              .col-10.offset-1
                .d-md-none
                  =image_tag('onboarding-bg-image-sm.png', alt: 'Logo')
                .d-none.d-md-block
                  =image_tag('onboarding-bg-image.png', alt: 'Logo')




  -if @levels.any?
    %article
      .d-none#level-selection-screen
        .container
          %header.hero-section{style: 'padding-top: 2rem;'}
            -if @exam_body.new_onboarding && current_user&.home_page&.onboarding_level_heading
              %ul.step-bar
                %li.active
                %li.active
                %li
              %h1.h2-hero.my-4
                =current_user.home_page.onboarding_level_heading
            -elsif @group.onboarding_level_heading.present?
              %h1.h2-hero.my-4
                =@group.onboarding_level_heading
            -else
              What level are you doing?
            %p.p-hero.px-lg-6
              -if @exam_body.new_onboarding && current_user&.home_page&.onboarding_level_subheading
                =current_user.home_page.onboarding_level_subheading.html_safe
              -elsif @group.onboarding_level_subheading.present?
                =@group.onboarding_level_subheading
              -else
                Select your course so we can guide you on your learning journey

        .container-bg.mt-4
          .container-md
            %article.py-4
              %header.pb-sm-4.pb-md-5
                .row
                  -@levels.each do |level|
                    .col-12.col-md-8.offset-md-2
                      .card.card-horizontal.card-horizontal-xs.flex-row.onboarding-card.onboarding-level{onclick: "showCourses(#{level.id}); return false;", data: { level_id: level.id, level_name: level.name, exam_body_id: @group&.exam_body&.id, exam_body_name: @group&.exam_body&.name, preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name, banner: 'false', onboarding: current_user&.analytics_onboarding_valid?.to_s }}
                        .card-header.white-header.d-flex.justify-content-center.align-items-center
                          %i{"aria-label" => level.icon_label, :role => "img", class: level.icon_label, style: "color: #{level.highlight_colour};"}
                        .card-body.d-flex.flex-column.justify-content-center
                          %h5.card-title.mb-1
                            %span.mr-1
                              =level.name

            .py-2.text-center
              %btn.btn.btn-secondary.btn-sm.btn-sm-arrow-left.onboarding-back-button{onclick: 'showStartScreen(); return false;', data: { exam_body_id: @group&.exam_body&.id, exam_body_name: @group&.exam_body&.name, preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name, banner: 'false', onboarding: current_user&.analytics_onboarding_valid?.to_s }}
                Go Back
              -if @exam_body.new_onboarding
                =link_to library_special_link(@group), class: 'btn btn-secondary btn-sm btn-sm-arrow-right onboarding-back-button' do
                  Skip



      -@levels.each do |level|
        .d-none.course-selection-screens{id: "course-selection-screen-#{level.id}"}
          .container
            %header.hero-section{style: 'padding-top: 2rem;'}
              -if @exam_body.new_onboarding
                %ul.step-bar
                  %li.active
                  %li.active
                  %li.active
              %h1.h2-hero.my-4
                =level.onboarding_course_heading
              %p.p-hero.px-lg-6
                =level.onboarding_course_subheading

          .container-bg.mt-4
            .container-md
              %article.py-4
                %header.pb-sm-4.pb-md-5
                  .row.row-lg
                    -level.courses.all_active.all_in_order.each do |course|
                      .col-12.col-md-6
                        - link = @exam_body.new_onboarding ? course_special_link(course) : course_special_link(course.first_active_cme)
                        =link_to link, class: 'card card-horizontal flex-row card-mint onboarding-course course-link', data: { course_id: course.id, course_name: course.name, level_id: level.id, level_name: level.name, exam_body_id: @group&.exam_body&.id, exam_body_name: @group&.exam_body&.name, preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name, banner: 'false', onboarding: current_user&.analytics_onboarding_valid?.to_s } do
                          .card-header.d-flex.justify-content-center.align-items-center
                            %i{"aria-label" => course.icon_label, :role => "img", class: course.icon_label ? course.icon_label : 'budicon-office-bag-c', style: "color: #{course.highlight_colour};"}
                          .card-body.d-flex.flex-column.justify-content-center
                            %h5.card-title.mb-1
                              %span.mr-1
                                =course.name

                .py-2.text-center
                  %btn.btn.btn-secondary.btn-sm.btn-sm-arrow-left.onboarding-back-button{onclick: 'showLevelSelection(); return false;', data: { level_id: level.id, level_name: level.name, exam_body_id: @group&.exam_body&.id, exam_body_name: @group&.exam_body&.name, preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name, banner: 'false', onboarding: current_user&.analytics_onboarding_valid?.to_s }}
                    Go Back
                  -if @exam_body.new_onboarding
                    =link_to library_special_link(@group), class: 'btn btn-secondary btn-sm btn-sm-arrow-right onboarding-back-button' do
                      Skip

  - else
    .d-none.course-selection-screens{id: "fallback-course-selection-screen"}
      .container
        %header.hero-section{style: 'padding-top: 2rem;'}
          %h1.h2-hero.my-4
            What course are you doing?

      .container-bg.mt-4
        .container-md
          %article.py-4
            %header.pb-sm-4.pb-md-5
              .row.row-lg
                -@group.courses.all_active.all_in_order.each do |course|
                  .col-12.col-md-6
                    - link = @exam_body.new_onboarding ? course_special_link(course) : course_special_link(course.first_active_cme)
                    =link_to link, class: 'card card-horizontal flex-row card-mint onboarding-course course-link', data: { course_id: course.id, course_name: course.name, exam_body_id: @group&.exam_body&.id, exam_body_name: @group&.exam_body&.name, preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name, banner: 'false', onboarding: current_user&.analytics_onboarding_valid?.to_s } do
                      .card-header.d-flex.justify-content-center.align-items-center
                        %i{"aria-label" => course.icon_label, :role => "img", class: course.icon_label ? course.icon_label : 'budicon-office-bag-c', style: "color: #{course.highlight_colour};"}
                      .card-body.d-flex.flex-column.justify-content-center
                        %h5.card-title.mb-1
                          %span.mr-1
                            =course.name

            .py-2.text-center
              %btn.btn.btn-secondary.btn-sm.btn-sm-arrow-left.onboarding-back-button{onclick: 'showStartScreen(); return false;', data: { exam_body_id: @group&.exam_body&.id, exam_body_name: @group&.exam_body&.name, preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name, banner: 'false', onboarding: current_user&.analytics_onboarding_valid?.to_s }}
                Go Back
              -if @exam_body.new_onboarding
                =link_to library_special_link(@group), class: 'btn btn-secondary btn-sm btn-sm-arrow-right onboarding-back-button' do
                  Skip

:javascript
  function showLevelSelection() {
    $("#start-screen").addClass('d-none');
    $(".course-selection-screens").addClass('d-none');
    $("#level-selection-screen").removeClass('d-none');
    $("#fallback-course-selection-screen").removeClass('d-none');
  };

  function showStartScreen() {
    $("#level-selection-screen").addClass('d-none');
    $("#start-screen").removeClass('d-none');
  };

  function showCourses(level_id) {
    $("#level-selection-screen").addClass('d-none');
    $("#course-selection-screen-" + level_id).removeClass('d-none');
  };

  $('.course-link').click(function (event) {
    $.ajax({
      url: "#{user_update_hubspot_path(current_user.id)}",
      method: 'post',
      data: JSON.stringify({'custom_data': {'onboarding_course': this.dataset.courseName } } ),
      contentType: 'application/json',
      success: function(data,status,xhr){
        console.log(xhr)
      },
      error: function(xhr,status,error){
        console.log(xhr);
      }
    });
  });
