%main
  %article.bg-gray5
    .container
      %header.hero-section{style: 'padding-top: 2rem;'}
        %h1.h2-hero.mb-2
          Welcome to learnsignal
        %p.p-hero.px-lg-6
          Get started with basic access or subscribe to become a full member

      %section.pb-md-6.pb-5
        .row
          .col-md-6.col-sm-12.pb-4
            %h3
              What do I get on a basic plan?
            %p
              Login to complete the free courses and get 2 CPD credits for free. Explore the online platform to see how easy it is to record all your verifiable CPD units in one place!
            %ul{style: 'text-align: left; list-style:disc;'}
              %li
                2 free CPD courses
              %li
                Access to the platform
              %li
                Download and share your certificates!

            .d-none.d-md-block
              %h3.pt-4
                What do I get as a paid member?
              %p
                As a full learnsignal member you get access to all CPD courses immediately for a full year.
              %ul{style: 'text-align: left; list-style:disc;'}
                %li
                  Instant access to 60+ specialist courses for one price
                %li
                  Complete and record all your CPD units for 2019/2020 in one place
                %li
                  Share your CPD credentials with employers and professional networks
                %li
                  Maintain your ACCA status and professional competencies
                %li
                  Save time and money!

              %h3.pt-4
                Why should I choose learnsignal?
              %p
                As a gold approved ACCA provider, we know what it takes to continuously upskill to maintain your skills and knowledge. That’s why we’ve designed online CPD courses for accounting professionals that fit in with your life and schedule.


          .col-md-6.col-sm-12
            -if @courses
              %section
                %h3
                  Get your free CPD unit
                %h2.sr-only Get your free CPD unit
                .row
                  -@courses.each do |course|
                    .col
                      =link_to library_special_link(course), class: 'card card-horizontal flex-row card-mint', style: 'margin-bottom: 60px;' do
                        .card-body.d-flex.flex-column
                          %h5.card-title.mb-2
                            %span
                              =course.name
                          .row
                            .col
                              %span{style: "color: #{course.highlight_colour};"}
                                =course.unit_label
                            .col-sm-8{style: 'text-align: right;'}
                              %small.card-category{style: "color: #{course.highlight_colour};"}
                                %span
                                  =course.category_label
                          .pt-4.text-center
                            .btn.btn-primary{style: 'padding: 6px 35px; 5px 35px;'}
                              %span
                                Try Now!

            .d-md-none.pb-4
              %h3.pt-4
                What do I get as a paid member?
              %p
                As a full learnsignal member you get access all CPD courses immediately for a full year.

            -if @subscription_plan
              %section
                %h3 Annual Subscription
                %h2.sr-only Annual Subscription Info
                .row
                  .col
                    %article.card
                      .card-body
                        %h5
                          Pay once and get access to all CPD courses for a full year.

                        .row
                          .col
                            %ul{style: 'text-align: left; list-style:disc;'}
                              %li="Access 60+ CPD courses"
                              %li="Record all 21 verifiable CPD points"
                              %li="Get certified on completion"
                              %li="Access & download key resources"
                              %li="VAT included"

                          .col.text-center
                            %p.h2.mt-4.mb-0
                              =@subscription_plan.currency.format_number(@subscription_plan.price)

                            .mt-4
                              =link_to subscription_checkout_special_link(@subscription_plan.exam_body_id, @subscription_plan.guid), class: 'btn btn-primary btn-sm', onclick: "addToCart('#{@subscription_plan.currency.iso_code}', '#{@subscription_plan.name}', '#{@subscription_plan.id}', '#{@subscription_plan.price}', '#{@subscription_plan.exam_body.name}');" do
                                GET FULL ACCESS
