.payment-details.credit-card
  .payment-errors
    .form-group.cc
      .clearfix
        #card-element
        #card-errors.invalid-details{role: 'alert'}

  .row
    .col-sm-12.mb-2.mt-3.mt-sm-4{style: 'border-top: 1px solid #e0e0e0;'}
      .price
        %h4.m-0.mt-4.d-flex.justify-content-between
          %span Total:
          %span.value=number_in_local_currency(@order.product.price, @order.product.currency)

    .col-xl-12.mb-4.mt-sm-4
      = f.button :submit, class: 'btn btn-primary w-100 mb-2', onclick: "sendClickEventToSegment('clicks_payment_subscribe', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', programName: '#{@order&.product&.group&.name}', productName: '#{@order&.product&.name_by_type}', planPrice: '#{@order&.product&.price}', paymentType: '#{@order&.product&.product_type.humanize}', subscriptionType: 'Product', paymentProviderType: 'Stripe'})", id: 'card_submit' do
        ='Purchase Now'

      %button.btn.btn-primary.spinning-loading.w-100{:disabled => "disabled", :type => "button", :style => "padding: 12px;"}
        %span.spinner-border.spinner-border-sm{"aria-hidden" => "true", :role => "status"}
        %span.spinner-message

