.payment-details.pay-pal
  .row
    .col-sm-12.mb-2.mt-3.mt-sm-4{style: 'border-top: 1px solid #e0e0e0;'}
      %h4.m-0.mt-4.d-flex.justify-content-between
        %span Total:
        %span.value#paypal-total-value
          =number_in_local_currency(@order.product.price, @order.product.currency)

    .col-sm-12.mb-2.mt-sm-4.text-right
      = f.button :submit, class: 'btn btn-img mb-4', id: 'paypal_submit', onclick: "sendClickEventToSegment('clicks_payment_subscribe', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', programName: '#{@order.product.group.name}', productName: '#{@order.product.name_by_type}', planPrice: '#{@order.product.price}', discountedPrice: parseFloat($('#discounted_price').val().substring(1)), discountCode: $('#coupon_code').val(), paymentType: '#{@order&.product&.product_type.humanize}', subscriptionType: 'Product', planType: '#{@order&.product&.product_type}', paymentProviderType: 'Paypal'})" do
        =image_tag('checkout-logo-large.png', :alt => "PayPal Button")

      .spinner-border.text-success.spinning-loading{:role => "status"}
        %span.sr-only Loading...

