%main.subscriptionPageWrapper
  .subscriptionPageWrapper-header.navbar.navbar-expand-lg
    .container.p-0.d-flex.align-items-center.justify-content-start
      =link_to '#', class: 'main-header-backBtn js-browser-back-btn' do
        .i.material-icons{:style => "font-size: 20px;margin-right: 12px;margin-top: 6px;"} arrow_back
      .main-header-content
        .container.subscriptionPageWrapper-logo.hidden-xs
          =link_to '#', class: 'navbar-brand logo js-browser-back-btn' do
            =image_tag('Learnsignal-Logo.svg', class: 'logo-img', alt: "LearnSignal Logo")
        %div.header-title-lesson.visible-xs
          = 'Purchase'
      #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
        %ul.navbar-nav.align-items-lg-center
          -if current_user
            %li.nav-item.dropdown
              %a#navbarDropdown.navbar-login.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                .nav-login-box
                  %span.navbar-login-userName
                    =current_user.first_name.to_s
                    =current_user.last_name.to_s
                    %span.navbar-login-userEmail
                      =current_user.email
              .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
                =link_to t('views.users.show.h1'), account_url, class: 'nav-link dropdown-item', onclick: "sendClickEventToSegment('clicks_my_account', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}'})"
                =link_to t('views.general.log_out'), sign_out_url, class: 'nav-link dropdown-item logout', onclick: "sendClickEventToSegment('logout', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}'})"

          -else
            %li.nav-item.w-100.text-center.py-2
              =link_to 'Login', sign_in_url, {class: 'nav-link'}
            %li.nav-item.w-100.text-center.py-2
              =link_to new_student_url, class: 'btn btn-primary nav-link px-4' do
                %span Register



  %article.subscriptionPageWrapper-coreWrapper.container
    %section.pb-2#wrapper
      #product_purchase
        =form_for([@product, @order], html: {id: 'orders-form', role: 'form'}) do |f|
          =f.hidden_field :product_id, value: @order.product.id
          =f.hidden_field :stripe_payment_method_id
          =f.hidden_field :use_paypal, value: false
          - if @product.product_type = 'course_access'
            =f.hidden_field :course_id, value: @product.course_id
          =render partial: '/layouts/error_messages', locals: {thing: @order, message: nil}
          
          %div
            .container
              -if flash[:success] || flash[:error] || flash[:warning]
                .row.subscription-flash
                  .col-xs-12
                    =render partial: 'layouts/flash_messages'

            .container.p-0
              .subscriptionPageWrapper-infoBox
                .subscriptionPageWrapper-detailsBox
                  %header.mb-4.hidden-xs
                    %h1.h2-hero.mb-2.text-left
                      Purchase
                  .col-lg-12.p-0
                    .text-left.mb-5
                      .d-flex.py-0
                        .mr-4
                          =product_icon(@order.product)
                        %div
                          .mb-2
                            .text-left
                              %span{style: 'font-size: 1.5rem;line-height: 2rem;color: #00b67b;font-weight: 700;'}
                                =number_in_local_currency(@order.product.price, @order.product.currency)
                          %div.h3.mb-1.text-black
                            =@order.product.name_by_type
                          %p.mb-2.text-gray1
                            =order_short_description(@order)
                  .hidden-xs.alert-secondary.px-4{style: 'background-color: #f5f5f7;padding: 2rem;border-radius: 16px;'}
                    %p.text-left
                      =order_description(@order)
                    
                  -if @order.product.faqs.any?
                    %article.bg-white.hidden-xs
                      .container.p-0
                        %header.hero-section.px-0.pb-0
                          %h3.h2-hero.mb-2.text-left
                            FAQs 🤔
                        .row
                          .col-sm-12
                            %section.px-md-12.pb-6
                              -@order.product.faqs.each do |faq|
                                .faq-box.faq-quest-box
                                  .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("d-md-block"); $(this).find(".faq-answer-expanded").toggleClass("d-none"); $(this).find(".closed-icon").toggleClass("d-none"); $(this).find(".opened-icon").toggleClass("d-none");'}
                                    .faq-title
                                      .div.m-0{style: 'width: calc(100% - 24px);'}
                                        =faq.question_text.html_safe
                                      %i.material-icons.closed-icon{style: 'position: absolute;right: 14px;top: 14px;'} keyboard_arrow_down
                                      %i.material-icons.opened-icon.d-none{style: 'position: absolute;right: 14px;top: 14px;'} keyboard_arrow_up
                                    .faq-answer-expanded.d-none
                                      =faq.answer_text.html_safe

                .subscriptionPageWrapper-optionsBox
                  %fieldset.card.card-payments.m-0
                    .wholeTabs
                      .subscriptionPageWrapper-optionsBox-optionTabs
                        .subscriptionPageWrapper-optionsBox-optionTabs-Tab.active.js-option-wrapper-stripe
                          .custom-control.custom-radio
                            %input#pay-with-card.custom-control-input.style-radio{ name: 'payment-options', type: 'radio', value: 'stripe', checked: true }
                            %label.tab-label{ for: 'pay-with-card' }
                              %span.custom-label-info
                                %span.m-0
                                  %span Credit / Debit Card
                        .subscriptionPageWrapper-optionsBox-optionTabs-Tab.js-option-wrapper-paypal
                          .custom-control.custom-radio
                            %input#pay-with-paypal.custom-control-input.style-radio{name: 'payment-options', type: 'radio', value: 'paypal' }
                            %label.tab-label{for: 'pay-with-paypal'}
                              %span.custom-label-info
                                %span.0.m-0
                                  =image_tag('ico-paypal.svg', alt: 'PayPal Logo', class: 'logo-icon mr-1')
                                  %span PayPal

                    .subscriptionPageWrapper-paymentOptionsWrapper
                      .subscriptionPageWrapper-paymentOptionsWrapper-optionForm.js-option-wrapper-stripe
                        .subscriptionPageWrapper-paymentOptionsWrapper-header
                          %span Pay with Card
                        =render partial: 'orders/order_card_form', locals: {f: f}
                        
                      .subscriptionPageWrapper-paymentOptionsWrapper-optionForm.js-option-wrapper-paypal
                        .subscriptionPageWrapper-paymentOptionsWrapper-header
                          %span Pay with PayPal
                        =render partial: 'orders/paypal_form', locals: {f: f}


                .visible-xs.alert-secondary.px-4{style: 'background-color: #f5f5f7;padding: 1rem;border-radius: 16px;'}
                  %p.text-left
                    =order_description(@order)

                -if @order.product.faqs.any?
                  %article.bg-white.visible-xs
                    .container.p-0
                      %header.hero-section.px-0.pb-0
                        %h3.h2-hero.mb-2.text-left
                          FAQs 🤔
                      .row
                        .col-sm-12
                          %section.px-md-12.pb-6
                            -@order.product.faqs.each do |faq|
                              .faq-box.faq-quest-box
                                .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("d-md-block"); $(this).find(".faq-answer-expanded").toggleClass("d-none"); $(this).find(".closed-icon").toggleClass("d-none"); $(this).find(".opened-icon").toggleClass("d-none");'}
                                  .faq-title
                                    .div.m-0{style: 'width: calc(100% - 24px);'}
                                      =faq.question_text.html_safe
                                    %i.material-icons.closed-icon{style: 'position: absolute;right: 14px;top: 14px;'} keyboard_arrow_down
                                    %i.material-icons.opened-icon.d-none{style: 'position: absolute;right: 14px;top: 14px;'} keyboard_arrow_up
                                  .faq-answer-expanded.d-none
                                    =faq.answer_text.html_safe
    

:javascript

  let currencyIso = "#{@order.product.currency.iso_code}";
  let productName = "#{@order.product.name}";
  let productId = "#{@order.product.id}";
  let productPrice = "#{@order.product.price}";
  let productBody = "#{@order.exam_body_name}";
  let productBodyId = "#{@order.exam_body_id}";
  let productType = "#{@order.product&.product_type}";
  let analyticsData = {exam_body_id: productBodyId, exam_body_name: productBody, onboarding: "#{current_user&.onboarding_process&.active&.to_s}", product_id: productId, product_name: productName, product_price: productPrice, currency_iso_code: currencyIso};
  let segmentData = { userId: '#{@current_user&.id}', email: '#{@current_user&.email}', hasValidSubscription: '#{@current_user&.valid_subscription?}', isEmailVerified: '#{@current_user&.email_verified}', preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', programName: productBody, productName: productName, planPrice: productPrice, paymentType: '#{@order&.product&.product_type.humanize}', subscriptionType: 'Product', planType: productType  };

  $(document).on('ready', function() {

    // $('#pay-with-card').closest('.custom-control').siblings('.payment-details').slideDown();
    // $('#pay-with-paypal').closest('.custom-control').siblings('.payment-details').slideUp();
    // selectPaymentMethod($('.form-group-expandable').val(), false);
    $("#pay-with-card").on( "click", function(event) {
      segmentData.paymentProviderType = 'Stripe';
      sendClickEventToSegment('clicks_payment_type_toggle', segmentData)
    });
    $("#pay-with-paypal").on( "click", function(event) {
      segmentData.paymentProviderType = 'Paypal';
      sendClickEventToSegment('clicks_payment_type_toggle', segmentData)
    });
    
    $('.js-option-wrapper-stripe').addClass('active');

    $('.subscriptionPageWrapper-optionsBox-optionTabs').on('change', '.custom-control-input[type="radio"][name="payment-options"]', function() {
      $(this).closest('.card').find('.custom-control-input[type="radio"]').closest('.custom-control').siblings('.payment-details').slideUp();
      if ($(this).is(':checked')) {
        if ($(this).val() == 'stripe') {
          $('.js-option-wrapper-paypal').removeClass('active');
          $('.js-option-wrapper-stripe').addClass('active');
        } else {
          $('.js-option-wrapper-paypal').addClass('active');
          $('.js-option-wrapper-stripe').removeClass('active');

        }
        
        $(this).closest('.custom-control').siblings('.payment-details').slideDown();
        selectPaymentMethod($(this).val(), true);
        $('#stripe_terms_and_conditions').prop('required', true);
        $('#paypal_terms_and_conditions').prop('required', true);
      }
    });

    function selectPaymentMethod(paymentType, click) {
      switch(paymentType) {
        case 'paypal':
          $('#order_use_paypal').val(true);
          break;
        case 'stripe':
          $('#order_use_paypal').val(false);
          break;
        default:
          $('#order_use_paypal').val(false);
      }
    }

    function acceptedTerms(paymentType) {
      switch(paymentType) {
        case 'paypal':
          $('#stripe_terms_and_conditions').prop('required', false);
          return true;
        case 'stripe':
          $('#paypal_terms_and_conditions').prop('required', false);
          return true;
        default:
          return false;
      }
    }


    $(".spinning-loading").hide();

    var style = {
      base: {
        color: '#32325d',
        lineHeight: '18px',
        fontFamily: '"Manrope", sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        fontWeight: '500',
        '::placeholder': {
          color: '#9CA3AF'
        }
      },
      invalid: {
        color: '#fd5c63',
        iconColor: '#fd5c63',
        fontWeight: '500',
      }
    };

    var stripe = Stripe('#{ENV['LEARNSIGNAL_V3_STRIPE_PUBLIC_KEY']}');
    var elements = stripe.elements();

    var card = elements.create('card', {hidePostalCode: true, style: style});
    card.mount('#card-element');

    // Create a token when the form is submitted.
    var form = document.getElementById('orders-form');
    form.addEventListener('submit', function(e) {
      e.preventDefault();
      //Replace submit button with spinning JS
      $('#card_submit').prop('disabled',true);
      $('#card_submit').hide();
      $('#paypal_submit').prop('disabled',true);
      $('#paypal_submit').hide();
      $(".spinner-message").html("Please wait...");
      $(".spinning-loading").show();
      if ($('#order_use_paypal').val() === 'true') {
        if(acceptedTerms('paypal')){
          document.getElementById('orders-form').submit();
        }
      } else {
        if(acceptedTerms('stripe')){
          createPaymentMethod();
        }
      }
    });

    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    function createPaymentMethod() {
      stripe.createPaymentMethod('card', card).then(function(result) {
        if (result.error) {
          resetForm(result.error)
        } else {
          $('#order_stripe_payment_method_id').val(result.paymentMethod.id);
          $.ajax({
            type: 'POST',
            url: "#{product_orders_path(@order.product)}",
            data: $(form).serialize(),
            dataType: 'json',
            success: function(data,status,xhr){
              if(data.status == 'pending_3d_secure'){
                handlePayment(data.client_secret, data.id)
              }else if(data.status == 'completed'){
                // Can we add a flash message ?
                window.location.replace(data['url']);
              }
            },
            error: function(xhr,status,error){
              if (xhr.status === 500) {
                resetForm('Something went wrong! Please contact us for assistance.');
                segmentData.errorReason = 'Something went wrong! Please contact us for assistance.';
                sendClickEventToSegment('initiate_payment_failed', segmentData);
              } else {
                resetForm(xhr.responseJSON.error);
                segmentData.errorReason = xhr.responseJSON.error;
                sendClickEventToSegment('initiate_payment_failed', segmentData);
              }
            }
          });
        }
      });
    };

    function handlePayment(client_secret, order_id){
      let orderStatus = '';
      $(".spinner-message").html("Still processing...");
      stripe.handleCardAction(client_secret, card).then(function(result) {
        if (result.error) {
          resetForm(result.error);
          orderStatus = 'pending';
        } else {
          orderStatus = result['paymentIntent']['status'];
        }
          $.ajax({
            type: 'PATCH',
            url: '/orders/' + order_id,
            data: { status: orderStatus },
            dataType: 'json',
            success: function(data,status,xhr){
              if (data.status == 'completed') {
                // Can we add a flash message ?
                window.location.replace(data['url']);
              } else {
                resetForm(data);
              }
            },
            error: function(xhr,status,error){
              resetForm(xhr.responseJSON.error);
            }
        });
      });
    };

    function resetForm(error) {
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = error.message;
      $('#card_submit').prop('disabled',false);
      $('#card_submit').show();
      $('#paypal_submit').show();
      $(".spinning-loading").hide();
    }


    let banner = "#{@banner.present?.to_s}";
    let preferredExamBodyId = "#{current_user&.preferred_exam_body_id}";
    let preferredExamBody = "#{current_user&.preferred_exam_body&.name}";
    let onboarding = "#{current_user&.analytics_onboarding_valid?.to_s}";

    fbq('track', 'Initiate Checkout', {
      value: productPrice,
      preferredExamBodyId: preferredExamBodyId,
      preferredExamBody:preferredExamBody ,
      examBodyId: productBodyId,
      examBodyName: productBody,
      currency: currencyIso,
      country: "#{current_user&.country&.name}",
      productId: productId,
      productPrice: productPrice,
      productName: productName,
      productType: productType,
      content_category: 'Product'
    });

    window.uetq = window.uetq || [];
    window.uetq.push('event', 'Initiate Checkout', {
      'event_category': 'Product',
      'event_label': productBody,
      'event_value': productPrice
    });

    $(".js-browser-back-btn").on( "click", function(event) {
      event.preventDefault();
      if(document.referrer == "") {
        window.location.href = "/dashboard";
      } else {
        const { hostname } = new URL(document.referrer);
        if(hostname.includes('app.learnsignal.com' || 'locahost')) {
          window.location.href = "/dashboard";
        } else {
          history && history.back();
        }
      }
    });
  });

