%main
  %article.bg-gray5
    -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'
    .container
      %header.hero-section
        %h1.h2-hero.mb-2
          Purchase Complete

      %section.pb-md-6.pb-5
        .row.justify-content-center
          .col-xs-12.col-sm-8
            .box-item.text-center
              %p
                ="Your payment receipt for #{@product.name_by_type} will be sent to #{current_user&.email}"

              =link_to @studies_link do
                .btn.btn-primary
                  ="Continue Your Studies"


:javascript
  $(document).ready(function(){
    window.uetq = window.uetq || [];
    window.uetq.push('event', 'Purchase', {
      'event_category': "#{@product&.product_type.humanize}",
      'event_label': "#{@product&.product_type}",
      'event_value': "#{@product.price}"
    });

    fbq('track', 'Purchase', {
      value: "#{@product&.price}",
      currency: "#{@product&.currency&.iso_code}",
      product_id: "#{@product&.id}",
      name: "#{@product&.name}",
      brand: "#{@product&.product_type}",
      content_category: "#{@product&.product_type.humanize}"
    });

    gtag('event', 'purchase', {
      "transaction_id": "#{@order&.id}",
      "affiliation": "products",
      "value": "#{@product&.price}",
      "currency": "#{@product&.currency&.iso_code}",
      "items": [
        {
          "id": "#{@product&.id}",
          "name": "#{@product&.name}",
          "brand": "#{@product&.product_type}",
          "category": "#{@product&.product_type.humanize}",
          "quantity": 1,
          "price": "#{@product&.price}"
        },
      ]
    });
  });
