%main
  %article.bg-gray5
    -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'
    .container
      %header.hero-section
        %h1.h2-hero.mb-2
          Purchase Complete

      %section.pb-md-6.pb-5
        .row.justify-content-center
          .col-xs-12.col-sm-8
            .box-item.text-center
              %p
                ="Your payment receipt for #{@product.name_by_type} will be sent to #{current_user&.email}"

              =link_to @studies_link do
                .btn.btn-primary
                  ="Continue Your Studies"


:javascript
  $(document).ready(function(){
    window.uetq = window.uetq || [];
    window.uetq.push('event', 'Purchase', {
      'event_category': "#{@product&.product_type.humanize}",
      'event_label': "#{@product&.product_type}",
      'event_value': "#{@product.price}"
    });

    fbq('track', 'Purchase', {
      value: "#{@product&.price}",
      currency: "#{@product&.currency&.iso_code}",
      product_id: "#{@product&.id}",
      name: "#{@product&.name}",
      brand: "#{@product&.product_type}",
      content_category: "#{@product&.product_type.humanize}"
    });

    if("#{@product&.url_by_type}" === "lifetime" && "#{@subscriptions.any?}" === "false") {
      gtag('event', 'purchase', {
        "transaction_id": "#{@order&.id}",
        "affiliation": "products",
        "value": "#{@product&.price}",
        "currency": "#{@product&.currency&.iso_code}",
        "items": [
          {
            "id": "#{@product&.id}",
            "name": "#{@product&.name}",
            "brand": "#{@product&.product_type}",
            "category": "#{@product&.product_type.humanize}",
            "quantity": 1,
            "price": "#{@product&.price}"
          },
        ]
      });
    }

    let banner = "#{@banner.present?.to_s}";
    let preferredExamBodyId = "#{current_user&.preferred_exam_body_id}";
    let preferredExamBody = "#{current_user&.preferred_exam_body&.name}";
    let onboarding = "#{current_user&.analytics_onboarding_valid?.to_s}";

    analytics.page('Payment Complete', {
      preferredExamBodyId: preferredExamBodyId,
      preferredExamBody:preferredExamBody ,
      banner: banner,
      onboarding: onboarding,
      examBodyId: "#{@product&.group&.exam_body&.id}",
      examBodyName: "#{@product&.group&.exam_body&.name}",
      country: "#{current_user&.country&.name}",
      currency: "#{@product&.currency&.iso_code}",
      paymentType: "Product",
      price: "#{@product&.price}",
      productType: "#{@product&.product_type.humanize}",
      productName: "#{@product&.name}",
      productId: "#{@product&.id}",
      paymentProvider: "#{@order&.payment_provider}"
    });
  });
