%main
  %article.bg-gray5
    -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'
    .container
      %header.hero-section
        %h1.h2-hero.mb-2
          Purchase Complete

      %section.pb-md-6.pb-5
        .row.justify-content-center
          .col-xs-12.col-sm-8
            .box-item.text-center
              %p
                ="Your payment receipt for #{@product.name_by_type} will be sent to #{current_user&.email}"

              =link_to @studies_link do
                .btn.btn-primary
                  ="Continue Your Studies"


:javascript
  $(document).ready(function(){
    window.uetq = window.uetq || [];
    window.uetq.push('event', 'Product Purchases', {
      'event_category': "#{@product&.product_type.humanize}",
      'event_label': "#{@product&.product_type}",
      'event_value': "#{@product.price}"
    });

    fbq('track', 'Product Purchases', {
      value: "#{@product&.price}",
      currency: "#{@product&.currency&.iso_code}",
      product_id: "#{@product&.id}",
      name: "#{@product&.name}",
      brand: "#{@product&.product_type}",
      content_category: "#{@product&.product_type.humanize}"
    });

    if("#{@product&.url_by_type}" === "lifetime") {
      gtag('event', 'Product Purchases', {
        "transaction_id": "#{@order&.id}",
        "affiliation": "products",
        "value": "#{@product&.price}",
        "currency": "#{@product&.currency&.iso_code}",
        "items": [
          {
            "id": "#{@product&.id}",
            "name": "#{@product&.name}",
            "brand": "#{@product&.product_type}",
            "category": "#{@product&.product_type.humanize}",
            "quantity": 1,
            "price": "#{@product&.price}"
          },
        ]
      });
    }

    let banner = "#{@banner.present?.to_s}";
    let preferredExamBodyId = "#{current_user&.preferred_exam_body_id}";
    let preferredExamBody = "#{current_user&.preferred_exam_body&.name}";
    let onboarding = "#{current_user&.analytics_onboarding_valid?.to_s}";

    let segmentProps = {      
      email: "#{current_user&.email}",      
      userId: "#{current_user&.email}",                
      isLoggedIn: "#{current_user&.email}",
      sessionId: "#{session&.id}",
      name: 'APP : Payment Complete',
      preferredExamBodyId: "#{current_user&.preferred_exam_body_id}",
      preferredExamBody: "#{current_user&.preferred_exam_body&.name}",
      programName: "#{@product&.group&.name}",
      productName: "#{@product&.name}",
      planPrice: "#{@product&.price}",
      planType: "#{@product&.product_type}",
      paymentType: "#{@product&.product_type.humanize}",
      subscriptionType: "Product",
      paymentProviderType: "#{@payment_processor}"
    };

    let segmentData = createBasePropertiesSegment(segmentProps);

    analytics.page('Page Views', segmentData.name, segmentData);
  });
