.card.card-collapse.mb-4
  - # TODO add hover text colour change
  %a.btn.btn-text.btn-collapse.w-100.text-left{'data-toggle': "collapse", href: "#collapse_#{course_module.name_url}_#{counter}", role: "button", 'aria-expanded': "false", 'aria-controls': "collapse_#{course_module.name_url}_#{counter}",id: course_module.id}
    .lesson-item.w-100{class: @completed_student_exam_tracks && @completed_course_module_ids.include?(course_module.id) ? 'completed' : ''}
      %i.material-icons.icon-bg-round{"aria-label" => "", :role => "img"}
        - if current_user && course_module.all_content_restricted? && !(current_user.active_subscription_for_exam_body?(@group.exam_body_id) || current_user.user_group.site_admin)
          lock_outline
        - else
          check
      .lesson-item-content.pl-3
        .d-flex.flex-column.flex-sm-row.align-items-start.align-items-sm-center
          %p.lesson-item-text.text-truncate.w-100
            =course_module.name
          %small.lesson-item-tag.ml-sm-auto.text-sm-right
            -if course_module.temporary_label.present?
              %span{style: 'color: #fd7e14;'}
                =course_module.temporary_label
            -else
              %span
                -if course_module.cme_count.positive?
                  =course_module.cme_count.to_s + ' ' + t('views.library.show.lessons')
                -else
                  =course_module.cme_count.to_s + ' ' + t('views.library.show.lesson')


  .collapse{id: "collapse_#{course_module.name_url}_#{counter}"}
    .card-body
      %ul.list-unstyled
        -course_module.active_children.each do |cme|

          %li.py-2.border-top

            - if current_user #Logged In User
              -if @valid_subscription
                =link_to course_special_link(cme, @subject_course_user_log), class: 'btn btn-text py-3 w-100 text-left' do
                  .lesson-item.lesson-item-inner.w-100{class: @cmeuls && @cmeuls_ids.include?(cme.id) ? (@completed_cmeuls_cme_ids.include?(cme.id) ? 'completed' : 'failed') : ''}
                    %i.material-icons.icon-bg-round{"aria-label" => "failed", :role => "img"}
                      =cme.icon_label

                    .lesson-item-content.pl-3
                      .d-flex.flex-column.flex-sm-row.align-items-start
                        %p.lesson-item-text
                          =cme.name
                        %small.lesson-item-tag.ml-sm-auto.text-sm-right
                          -if cme.temporary_label && !cme.temporary_label.empty?
                            %span{style: 'color: #fd7e14;'}
                              =cme.temporary_label
                          -else
                            %span
                              -if cme.is_video && cme.estimated_time_in_seconds
                                =humanize_time(cme.estimated_time_in_seconds)
                              -elsif cme.is_quiz
                                -if cme.number_of_questions.to_i > 1
                                  =cme.number_of_questions.to_s + ' ' +  t('views.library.show.questions')
                                -else
                                  =cme.number_of_questions.to_s + ' ' +  'Question'

              -else
                - permission = cme.available_to_user(current_user, @group.exam_body_id, @subject_course_user_log)

                - if permission[:view]

                  =link_to course_special_link(cme, @subject_course_user_log), class: 'btn btn-text py-3 w-100 text-left' do
                    .lesson-item.lesson-item-inner.w-100{class: @cmeuls && @cmeuls_ids.include?(cme.id) ? (@completed_cmeuls_cme_ids.include?(cme.id) ? 'completed' : 'failed') : ''}
                      %i.material-icons.icon-bg-round{"aria-label" => "failed", :role => "img"}
                        =cme.icon_label


                      .lesson-item-content.pl-3
                        .d-flex.flex-column.flex-sm-row.align-items-start
                          %p.lesson-item-text
                            =cme.name
                          %small.lesson-item-tag.ml-sm-auto.text-sm-right
                            -if cme.temporary_label && !cme.temporary_label.empty?
                              %span{style: 'color: #fd7e14;'}
                                =cme.temporary_label
                            -else
                              %span
                                -if cme.is_video && cme.estimated_time_in_seconds
                                  =humanize_time(cme.estimated_time_in_seconds)
                                -elsif cme.is_quiz
                                  -if cme.number_of_questions.to_i > 1
                                    =cme.number_of_questions.to_s + ' ' +  t('views.library.show.questions')
                                  -else
                                    =cme.number_of_questions.to_s + ' ' +  'Question'


                - else
                  %a.btn.btn-text.py-3.w-100.text-left{data: {target: "##{permission[:reason]}", toggle: 'modal', related: cme.related_course_module_element.try(:name)}, href: '#'}
                    .lesson-item.lesson-item-inner.w-100{class: @cmeuls && @cmeuls_ids.include?(cme.id) ? (@completed_cmeuls_cme_ids.include?(cme.id) ? 'completed' : 'failed') : ''}
                      %i.material-icons.icon-bg-round{"aria-label" => "failed", :role => "img"}
                        lock_outline
                      .lesson-item-content.pl-3
                        .d-flex.flex-column.flex-sm-row.align-items-start
                          %p.lesson-item-text
                            =cme.name
                          %small.lesson-item-tag.ml-sm-auto.text-sm-right
                            -if cme.temporary_label.present?
                              %span{style: 'color: #fd7e14;'}
                                =cme.temporary_label
                            -else
                              %span
                                -if cme.is_video && cme.estimated_time_in_seconds
                                  =humanize_time(cme.estimated_time_in_seconds)
                                -elsif cme.is_quiz
                                  -if cme.number_of_questions.positive?
                                    =cme.number_of_questions.to_s + ' ' +  t('views.library.show.questions')
                                  -else
                                    =cme.number_of_questions.to_s + ' ' +  'Question'

            - else #Anonymous User
              %a.btn.btn-text.py-3.w-100.text-left{data: {target: '#account-required', toggle: 'modal', href: '#'}}
                .lesson-item.lesson-item-inner.w-100
                  %i.material-icons.icon-bg-round{"aria-label" => "failed", :role => "img"}
                    =cme.icon_label

                  .lesson-item-content.pl-3
                    .d-flex.flex-column.flex-sm-row.align-items-start
                      %p.lesson-item-text
                        =cme.name
                      %small.lesson-item-tag.ml-sm-auto.text-sm-right
                        -if cme.temporary_label && !cme.temporary_label.empty?
                          %span{style: 'color: #fd7e14;'}
                            =cme.temporary_label
                        -else
                          %span
                            -if cme.is_video && cme.estimated_time_in_seconds
                              =humanize_time(cme.estimated_time_in_seconds)
                            -elsif cme.is_quiz
                              -if cme.number_of_questions.to_i > 1
                                =cme.number_of_questions.to_s + ' ' +  t('views.library.show.questions')
                              -else
                                =cme.number_of_questions.to_s + ' ' +  'Question'