.modal.fade{id: 'pricing-modal', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'pricingModal', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content.pricing
      %button.btn.btn-text.modal-close.p-0{"data-dismiss" => "modal"}
        %span.sr-only Close Modal
        %i.material-icons{"aria-hidden" => "true"} close
      .modal-header.mb-1
        %h3{id: 'pricingOptions'}
          Payment Options

      .modal-body
        .row
          - if @course_product
            .col-sm-6.col-md-4
              .card.text-center.mb-4.hero-section-tutor-card.mt-4{style: 'height: 360px'}
                = link_to '', product_link(@course_product, current_user, params[:login]), class: 'hero-section-show-link-window'
                .py-4
                  .h3
                    =@course_product.name_by_type
                  .text-center
                    %p.h2.mb-0
                      =number_in_local_currency(@course_product.price, @course_product.currency)
                  .row
                    -if @course_product.savings_label.present?
                      .py-0.col-md-12.hero-section-responsive-view-course
                        %p.h5.text-orange.mb-0
                          =@course_product.savings_label
                        .pt-4.pb-2.col-md-12.hero-section-responsive-view-course
                          %p
                            = link_to 'Pay Now', product_link(@course_product, current_user, params[:login]), class: 'btn btn-secondary btn-sm'
                    -else
                      .pt-5.col-md-12.hero-section-responsive-view-course{style: 'padding-bottom: 3px !important;'}
                        %p
                          = link_to 'Pay Now', product_link(@course_product, current_user, params[:login]), class: 'btn btn-secondary btn-sm'

                    .pb-2.col-md-12.hero-section-responsive-view-course
                      %p.small.my-4
                        One-time Payment


          -@subscription_plans.each do |plan|
            .col-sm-6.col-md-4
              .card.text-center.mb-4.hero-section-tutor-card.mt-4{style: 'height: 360px'}
                = link_to '', pricing_url(@group.name_url), class: 'hero-section-show-link-window'
                .py-4
                  .h3
                    =t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")
                  .text-center
                    %p.h2.mb-0.pt-5
                      =plan.currency.format_number(plan.price)
                  .row
                    -if !plan.savings_label.blank?
                      .py-1.col-md-12.hero-section-responsive-view-course
                        %p.h5.text-orange.mb-0
                          =plan.savings_label
                        .pt-4.pb-2.col-md-12.hero-section-responsive-view-course
                          %p
                            = link_to 'Subscribe Now', subscription_checkout_special_link(plan.exam_body_id, plan.guid, params[:login]), class: 'btn btn-secondary btn-sm'
                    -else
                      .pt-4.col-md-12.hero-section-responsive-view-course
                        %p.h5.text-orange.mb-0
                          =plan.savings_label
                        .pt-4.pb-2.col-md-12.hero-section-responsive-view-course
                          %p
                            = link_to 'Subscribe Now', subscription_checkout_special_link(plan.exam_body_id, plan.guid, params[:login]), class: 'btn btn-secondary btn-sm'

                    .py-2.pb-0.col-md-12.hero-section-responsive-view-course
                      %p.small.mb-0
                        Recurring Payment
                      %p.small.mb-0
                        Cancel Anytime

          -if @lifetime_product
            .col-sm-6.col-md-4
              .card.text-center.mb-4.hero-section-tutor-card.mt-4
                = link_to '', product_link(@lifetime_product, current_user, params[:login]), class: 'hero-section-show-link-window'
                .py-4
                  .h3
                    =@lifetime_product.name_by_type
                  .text-center
                    %p.h2.mb-0
                      =number_in_local_currency(@lifetime_product.price, @lifetime_product.currency)
                  .row
                    -if @lifetime_product.savings_label.present?
                      .py-0.col-md-12.hero-section-responsive-view-course
                        %p.h5.text-orange.mb-0
                          =@lifetime_product.savings_label
                        .pt-4.pb-2.col-md-12.hero-section-responsive-view-course
                          %p
                            = link_to 'Pay Now', product_link(@lifetime_product, current_user, params[:login]), class: 'btn btn-secondary btn-sm'
                    -else
                      .pt-5.col-md-12.hero-section-responsive-view-course{style: 'padding-bottom: 3px !important;'}
                        %p
                          = link_to 'Pay Now', product_link(@lifetime_product, current_user, params[:login]), class: 'btn btn-secondary btn-sm'

                    .pb-2.col-md-12.hero-section-responsive-view-course
                      %p.small.my-4
                        One-time Payment
