%div.container.d-flex.libraryGroupWrapper-list.pt-4.pb-4
  %nav.levels-nav
    %ul.d-flex.flex-column.nav.nav-pills.nav-fill{id: 'levelsTabs', role: 'tablist'}
      - @levels.each_with_index do |level, counter|
        %li.nav-item{data: {tab_name: level.name, group_name: @group.name}}
          %a{class: "nav-link #{counter == 0 ? 'active' : ''}", id: "#{level.name_url}-tab", data: {toggle: 'tab'}, href: "##{level.name_url}", aria: {controls: "#{level.name_url}", selected: 'false'}, role: 'tab'}
            =level.name



  %section.container.content-section
    %h2.sr-only List of Courses
    #levelsTabsContent.tab-content
      -@levels.each_with_index do |level, counter|
        .tab-pane{id: level.name_url, class: "tab-#{level.name_url} #{counter == 0 ? 'active show' : ''} ", "aria-labelledby" => "#{level.name_url}-tab", :role => "tabpanel"}
          .row.row-lge
            .col-sm
              %h2 FILTERS:
              .search-container
                =form_tag(courses_search_url, method: :post, role: 'form', class: 'form-inline', remote: true) do
                  = select_tag(:key_area_id, options_for_select( @group.key_areas.map{ |k| [k.name, k.id] }), include_blank: '----', onchange: 'jQuery(this).parent().trigger("submit")')

                  = select_tag(:units, options_for_select( @units.each{ |u| ["#{u} units", u] }), include_blank: '----')
                  = select_tag(:hours, options_for_select( @hours.each{ |u| ["#{u} hours", u] }), include_blank: '----')
                  =hidden_field_tag :level_id, level.id

          .row.row-lge{id: "#{level.id}-tabbed-courses-list"}
            =render partial: 'tabbed_courses_list', locals: { courses: level.courses.all_active.all_in_order }
