.panel-group#accordion
  %ul.course-topics-list
    -@tuition_course_modules.each_with_index do |child, counter|
      -if child.children.any?
        %li{role: 'tab', data: {toggle: 'collapse', parent: '#accordion'}, href: "#collapse_tuition_#{counter}"}
          .box-item.lib-panel#headingOne{ aria: {expand: true, controls: "collapse_tuition_#{counter}"}, style: "background-color: #{child.try(:highlight_colour)}"}
            .box-topic-item
              =truncate(child.name, length: 50)
            .time.hidden-xs
              -if child.cme_count.to_i == 1
                =child.cme_count.to_s + ' ' + t('views.library.show.step')
              -elsif child.cme_count.to_i > 1
                =child.cme_count.to_s + ' ' + t('views.library.show.steps')
              -else

      -else
        %li
          .box-item.lib-panel{style: "background-color: #{child.try(:highlight_colour)}"}
            .box-topic-item
              =truncate(child.name, length: 50)
            .time
              %p{style: 'color: #EE5457;'}
                ='Coming Soon!'



      .panel-collapse.collapse.list-group.l-margin-bottom{id: "collapse_tuition_#{counter}", class: (child.id == @child_id ? 'in' : ''), role: 'tabpanel', aria: {labelledby: 'headingOne'} }
        -child.children.all_in_order.all_active.each do |grandchild|

          -if current_user
            =link_to course_special_link(grandchild), class: 'list-group-item link-purple box-topic-item' do
              =render partial: 'panel_content', locals: {grandchild: grandchild}


          -else
            =link_to new_student_url, class: 'list-group-item link-purple box-topic-item' do
              =render partial: 'panel_content', locals: {grandchild: grandchild}

