%main
  %article.courses.bg-white
    .container
      %header
        .d-flex.flex-wrap.flex-sm-nowrap.justify-content-between.py-4.py-md-5
          -if @course.parent
            .mw-0
              =link_to library_special_link(@course.parent), class: 'btn btn-secondary btn-sm btn-sm-arrow-left mb-3 mb-sm-0' do
                =@course.parent.name

          .mw-0
            - if @course.release_date
              %h4.text-warning
                Coming
                =@course.release_date.strftime("%B, %Y")

        .pt-3
          %div
            .courseWrapper-examName
              =@course.parent.name
            .courseWrapper-examName
              =@course.course_section.name
          %h1.h1-hero
            =@course.name

      %section.course-progress
        =render partial: 'course_info'

      %nav.courses-nav
        %ul.nav.nav-tabs{id: 'coursesTabs', role: 'tablist'}
          - @course.course_sections.all_active.all_in_order.each_with_index do |course_section, counter|
            %li.nav-item
              -# TODO add active to first li
              %a{class: "nav-link #{counter == 0 ? 'active' : ''}", id: "#{course_section.name_url}-tab", data: {toggle: 'tab'}, href: "##{course_section.name_url}", aria: {controls: "#{course_section.name_url}", selected: 'false'}, role: 'tab'}
                =course_section.name



.bg-gray5
  .container.py-5.py-sm-6
    #coursesTabsContent.tab-content

      - @course.course_sections.all_active.all_in_order.each_with_index do |course_section, counter|
        .tab-pane{id: course_section.name_url, class: "tab-#{course_section.name_url} #{counter == 0 ? 'active show' : ''} ", "aria-labelledby" => "#{course_section.name_url}-tab", :role => "tabpanel"}
          .row.row-lg
            .col-xl-8
              .mb-5.mb-xl-0
                - course_section.course_lessons.all_active.all_in_order.each_with_index do |course_lesson, counter|
                  .card.card-collapse.mb-4
                    %a.btn.btn-text.btn-collapse.w-100.text-left{data: {target: '#course-preview', toggle: 'modal', href: '#'}}
                      .lesson-item.w-100
                        %i.material-icons.inner-icon-bg-round{"aria-label" => "", :role => "img"}
                          lock_outline
                        .lesson-item-content.ml-2
                          .d-flex.flex-column.flex-sm-row.align-items-start.align-items-sm-center
                            %p.lesson-item-text.text-truncate.w-100
                              =course_lesson.name
                            %small.lesson-item-tag.ml-sm-auto.text-sm-right
                              %span
                                Coming Soon



            .col-xl-4.mb-5
              %aside
                %a.btn.btn-secondary.btn-sm.mb-5{"data-target" => "#ask-a-tutor-modal", "data-toggle" => "modal", :href => "#", onclick: "sendClickEventToSegment('clicks_ask_tutor', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}'})"}
                  Ask the Tutor





-# Modals
=render partial: 'course_preview_modal'
