%main
  %article.courses.bg-white
    .container
      %header
        .d-flex.flex-wrap.flex-sm-nowrap.justify-content-between.py-4.py-md-5
          -if @course.parent
            .mw-0
              =link_to library_special_link(@course.parent), class: 'btn btn-secondary btn-sm btn-sm-arrow-left mb-3 mb-sm-0' do
                =@course.parent.name

          -if @exam_body.has_sittings && @new_enrollment && (@computer_exam_sitting || @exam_sittings)
            .mw-0.preview-upgrade-btn
              %a#enrol-top{data: {target: '#enrollment-modal', toggle: 'modal'}, href: '#', class: 'btn btn-secondary btn-sm mb-3 mb-sm-0 non-upgrade'}
                Enrol
              =render partial: 'course_enrollment_modal'
              =render partial: 'register_upgrade_links', locals: { user: current_user }

        .pt-3
          %h1.h1-hero
            =@course.name

      %section.course-progress
        - if @course_log
          =render partial: 'progress'
        - else
          =render partial: 'course_info'
      %nav.courses-nav
        %ul.nav.nav-tabs{id: 'coursesTabs', role: 'tablist'}
          - @course.course_sections.all_active.all_in_order.each_with_index do |course_section, counter|
            %li.nav-item{data: {tab_name: course_section.name, course_name: @course.name}}
              -# TODO add active to first li
              %a{class: "nav-link #{counter == 0 ? 'active' : ''}", id: "#{course_section.name_url}-tab", data: {toggle: 'tab'}, href: "##{course_section.name_url}", aria: {controls: "#{course_section.name_url}", selected: 'false'}, role: 'tab'}
                =course_section.name

          -if @course_resources.any?
            %li.nav-item{data: {tab_name: 'Resources', course_name: @course.name}}
              %a{href: "#resources", role: 'tab', class: 'nav-link', data: {toggle: 'tab'}, aria: {controls: "resources", selected: 'false'}}
                ='Resources'
          -if @products && @products.any?
            %li.nav-item{data: {tab_name: 'Products', course_name: @course.name}}
              %a{href: "#products", role: 'tab', class: 'nav-link', data: {toggle: 'tab'}, aria: {controls: "products", selected: 'false'}}
                ='Products'

          -#%li.nav-item
            %a#locked-tab.nav-link.locked{"aria-controls" => "locked", "aria-selected" => "false", "data-toggle" => "tab", :href => "#locked", :role => "tab"}
              Locked

=render partial: 'library/user_form_modal', locals: { ticket_type: 'Contact Us', form_id: 'contact-form-modal' }
.bg-gray5
  .container.py-5.py-sm-6
    #coursesTabsContent.tab-content
      - @course.course_sections.all_active.all_in_order.each_with_index do |course_section, counter|
        .tab-pane{id: course_section.name_url, class: "tab-#{course_section.name_url} #{counter == 0 ? 'active show' : ''} ", "aria-labelledby" => "#{course_section.name_url}-tab", :role => "tabpanel"}
          .row.row-lg
            .col-xl-8
              .mb-5.mb-xl-0
                - course_section.course_lessons.all_valid.all_in_order.each_with_index do |course_lesson, counter|
                  =render partial: 'course_lesson', locals: { course_lesson: course_lesson, counter: counter, count: course_section.course_lessons.all_valid.count }

            .col-xl-4.mb-5.custom-upgrade
              =render partial: 'register_upgrade_links', locals: { user: current_user }

              %aside.lesson-preview-btn-pad
                .btn.btn-secondary.btn-sm.mb-5{'data-target' => '#contact-form-modal', 'data-toggle' => 'modal', :href => '#'}
                  =@exam_body&.help_text
      -if @course_resources.any?
        =# VueJS include
        =javascript_pack_tag 'pdf_viewer'

        .tab-pane.tab-resources{id: 'resources', role: 'tabpanel', 'aria-labelledby': 'resources-tab'}
          %section.mb-5
            %h3.text-gray1.mb-4.mb-sm-5 Course Resources
            .row.row-lg
              - @course_resources.each do |resource|
                - if current_user
                  - if @valid_subscription
                    =pdf_viewer(resource, @banner.present?.to_s, current_user)
                  - else
                    - permission = resource.available_to_user(current_user, @valid_subscription)
                    - if  permission[:view]
                      =pdf_viewer(resource, @banner.present?.to_s, current_user)
                    - else
                      .col-sm-6
                        %a.card.card-horizontal.card-horizontal-sm.flex-row.resource-card{data: {target: "##{permission[:reason]}", toggle: 'modal', resource_name: resource.name, resource_id: resource.id,
                         course_name: resource.course.name, course_id: resource.course_id, exam_body_name: resource.course.exam_body.name, exam_body_id: resource.course.exam_body_id, resource_type: resource.type,
                          preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name, banner: @banner.present?.to_s, onboarding: current_user&.analytics_onboarding_valid?.to_s,
                          allowed: 'false'}, href: '#'}
                          .card-header.bg-white.d-flex.align-items-center.justify-content-center
                            %i.budicon-files-download{"aria-label" => "", :role => "img"}
                          .card-body.d-flex.align-items-center.pl-1
                            %h5.m-0.text-truncate.text-gray2
                              =resource.name
                - else
                  .col-sm-6
                    %a.card.card-horizontal.card-horizontal-sm.flex-row.resource-card{data: {target: '#account-required', toggle: 'modal', href: '#', resource_name: resource.name, resource_id: resource.id,
                     preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name, banner: @banner.present?.to_s, onboarding: current_user&.analytics_onboarding_valid?.to_s,
                     course_name: resource.course.name, course_id: resource.course_id, exam_body_name: resource.course.exam_body.name, exam_body_id: resource.course.exam_body_id, resource_type: resource.type, allowed: 'false'}}
                      .card-header.bg-white.d-flex.align-items-center.justify-content-center
                        %i.budicon-files-download{"aria-label" => "", :role => "img"}
                      .card-body.d-flex.align-items-center.pl-1
                        %h5.m-0.text-truncate.text-gray2
                          =resource.name


      -if @products && @products.any?
        .tab-pane.tab-products{id: 'products', role: 'tabpanel', 'aria-labelledby': 'products-tab'}
          %section.mb-5
            %h3.text-gray1.mb-4.mb-sm-5 Exam Preparation Products
            .row.row-lg

              - @correction_pack_products.each do |product|
                .col-sm-6
                  =link_to product_checkout_special_link(product.group.exam_body.id, product.id), class: 'card card-horizontal card-horizontal-sm flex-row' do
                    .card-header.bg-white.d-flex.align-items-center.justify-content-center
                      %i.budicon-files-tick{"aria-label" => "", :role => "img"}
                    .card-body.d-flex.align-items-center.pl-1
                      %h5.m-0.text-truncate.text-gray2
                        =product.mock_exam.try(:name)

              - @mock_exam_products.each do |product|
                .col-sm-6
                  =link_to product_link(product, current_user), class: 'card card-horizontal card-horizontal-sm flex-row' do
                    .card-header.bg-white.d-flex.align-items-center.justify-content-center
                      %i.budicon-files-tick{"aria-label" => "", :role => "img"}
                    .card-body.d-flex.align-items-center.pl-1
                      %h5.m-0.text-truncate.text-gray2
                        =product.name_by_type

      -#locked.tab-pane.tab-locked{"aria-labelledby" => "locked-tab", :role => "tabpanel"}
        %h4.sr-only This is placeholder Locked content

-# Modals
=render partial: 'account_required_modal'
=render partial: 'pricing_modal'
- if current_user
  =render partial: 'subscription_restriction_modal'
  =render partial: 'verification_restriction_modal' if current_user&.verify_remain_days&.zero?
  =render partial: 'related_lesson_restriction_modal'
- if @welcome_video
  =render partial: 'welcome_video_modal'
:javascript
  $(document).ready(function(){

    hash = window.location.hash;
    elements = $('a[href="' + hash + '"]');
    if (elements.length > 0) {
      elements.click();
    } else if (hash) {
      $(hash).modal('show');
    }

    let searchParams = new URLSearchParams(window.location.search);
    if (searchParams.has('cm')) {
      let moduleParam = searchParams.get('cm');
      let coursePanel = $(".btn.btn-collapse#" + moduleParam + "");
      if (!coursePanel.siblings().hasClass('show')) {
        coursePanel.click();
        setTimeout(function() {
            scrollTop: coursePanel.offset().top;
        }, 1);
      }
    } else {
      // Prevent browser jump to anchor tag
      if (location.hash) {
          setTimeout(function() {
              window.scrollTo(0, 0);
          }, 1);
      }
    }
  });



-if current_user && current_user.active_subscription_for_exam_body?(@group.exam_body_id)
  -if @new_enrollment && @course_log && @course_log.count_of_cmes_completed >= 3
    :javascript
      $(document).ready(function() {
        setTimeout(function() {
          $('#enrollment-modal').modal('show');
        }, 900);
      });
