.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-sm-3.col-xs-12
          .l-margin-bottom
            -if @course.parent
              =link_to library_special_link(@course.parent), class: 'btn btn-red btn-secondary full-width' do
                .fa.fa-arrow-left
                =@course.parent.name

        .col-sm-3.col-xs-12.pull-right
          .l-margin-bottom
            -if @course.exam_body && @course.exam_sittings && (!@enrollment || @enrollment.expired) && (@computer_exam_sitting || @exam_sittings)
              %a{data: {remodal: {target: 'enrollment-modal'}}, class: 'btn btn-cyan full-width', id: 'enrol-now-button'}
                Enrol Now
              =render partial: 'course_enrollment_modal'

      =render partial: 'layouts/account_notice'



      #tab-section

        .heading-card
          .heading-card-inner
            %h1.h2.h-separator.h-separator-left
              =@course.name
            -if @subject_course_user_log
              -total_lesson = @subject_course_user_log.subject_course.cme_count
              -complete_lesson = @subject_course_user_log.try(:count_of_cmes_completed) || 0
              -complete_percent = @subject_course_user_log.try(:percentage_complete)
              %p
                ="#{complete_lesson} out of #{total_lesson} steps completed"
              .progress
                .progress-bar{'role'=>'progressbar', 'aria-valuenow'=> "#{complete_percent}", 'aria-minvalue'=>'0', 'aria-maxvalue'=>'100', 'style'=>"width: #{complete_percent}% ;" }
            -else
              =render partial: 'course_info'

          .course-section-tabs{role: 'tablist'}
            -@course.course_sections.all_active.all_in_order.each do |course_section|
              %a{href: "##{course_section.name_url}", role: 'tab', class: 'course-section-tab', data: {toggle: 'tab'}}
                =course_section.name

            %a{href: "#resources", role: 'tab', class: 'course-section-tab', data: {toggle: 'tab'}}
              ='Resources'

            -#%a{href: "#assumed-knowledge", role: 'tab', class: 'course-section-tab', data: {toggle: 'tab'}}
              ='Assumed Knowledge'


        .tab-content
          - @course.course_sections.all_active.all_in_order.each do |course_section|
            .tab-pane.fade{id: course_section.name_url, role: 'tabpanel'}
              .content-box.content-box-outer
                .content-box-inner

                  .col-sm-12.col-md-9
                    .panel-group#accordion
                      %ul.course-modules-list
                        - course_section.course_modules.all_active.all_in_order.each_with_index do |child, counter|

                          - if child.children.any?
                            %li{role: 'tab', data: {toggle: 'collapse', parent: '#accordion'}, href: "#collapse_#{course_section.name_url}_#{counter}"}
                              .course-module-panel#headingOne{ aria: {expand: true, controls: "collapse_#{course_section.name_url}_#{counter}"}}
                                .col-xs-1.col-sm-1
                                  .left-side-meta
                                    =image_tag(child.completed_for_scul(@subject_course_user_log.try(:id)) ? 'cm_green_tick.png' : 'cm_grey_tick.png')
                                .col-xs-9.xs-padding
                                  .box-topic-item
                                    =truncate(child.name, length: 50)
                                .col-xs-2
                                  .time.hidden-xs
                                    -if child.cme_count.to_i > 1
                                      =child.cme_count.to_s + ' ' + t('views.library.show.lessons')
                                    -else
                                      =child.cme_count.to_s + ' ' + t('views.library.show.lesson')

                          - else
                            %li
                              .box-item.lib-panel
                                .col-xs-1.col-sm-1
                                  .left-side-meta
                                    .img-responsive
                                      =image_tag(child.completed_for_scul(@subject_course_user_log.try(:id)) ? 'cm_green_tick.png' : 'cm_grey_tick.png')
                                .col-xs-8.col-sm-7.xs-padding{style: 'padding-top: 4px;'}
                                  .box-topic-item
                                    =truncate(child.name, length: 50)
                                .col-xs-3.col-sm-3.pull-right.hidden-xs{style: 'padding-top: 4px;'}
                                  .time.pull-right
                                    %p{style: 'color: #EE5457;'}
                                      ='Coming Soon!'



                          .panel-collapse.collapse.list-group.l-margin-bottom{id: "collapse_#{course_section.name_url}_#{counter}", class: (child.id == @child_id ? 'in' : ''), role: 'tabpanel', aria: {labelledby: 'headingOne'}}
                            -child.children.all_in_order.all_active.each do |grandchild|

                              =link_to course_special_link(grandchild, @subject_course_user_log.try(:id)), class: 'list-group-item link-purple box-topic-item' do
                                =render partial: 'panel_content', locals: {grandchild: grandchild}


                  .col-sm-12.col-md-3
                    .l-margin-top-small
                      -if current_user
                        =render partial: 'courses/tutor_contact'
                        %a{data: {remodal: {target: 'tutor-contact-modal'}}, class: 'btn btn-orange full-width'}
                          Ask The Tutor
                      -else
                        %a{data: {remodal: {target: 'access-denied-modal'}}, class: 'btn btn-orange full-width'}
                          Ask The Tutor



          .tab-pane.fade{id: 'resources', role: 'tabpanel'}
            .content-box.content-box-outer
              .content-box-inner
                =render partial: 'library/additional_content'

          -#.tab-pane.fade{id: 'assumed-knowledge', role: 'tabpanel'}
            .content-box.content-box-outer
              .content-box-inner
                =render partial: 'library/additional_content'



=render partial: 'user_exam_body_details_modal'

-if current_user && current_user.subscription_user?

  -if @course.exam_body && (!@enrollment || @enrollment.expired) && (@computer_exam_sitting || @exam_sittings)
    :javascript
      $(document).ready(function() {
        var inst = $('[data-remodal-id=enrollment-modal]').remodal();
        inst.open();
      });

  -unless current_user.student_number || current_user.date_of_birth
    :javascript
      $(document).ready(function() {
        var inst = $('[data-remodal-id=exam-body-user-details-modal]').remodal();
        inst.open();
      });

