%main
  %article.libraryGroupWrapper.bg-white
    
    %header.libraryGroupWrapper-hero
      .container.libraryGroupWrapper-heroInfoWrapper
        .d-flex.flex-wrap.flex-sm-nowrap.justify-content-between.align-items-center.py-4.py-md-4
          .mw-0
            =link_to library_url, class: 'courseWrapper-backBtn' do
              .courseWrapper-backBtn-text
                Library
            .courseWrapper-backBtn-icon.i.material-icons keyboard_arrow_right
            .courseWrapper-backBtn
              .courseWrapper-backBtn-text
                =@group.name
        .heroTitle
          =@group.name
          ='Courses'
        %p.heroDesc
          =@group.short_description
        %a{class: "btn btn-primary", href: "#library-course-pricing"}
          Explore Subscriptions
      %div.libraryGroupWrapper-heroBgWrapper{style: "background-image: url(#{@group.background_image.url});", title: "#{@group.name} Courses banner"}

    .border-top.bg-gray5
      .container.pt-4
        =render partial: 'tabbed_list'
      -# -if @group.tab_view && @group.levels.all_active.count >= 2
      -#   =render partial: 'tabbed_list'
      -# -else
      -#  =render partial: 'standard_list'


  -if @group && @subscription_plans && @subscription_plans.any? && !(current_user && current_user.valid_access_for_exam_body?(@group.exam_body_id, @group.id))
    .pricingPlansWrapper.bg-white
      .container
        %article.py-6#library-course-pricing
          %header.text-center.pb-4.pb-md-4
            %div.heroSubtext
              ="#{@group.name} Pricing"
            %div.heroTitle
              Our subscriptions fit your needs 💶
            %p.heroDesc
              -if @group.exam_body.subscription_page_subheading_text && !@group.exam_body.subscription_page_subheading_text.blank?
                =@group.exam_body.subscription_page_subheading_text
              -else
                ='Customised pricing plans designed to fit in with your wallet and work.'

          .row.row-lg.justify-content-start
            -# FREE PLAN CARD
            -# .col-lg-4.px-2
            -#   %article.planCard
            -#     .card-body.text-left.p-0
            -#       %div.card-title
            -#         FREE
            -#       %p.priceValue.mb-0.pb-4
            -#         €0
            -#       %ul.list-centered.text-left.border-top.pt-4
            -#         %li.mb-3
            -#           .bulletIcon.i.material-icons check_circle
            -#           %span First module in all course
            -#         %li.mb-3
            -#           .bulletIcon.i.material-icons check_circle
            -#           %span Guided study plans
            -#         %li.mb-3
            -#           .bulletIcon.i.material-icons check_circle
            -#           %span Subject cheat sheets
            -#         %li.mb-3
            -#           .bulletIcon.i.material-icons check_circle
            -#           %span Exam practice questions

            -#       .mt-auto
            -#         %div{class: "btn disabled w-100 btn-secondary"}
            -#           Currently Active
            -#       %p.text-gray2.mt-4
            -#         No Credit Card required
            
            -# PREMIUM CARDS
            .col-lg-4.px-2
              %article.planCard.planCard-popular
                .card-banner
                  Most popular
                .card-body.text-left.p-0
                  %div.card-title
                    PREMIUM PLANS
                  .tab-content
                    -@subscription_plans.each_with_index do |plan, counter|
                      .tab-pane{id: "nav-#{plan.guid}", class: "tab-#{plan.guid} #{counter == 0 ? 'active' : ''} ", "aria-labelledby" => "#{plan.guid}-tab", :role => "tabpanel"}
                        %p.priceValue.mb-0.pb-4
                          =plan.currency.format_number(plan.price)
                          
                        %ul.list-centered.text-left.border-top.pt-4.bulletList{class:@subscription_plans.length < 2 && 'noPlanNav'}
                          -if plan.bullet_points_list && !plan.bullet_points_list.empty?
                            - plan.bullet_points_list.split(/, ?/).each do |bullet|
                              %li.mb-3
                                .bulletIcon.i.material-icons check_circle
                                %span=bullet
                          -else
                            %li.mb-3="Access all #{@group.name} courses"
                            %li.mb-3="Topic-by-topic lectures"
                            %li.mb-3="24/7 tutor support"

                        -if plan.monthly_percentage_off
                          %p.h5.text-gray2
                            Save over
                            =plan.monthly_percentage_off
                            ='%'
                        .mt-auto
                          =link_to subscription_checkout_special_link(plan.exam_body_id, plan.guid), class: "btn w-100 btn-primary", onclick: "addToCart('#{plan.currency.iso_code}', '#{plan.name}', '#{plan.id}', '#{plan.price}', '#{plan.exam_body.name}');" do
                            Choose this plan
                        -unless plan.exam_body.name == "CPD"
                          %p.text-gray2.mt-4
                            Cancel anytime
                  %ul.nav.nav-pills.plan-nav{id: 'planTabs', role: 'tablist', class:@subscription_plans.length < 2 && 'hidden'}
                    -@subscription_plans.each_with_index do |plan, counter|
                      %li.nav-item{data: {tab_name: plan.guid}}
                        -# TODO add active to first li
                        %a{class: "nav-link #{counter == 0 ? 'active' : ''}", id: "#{plan.guid}-tab", data: {toggle: 'tab'}, href: "#nav-#{plan.guid}", aria: {controls: "#{plan.guid}", selected: 'false'}, role: 'tab'}
                          =t("views.general.payment_intervals.a#{plan.payment_frequency_in_months}")
            


    :javascript
      function addToCart(currency, name, id, price, body) {
        // dataLayer.push({
        //   'event': 'addToCart',
        //   'ecommerce': {
        //     'currencyCode': currency,
        //     'add': {
        //       'products': [{
        //         'name': name,
        //         'id': id,
        //         'price': price,
        //         'brand': body,
        //         'category': 'Subscription',
        //         'quantity': 1
        //         }]
        //     }
        //   }
        // });

      }

      const isMobile = {
        Android: function() {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function() {
            return navigator.userAgent.match(/IEMobile/i);
        },
        any: function() {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
      };

      $(function () {
        if( !isMobile.any() ){
          $('[data-toggle="tooltip"]').tooltip({
            template: '<div class="tooltip tooltip-custom" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
          })
        }
      })
