%main
  %article.library-group-show.bg-white.py-5.py-lg-6
    .container
      %header.hero-section.hero-section-revisions{style: "background-image: url(#{@group.background_image.url});"}
        %h1.h1-hero.mb-3.text-white
          =@group.name
        %p.p-hero.px-lg-8.text-white
          =@group.description.to_s

      %section.py-5.py-md-6
        %h2.sr-only List of Courses
        .row.row-lg
          -if @courses
            -@courses.each do |course|
              .col-lg-6.col-xl-4
                =link_to library_special_link(course), class: 'card card-horizontal flex-row card-mint' do
                  .card-header.d-flex.justify-content-center.align-items-center
                    %i{"aria-label" => "Strategic Professional", :role => "img", class: course.additional_text_label ? course.additional_text_label : 'budicon-office-bag-c', style: "color: #{course.highlight_colour};"}

                  .card-body.d-flex.flex-column.justify-content-center
                    %small.card-category.mb-2{style: "color: #{course.highlight_colour};"}
                      =course.category_label
                    %h5.card-title.mb-1
                      %span.mr-1
                        =course.name



    .container-bg.bg-gray5
      .container-sm
        %section
          %h2.sr-only Contact Help section
          %article.text-center.py-6.py-lg-7
            %header
              %h2.h1.mb-4.px-4 We're here to guide you through.
              %p.px-4.px-sm-0 If you have any questions of concerns about enrolling in our online learning programme then we're here for you and we'd love to help
            .py-4.d-flex.justify-content-center
              =image_tag('contact-person-1.jpg', class: 'img-thumbnail img-thumbnail-sm m-1 m-sm-2', alt: "Contact person profile image")
              =image_tag('contact-person-2.jpg', class: 'img-thumbnail img-thumbnail-sm m-1 m-sm-2', alt: "Contact person profile image")
              =image_tag('contact-person-3.jpg', class: 'img-thumbnail img-thumbnail-sm m-1 m-sm-2', alt: "Contact person profile image")

            .py-3
              %button.btn.btn-primary.btn-lg Chat with our experts



-#.bg-img.bg-group-show{style: "background-image: url(#{@group.background_image.url});"}
  .container
    %article.hero.pb-6
      %h1.h1-mega.text-white
        =@group.name
      %h5.text-torquoise
        =@group.description.to_s.html_safe

-#library.bg-asphalt
  .container.py-6
    .row.row-lg
      -if @courses
        -@courses.each do |course|
          .col-lg-4.col-sm-6
            =link_to library_special_link(course), class: 'card card-library card-sm mb-5 text-center flex-column', style: 'padding: 0px;' do
              .card-header{style: "background: #{course.highlight_colour};"}
                %h5.text-white.text-truncate.mb-0
                  =course.category_label
              .card-body
                %h4.mb-3
                  =course.name

                %p.mb-2.text-purple3
                  =course.additional_text_label

              .card-footer
                %span.with-arrow
                  Show Course







-#.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          .group_show{style: "background: url(#{@group.background_image.url})  50% 0 no-repeat;"}
            .row
              .col-md-6.col-md-offset-3.l-margin-top
                %h1.h1.bold.h-white.h-separator.h-separator-center.text-center.html_safe.l-margin-bottom
                  =@group.name
                %p.h5.h-white.text-center
                  =@group.description.to_s.html_safe


  .l-wrap.l-margin-top-big
    .container-fluid
      .row.l-margin-bottom-huge
        -if @courses
          -@courses.each do |course|
            .col-sm-4
              =link_to library_special_link(course), class: 'card card-course', style: 'padding: 0px;' do
                .card-inner.text-center
                  %h3.h3.card-title
                    =course.try(:name)
                .card-info.text-center
                  %p.h5{style: 'color: #f092b0; '}
                    =course.try(:additional_text_label)

                .card-label{style: "background: #{course.highlight_colour};"}
                  .row
                    .col-md-12.col-xs-12.text-center
                      %h4{style: 'color: #fff;'}
                        =(course.category_label && !course.category_label.blank?) ? course.category_label : 'Enrol Now'
