%main
  %article.libraryGroupWrapper.bg-white
    %header.libraryGroupWrapper-hero
      .container.libraryGroupWrapper-heroInfoWrapper.pt-4
        .heroTitle
          =@group.name
          ='Courses'
        %p.heroDesc
          =@group.short_description
        -if @group && @subscription_plans && @subscription_plans.any? && !(current_user && current_user.valid_access_for_exam_body?(@group.exam_body_id, @group.id))
          =link_to pricing_url(@group.name_url), class: 'btn btn-primary', onclick: "sendClickEventToSegment('clicks_hero_explore_subs', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', programName: '#{@group.name}'})" do
            Explore Subscriptions
      %div.libraryGroupWrapper-heroBgWrapper{style: "background-image: url(#{@group.background_image.url});", title: "#{@group.name} Courses banner"}

    .bg-gray5
      %div
        =render partial: 'tabbed_list'


  -if @group && @subscription_plans && @subscription_plans.any? && !(current_user && current_user.valid_access_for_exam_body?(@group.exam_body_id, @group.id))
    .pricingPlansWrapper
      .container
        %article.py-5#library-course-pricing
          %header.text-center.pb-4.pb-md-4
            %div.heroSubtext
              ="#{@group.name} Pricing"
            %div.heroTitle
              Our subscriptions fit your needs 💶
            %p.heroDesc
              -if @group.exam_body.subscription_page_subheading_text && !@group.exam_body.subscription_page_subheading_text.blank?
                =@group.exam_body.subscription_page_subheading_text
              -else
                ='Customised pricing plans designed to fit in with your wallet and work.'

          .row.row-lg.justify-content-center
            -# PREMIUM CARDS
            .col-lg-8.px-2
              %article.planCard.planCard-popular
                .card-body.text-left.p-0
                  .tab-content
                    -if @subscription_plans.length > 1
                      %ul.nav.nav-pills.plan-nav{id: 'planTabs', role: 'tablist', class:@subscription_plans.length < 2 && 'hidden'}
                        -@subscription_plans.each_with_index do |navPlan, navCounter|
                          %li.nav-item{data: {tab_name: navPlan.guid}}
                            %a{class: "nav-link #{navCounter == @subscription_plans.length - 1 ? 'active' : ''}", id: "#{navPlan.guid}-tab", data: {toggle: 'tab'}, href: "#nav-#{navPlan.guid}", aria: {controls: "#{navPlan.guid}", selected: 'false'}, role: 'tab'}
                              =t("views.general.payment_intervals.a#{navPlan.payment_frequency_in_months}")
                    -@subscription_plans.each_with_index do |plan, counter|
                      .tab-pane{id: "nav-#{plan.guid}", class: "tab-#{plan.guid} #{counter == @subscription_plans.length - 1 ? 'active' : ''} ", "aria-labelledby" => "#{plan.guid}-tab", :role => "tabpanel"}
                        %div.planInfoWrapper
                          %div.planTitleWrapper
                            %div.planTitle
                              Premium
                              %span.greenShade=t("views.general.payment_intervals.a#{plan.payment_frequency_in_months}")
                              Plan
                          %p.priceValue.mb-0.pb-4{class: @subscription_plans.length < 2 && 'mt-0'}
                            %span.priceValue-actualPrice
                              =plan.currency.format_number(plan.price)
                              %span.priceValue-priceSuffix=t("views.general.payment_interval_shortSuffix.a#{plan.payment_frequency_in_months}")
                            %span.d-flex.flex-column.align-items-center
                              -if plan.most_popular
                                %span.priceValue-popularBadge
                                  Most popular
                              -if plan.monthly_percentage_off
                                %span.priceValue-savingPill.mt-1
                                  Save
                                  =plan.monthly_percentage_off
                                  ='%'

                        .bulletListTitle.hidden-xs ⚡️ What do you get
                        %ul.hidden-xs.list-centered.text-left.bulletList{class:@subscription_plans.length < 2 && 'noPlanNav'}
                          -if plan.bullet_points_list && !plan.bullet_points_list.empty?
                            - plan.bullet_points_list.split(/, ?/).each do |bullet|
                              %li.mb-3
                                .bulletIcon •
                                %span=bullet
                          -else
                            %li.mb-3
                              .bulletIcon •
                              %span="Access all #{@group.name} courses"
                            %li.mb-3
                              .bulletIcon •
                              %span="Topic-by-topic lectures"
                            %li.mb-3
                              .bulletIcon •
                              %span="24/7 tutor support"


                        -unless plan.exam_body.name == "CPD"
                          %p.text-gray2.mt-4.mb-2.text-bold
                            Recurring Payment. Cancel Anytime
                        .mt-auto
                          =link_to subscription_checkout_special_link(plan.exam_body_id, plan.guid), class: "btn w-100 btn-primary choosePlanBtn", onclick: "addToCart('#{plan.currency.iso_code}', '#{plan.name}', '#{plan.id}', '#{plan.price}', '#{plan.exam_body.name}'); sendClickEventToSegment('selects_payment_plan_new', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', programName: '#{plan&.exam_body&.name}', planName: '#{plan&.name}', planPrice: '#{plan&.price}', planType: '#{plan&.interval_name&.downcase}', subscriptionType: 'Subscription', paymentType: 'newSubscription'})" do
                            ="Choose #{t("views.general.payment_intervals.a#{plan.payment_frequency_in_months}")}"
                        %div.visible-xs.bulletListAccordianBox
                          .faq-box.mt-3
                            .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("d-md-block"); $(this).find(".faq-answer-expanded").toggleClass("d-none"); $(this).find(".bulletListAccordianBox-openIcon").toggleClass("d-none"); $(this).find(".bulletListAccordianBox-closeIcon").toggleClass("d-none");'}
                              .faq-title
                                See Details
                                %i.material-icons.ml-2.bulletListAccordianBox-openIcon{"aria-hidden" => "true"} expand_more
                                %i.material-icons.ml-2.bulletListAccordianBox-closeIcon.d-none{"aria-hidden" => "true"} expand_less
                              .faq-answer-expanded.d-none
                                .bulletListTitle ⚡️ What do you get
                                %ul.list-centered.text-left.bulletList{class:@subscription_plans.length < 2 && 'noPlanNav'}
                                  -if plan.bullet_points_list && !plan.bullet_points_list.empty?
                                    - plan.bullet_points_list.split(/, ?/).each do |bullet|
                                      %li.mb-3
                                        .bulletIcon •
                                        %span=bullet
                                  -else
                                    %li.mb-3
                                      .bulletIcon •
                                      %span="Access all #{@group.name} courses"
                                    %li.mb-3
                                      .bulletIcon •
                                      %span="Topic-by-topic lectures"
                                    %li.mb-3
                                      .bulletIcon •
                                      %span="24/7 tutor support"

            -# LIFETIME CARD
            -@products.each do |product|
              -link = product_link(product, current_user, params[:login])
              -name = product.name_by_type
              .col-lg-8.px-2
                %article.planCard.planCard-light
                  .card-body.text-left.p-0
                    %div.planInfoWrapper
                      %div.planTitleWrapper
                        %div.planTitle
                          -name
                          %span.greenShade Lifetime
                          Membership

                      %p.priceValue.mb-0.pb-4.mt-0
                        %span.priceValue-actualPrice
                          =number_in_local_currency(product.price, product.currency)

                    .bulletListTitle.hidden-xs ⚡️ What do you get
                    %ul.hidden-xs.list-centered.text-left.bulletList
                      %li.mb-3
                        .bulletIcon •
                        %span Everything in Premium plan
                      %li.mb-3
                        .bulletIcon •
                        %span="Access all #{@group.name} courses Forever"
                      %li.mb-3
                        .bulletIcon •
                        %span Most economical plan
                      %li.mb-3
                        .bulletIcon •
                        %span No hassle of renewals
                    %p.preCtaText
                      One-time payment
                    .mt-auto
                      =link_to link, class: 'btn btn-primary choosePlanBtn w-100 ', onclick: "gtag('event', 'clicks_plan', {'event_category': 'pre-registration', 'event_label': '#{name}'}); sendClickEventToSegment('selects_payment_plan_new', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', programName: '#{@group&.name}', productName: '#{product&.name}', planPrice: '#{product&.price}', paymentType: '#{product&.product_type.humanize}', subscriptionType: 'Product', planType: '#{product&.product_type}'})" do
                        ="Choose Lifetime"
                        %span.sr-only Choose this plan
                    %div.visible-xs.bulletListAccordianBox
                      .faq-box.mt-3
                        .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("d-md-block"); $(this).find(".faq-answer-expanded").toggleClass("d-none"); $(this).find(".bulletListAccordianBox-openIcon").toggleClass("d-none"); $(this).find(".bulletListAccordianBox-closeIcon").toggleClass("d-none");'}
                          .faq-title
                            See Details
                            %i.material-icons.ml-2.bulletListAccordianBox-openIcon{"aria-hidden" => "true"} expand_more
                            %i.material-icons.ml-2.bulletListAccordianBox-closeIcon.d-none{"aria-hidden" => "true"} expand_less
                          .faq-answer-expanded.d-none
                            .bulletListTitle ⚡️ What do you get
                            %ul.list-centered.text-left.bulletList
                              %li.mb-3
                                .bulletIcon •
                                %span Everything in Premium plan
                              %li.mb-3
                                .bulletIcon •
                                %span="Access all #{@group.name} courses Forever"
                              %li.mb-3
                                .bulletIcon •
                                %span Most economical plan
                              %li.mb-3
                                .bulletIcon •
                                %span No hassle of renewals

    :javascript
      function addToCart(currency, name, id, price, body) {
        // dataLayer.push({
        //   'event': 'addToCart',
        //   'ecommerce': {
        //     'currencyCode': currency,
        //     'add': {
        //       'products': [{
        //         'name': name,
        //         'id': id,
        //         'price': price,
        //         'brand': body,
        //         'category': 'Subscription',
        //         'quantity': 1
        //         }]
        //     }
        //   }
        // });

      }

      const _isMobile = {
        Android: function() {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function() {
            return navigator.userAgent.match(/IEMobile/i);
        },
        any: function() {
            return (_isMobile.Android() || _isMobile.BlackBerry() || _isMobile.iOS() || _isMobile.Opera() || _isMobile.Windows());
        }
      };

      $(function () {
        if( !_isMobile.any() ){
          $('[data-toggle="tooltip"]').tooltip({
            template: '<div class="tooltip tooltip-custom" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
          })
        }
      })
