%main
  %article.library-group-show.bg-white.py-5.py-lg-6
    .container
      %header.hero-section.hero-section-revisions{style: "background-image: url(#{@group.background_image.url});", title: "#{@group.name} Courses banner"}
        %h1.h1-hero.mb-3.text-white
          =@group.name
          ='Courses'
        %p.p-hero.px-lg-8.text-white
          =@group.short_description

      %section.py-5.py-md-6
        %h2.sr-only List of Courses
        .row.row-lg
          -if @courses
            -@courses.each do |course|
              .col-lg-6.col-xl-4
                =link_to library_special_link(course), class: 'card card-horizontal flex-row card-mint' do
                  .card-header.d-flex.justify-content-center.align-items-center
                    %i{"aria-label" => course.icon_label, :role => "img", class: course.icon_label ? course.icon_label : 'budicon-office-bag-c', style: "color: #{course.highlight_colour};"}

                  .card-body.d-flex.flex-column.justify-content-center
                    %small.card-category.mb-2{style: "color: #{course.highlight_colour};"}
                      -if course.preview && course.release_date
                        Coming Soon
                      -else
                        =course.category_label
                    %h5.card-title.mb-1
                      %span.mr-1
                        =course.name



  -if @group && @subscription_plans && @subscription_plans.any? && !(current_user && current_user.valid_subscription_for_exam_body?(@group.exam_body_id))
    .container-bg.bg-gray5#plans
      .container
        %section.pb-md-6.pb-5.pt-md-6.pt-5
          .container-md.pb-3.text-center
            %h2.h1-mega
              ="#{@group.name} Payment Plans"
            %h2.h5
              ="Get one step closer to passing your #{@group.name}. Choose a payment plan that suits your needs and discover learning that works around your schedule."

          .row.row-lg.justify-content-center
            -@subscription_plans.each do |plan|
              .col-lg-4
                %article.card.card-primary.card-pink
                  .card-body.text-center
                    %h2.h1.card-title
                      =t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")

                    -if plan.bullet_points_list && !plan.bullet_points_list.empty?
                      - plan.bullet_points_list.split(/, ?/).each do |bullet|
                        %p=bullet

                    -else
                      %p="Access to all #{@group.name} courses"
                      %p="Topic-by-topic video lectures"
                      %p="24/7 tutor support"

                    %p{style: 'font-style: italic;'}
                      Cancel anytime
                    %p.h3
                      =plan.currency.format_number(plan.price)


                    -if plan.monthly_percentage_off
                      %p.h5
                        Save over
                        =plan.monthly_percentage_off
                        ='%'

                    -if plan.most_popular
                      %p.h5.text-primary
                        Our most popular payment plan

                    .mt-auto
                      =link_to subscription_checkout_special_link(@group.exam_body_id, plan.guid), class: 'btn btn-secondary btn-sm' do
                        Choose this plan

