-# VueJS include
= javascript_pack_tag 'spreadsheet'

.container
  %header.management-console-section
    %h1
      Edit Solution

  %section.pb-3
    = form_for [:admin, @solution], url: admin_course_step_practice_question_solution_url, html: {class: "form-horizontal"} do |f|
      =f.hidden_field :practice_question_id, value: @practice_question.id
      =f.hidden_field :id, value: @solution.id
      .box-item
        .row
          .col-sm-6
            .form-group
              =f.label :name, 'Name'
              .input-group.input-group-lg
                = f.text_field :name, class: 'form-control'
          .col-sm-6
            .form-group
              =f.label :sorting_order, 'Choose order'
              .input-group.input-group-lg
                = f.text_field :sorting_order, class: 'form-control'

        -open_style = (f.object.open? || f.object.kind.nil? )? 'show' : 'none'
        .open_questions{id: "open_questions", style: "display: #{open_style};", name: "practice_question_solution[content]" }
          .row
            .col-sm-12
              .form-group
                =f.label :content, 'Content', class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_area :content, as: 'summernote', class: 'form-control summernote_text', id: "open_content"

        - spreadsheet_style         = f.object.spreadsheet? ? 'show' : 'none'
        - spreadsheet_content_name  = f.object.spreadsheet? ? "practice_question_solution[content]" : 'empty_content'
        .spreadsheet_questions{id: "spreadsheet_solutions", style: "display: #{spreadsheet_style};"}
          .row
            .col-sm-12
              .form-group
                =f.label :content, 'Content', class: 'control-label'
                %div{class: :spreadsheet_component, data: { spreadsheet_content: f.object.content, field_id: "spreadsheet_content", field_name: spreadsheet_content_name } }

        .row
          .col-sm-12
            =f.submit 'Save Solution', class: 'btn btn-primary'
            =link_to t('views.general.cancel'), admin_course_step_practice_question_solutions_url, class: 'btn btn-secondary'

:javascript
  $("[class='form-control summernote_text']").each(function (elem, obj) {
    $(obj).summernote({
      disableDragAndDrop: true,
      height: 150
    });
  });

