-# VueJS include
= javascript_pack_tag 'exercise'
.card.card-primary{style: 'min-height: 10px;'}
  .card-body
    .row
      -if question_kind == 'open'
        %div{ id: "questionContent-#{question.answers.first.id}" }
        =text_area_tag(:question_content, question.answers.first.content['text'], id: "#{question.answers.first.id}-editor", as: 'summernote')
        -# TODO, change this to our vue text editor component
        -# I needed to remove because vue component is not showing
        -# when have more then one question.
        -#
        -# #open-answers-component{ data: { answer_type: 'TextEditor',
        -#                                  answer_id: question.answers.first.id,
        -#                                  content: question.answers.first.content['text'] } }
      -else
        #open-answers-component{ data: { answer_type: 'Spreadsheet',
                                               answer_id: question.answers.first.id,
                                               cbe_id: question.user_log.cbe_id,
                                               cbe_user_log_id: question.cbe_user_log_id } }
.card.card-primary
  .card-body
    .h4.text-gray2
      Question Score & Comment
    =form_with(url: cbe_user_question_update_admin_exercise_path(id: question.user_log.exercise_id, question_id: question.id), html: {class: 'form-horizontal', role: 'form'}) do
      .row
        .col-sm-3
          .form-group
            =label_tag :score, "Score"
            .input-group.input-group-lg
              =text_field_tag(:score, question.score, class: 'form-control')
      .row.pt-3
        .col-sm-12
          .form-group
            .input-group.input-group-lg
              =label_tag :educator_comment, 'Comment (optional)'
              =text_area_tag(:educator_comment, question.educator_comment, id: "#{question.id}-editor", as: 'summernote')
      .row.pt-5
        .col-sm-6
          =submit_tag("Update", class: 'btn btn-primary')
          %div{:id => "#{question.id}-response"}


:javascript
  $("##{question.id}-editor").summernote({
    disableDragAndDrop: true,
    height: 150
  });

   $("##{question.answers.first.id}-editor").summernote({
    disableDragAndDrop: true,
    height: 150
  });
