.form-group
  .custom-control.custom-radio.subscriptionPageWrapper-customRadio
    %input.custom-control-input.custom-control-input-card.style-radio{:id => subscription.subscription_plan.interval_name.downcase, :name => "plans", :type => "radio", :data => {:price => subscription.subscription_plan.price, :frequency => subscription.subscription_plan.payment_frequency_in_months, :currency => subscription.subscription_plan.currency.iso_code, :name => subscription.subscription_plan.name, :body => subscription.subscription_plan.exam_body.name}, :value => subscription.subscription_plan.id, :checked => true}
    %label.custom-control-label.justify-content-start{:for => subscription.subscription_plan.interval_name.downcase}
      %span.custom-check.mr-3
      .d-flex.py-0{style: 'width: calc(100% - 46px);'}
        .d-flex.flex-column.justify-content-center.align-items-start.w-75
          %div.h4.m-0.text-black
            =plans.first.exam_body.name
            &#8212;
            =subscription.subscription_plan.interval_name
          %div.m-0.text-gray1
            
            ="Billed every #{subscription.subscription_plan.payment_frequency_in_months > 1 ? pluralize(subscription.subscription_plan.payment_frequency_in_months, 'month') : 'month'}"
        .d-flex.flex-column.justify-content-center.align-items-end.w-25
          %div.h4.m-0.text-black
            %span{style: 'font-size: 1.2rem;line-height: 2rem;color: #111827;font-weight: 700;'}
              =subscription.subscription_plan.currency.format_number(subscription.subscription_plan.price)
          %div.h5.m-0.text-gray1
            -if subscription.subscription_plan.monthly_percentage_off.present? && subscription.subscription_plan.monthly_percentage_off > 0
              %span.discount
                Save over
                %span.text-with-bg{style: 'background-color: #FCD34D;padding: 2px 6px;border-radius: 4px;'}
                  ="#{subscription.subscription_plan.monthly_percentage_off}%"


#all-plans
  -(plans.where(id: (plans.ids - [subscription.subscription_plan.id]))).each do |plan|
    .form-group
      .custom-control.custom-radio.subscriptionPageWrapper-customRadio
        %input.custom-control-input.custom-control-input-card.style-radio{:id => plan.interval_name.downcase, :name => "plans", :type => "radio", :data => {:guid => plan.guid, :name => plan.name, :price => plan.price}, :value => plan.id, :checked => ("checked" if subscription.subscription_plan_id == plan.id)}
        %label.custom-control-label.justify-content-start{:for => plan.interval_name.downcase}
          %span.custom-check.mr-3
          .d-flex.py-0{style: 'width: calc(100% - 46px);'}
            .d-flex.flex-column.justify-content-center.align-items-start.w-75
              %div.h4.m-0.text-black
                =plans.first.exam_body.name
                &#8212;
                =plan.interval_name
              %div.m-0.text-gray1
                -# - if plan.monthly_percentage_off.present? && plan.monthly_percentage_off > 0
                -#   %span.discount
                -#     Save over
                -#     %span.text-with-bg.bg-yellow2
                -#       ="#{plan.monthly_percentage_off}%"
                -# ="Billed every #{plan.payment_frequency_in_months > 1 ? pluralize(plan.payment_frequency_in_months, 'month') : 'month'}"
            .d-flex.flex-column.justify-content-center.align-items-end.w-25
              %div.h4.m-0.text-black
                %span{style: 'font-size: 1.2rem;line-height: 2rem;color: #111827;font-weight: 700;'}
                  =plan.currency.format_number(plan.price)
              %div.h5.m-0.text-gray1
                - if plan.monthly_percentage_off.present? && plan.monthly_percentage_off > 0
                  %span.discount
                    Save over
                    %span.text-with-bg{style: 'background-color: #FCD34D;padding: 2px 6px;border-radius: 4px;'}
                      ="#{plan.monthly_percentage_off}%"

-if plans.length > 1
  %a.mb-2.show-more-plans.js-show-more-plans{:id => 'show_all_plans', :href => "#all-plans", :data => {toggle: 'collapse'}, 'aria-expanded' => false, 'aria-controls' => 'all-plans', style: 'text-decoration: none;'} 
    %span 
      Show all Plans
      %i.material-icons{style: 'font-size: 14px;'} keyboard_arrow_down

-# #info-text.mt-6{style: 'background-color: #f5f5f7;padding: 1rem;border-radius: 16px;'}
-#   - yearly_plan = plans.yearly.first
-#   - if yearly_plan&.previous_plan_price&.present? && yearly_plan.previous_plan_price > 0
-#     %p.mb-2.price
-#       ='Currently we are offering a discount off the Annual Plan. Original Price '
-#       %span
-#         =yearly_plan.currency.format_number(yearly_plan.previous_plan_price)

-#   %p.mb-2
-#     %span.font-weight-medium Note: 
-#     %br
-#     You are subscribing to a recurring payment which will continue until you cancel your subscription. 
-#     %br
-#     You can cancel your subscription at anytime.



:javascript

  $(document).on('ready', function() {
    $('#show_all_plans').on('click', function() {
      $('#all-plans').slideDown();
      $(this).hide();
    });
  })
