%main
  %article.bg-gray5
    -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'
    .container
      %header.hero-section
        %h1.h2-hero.mb-2
          =t('views.subscriptions.upgrade_complete.h1')

      %section.pb-md-6.pb-5
        .row.justify-content-center
          .col-xs-12.col-sm-8
            .box-item.text-center
              -if current_user.non_verified_user?
                %h3.text-warning
                  Your email requires verification. You will be unable to access content until you verify your email.
                  -if !current_user.email_verified && current_user.email_verification_code
                    =link_to resend_verification_mail_url(current_user.email_verification_code), method: :post, class: 'btn btn-secondary verification-btn btn-sm mb-3 mb-sm-0' do
                      ='Resend Verification Email'
                %p
                  ="You have subscribed to the #{t("views.general.subscription_label_in_months.a#{@subscription.subscription_plan.payment_frequency_in_months}")}."
                %p
                  ="Your payment receipt will be sent to #{current_user.email}"

              -else
                %p
                  ="You have subscribed to the #{t("views.general.subscription_label_in_months.a#{@subscription.subscription_plan.payment_frequency_in_months}")}."
                %p
                  ="Your payment receipt will be sent to #{current_user.email}"

                =link_to library_special_link(@subscription&.exam_body&.group) do
                  .btn.btn-primary
                    ='Continue Learning'


:javascript
  $(document).ready(function(){
    window.uetq = window.uetq || [];
    window.uetq.push('event', 'Purchase', {
      'event_category': "#{@subscription.subscription_plan.exam_body.name}",
      'event_label': "#{@subscription.subscription_plan.name}",
      'event_value': "#{@subscription.subscription_plan.price}"
    });

    fbq('track', 'Purchase', {
      value: "#{@subscription&.subscription_plan&.price}",
      currency: "#{@subscription&.subscription_plan&.currency&.iso_code}",
      subscription_id: "#{@subscription&.id}",
      name: "#{@subscription&.subscription_plan&.name}",
      brand: "#{@subscription&.subscription_plan&.exam_body&.name}",
      subscription_interval: "#{@subscription&.subscription_plan&.interval_name}",
      content_category: "Subscription"
    });

    gtag('event', 'purchase', {
      "transaction_id": "#{@subscription&.id}",
      "affiliation": "subscription",
      "value": "#{@subscription&.subscription_plan&.price}",
      "currency": "#{@subscription&.subscription_plan&.currency&.iso_code}",
      "items": [
        {
          "id": "#{@subscription&.subscription_plan&.id}",
          "name": "#{@subscription&.subscription_plan&.name}",
          "brand": "Subscription",
          "category": "#{@subscription&.subscription_plan&.interval_name}",
          "quantity": 1,
          "price": "#{@subscription&.subscription_plan&.price}"
        },
      ]
    });

    let banner = "#{@banner.present?.to_s}";
    let preferredExamBodyId = "#{current_user&.preferred_exam_body_id}";
    let preferredExamBody = "#{current_user&.preferred_exam_body&.name}";
    let onboarding = "#{current_user&.analytics_onboarding_valid?.to_s}";

    analytics.page('Payment Complete', {
      preferredExamBodyId: preferredExamBodyId,
      preferredExamBody:preferredExamBody ,
      banner: banner,
      onboarding: onboarding,
      examBodyId: "#{@subscription&.subscription_plan&.exam_body&.id}",
      examBodyName: "#{@subscription&.subscription_plan&.exam_body&.name}",
      country: "#{current_user&.country&.name}",
      currency: "#{@subscription&.subscription_plan&.currency&.iso_code}",
      paymentType: "Subscription",
      subscriptionType: "#{@subscription&.kind.humanize}",
      planInterval: "#{@subscription&.subscription_plan&.payment_frequency_in_months}",
      planIntervalName: "#{@subscription&.subscription_plan&.interval_name}",
      price: "#{@subscription&.subscription_plan&.price}",
      paymentProvider: "#{@subscription&.subscription_type}"
    });

  });
