=form_for(@corporate_group, html: {class: 'form-horizontal', role: 'form', id: 'corporate-group-frm'}) do |f|
  =render partial: '/layouts/error_messages', locals: {thing: @corporate_group, message: nil}
  .row
    .col-md-8.col-md-offset-2
      =f.label :corporate_customer_id, t('views.corporate_groups.form.corporate_customer'), class: 'control-label'
      .input-group.input-group-lg.full-width
        = f.collection_select :corporate_customer_id, @corporate_customers, :id, :organisation_name,
            { include_blank: t('views.general.select') },
            { class: 'form-control', style: 'border-radius: 6px;'}
      %br/
      =f.label :corporate_manager_id, t('views.corporate_groups.form.corporate_managers'), class: 'control-label'
      .input-group.input-group-lg.full-width
        = f.collection_select :corporate_manager_id, @corporate_managers, :id, :full_name,
            { include_blank: t('views.general.select') },
            { class: 'form-control', style: 'border-radius: 6px;'}
      %br/
      =f.label :name, t('views.corporate_groups.form.name'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :name, placeholder: t('views.corporate_groups.form.name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
      %br/
      %br/
      .no-image-box-item
        .form-group{style: 'margin-left: 0px;'}
          %table.col-sm-12
            %thead
              %tr
                %th{style: "width: 70%; font-size: 1.4rem;"}='Course'
                %th{style: "width: 13%; font-size: 1.4rem;"}=t('views.corporate_groups.index.compulsory')
                %th{style: "width: 13%; font-size: 1.4rem;"}=t('views.corporate_groups.index.restricted')
                %th{style: "width: 4%;"}
            %tbody
              -SubjectCourse.all_active.all_live.all_in_order.each do |course|
                %tr
                  %td=course.name
                  %td=radio_button_tag("courses[#{course.id}]", "compulsory", @corporate_group.subject_course_compulsory?(course.id), class: "col-sm-3")
                  %td=radio_button_tag("courses[#{course.id}]", "restricted", @corporate_group.subject_course_restricted?(course.id), class: "col-sm-3")
                  %td=link_to('Clear', '#', id: "courses_#{course.id}_clear", class: "clear-radio-lnk col-sm-3")

      =f.submit t('views.general.save'), class: 'btn btn-red l-margin-right-big l-padding-side-3x l-margin-top'
      =link_to t('views.general.cancel'), corporate_groups_path, class: 'btn btn-cyan l-margin-right-big l-padding-side-3x l-margin-top'


:javascript
  $(document).ready(function() {
    $('.clear-radio-lnk').bind('click', function(event) {
      event.preventDefault();
      event.stopPropagation();
      var compulsoryId = $(this).attr('id').replace('clear', 'compulsory');
      var restrictedId = $(this).attr('id').replace('clear', 'restricted');
      $("#" + compulsoryId).prop('checked', false);
      $("#" + restrictedId).prop('checked', false);
    });

    $('#corporate-group-frm').bind('submit', function() {
      $("#corporate_group_corporate_customer_id").attr("disabled", false);
    });
  });
