-if current_user.corporate_customer?
  #wrapper
    .hidden-xs
      =render partial: 'layouts/corporate_side_bar'

    .main-content.margin-top
      -if flash[:success] || flash[:error] || flash[:warning]
        =render partial: 'layouts/flash_messages'
      .l-section-corporate.is-bg-asphalt.corporate-padding
        .container-fluid.l-padding-side-3x
          .row.l-margin-bottom.l-margin-top
            .col-md-6.col-sm-6.col-xs-6
              %h1.h-separator.h-separator-left
                ="Members of #{@corporate_group.name}"

          .row.l-margin-top.l-margin-bottom
            .col-md-7.l-margin-top
              .corporate-box-item.table-box
                = form_for(@corporate_group, url: { action: :update_members }, html: {class: 'form-horizontal', role: 'form', id: 'group-users-form'}) do |f|
                  .table-responsive
                    %table.table{style: 'font-size: 18px;'}
                      %thead
                        %tr
                          %th{style: 'font-size: 1.6rem;'}= t('views.corporate_groups.manage_members.student')
                          %th
                      %tbody
                        -@corporate_group.corporate_customer.students.all_in_order.each do |student|
                          %tr
                            %td= student.full_name
                            %td{style: 'width: 5%;'}= check_box_tag "corporate_group[corporate_student_ids][]",
                            student.id, @corporate_group.users.include?(student)


                    =f.submit t('views.general.save'), class: 'btn btn-red l-margin-right-big l-padding-side-3x l-margin-top'
                    =link_to t('views.general.cancel'), corporate_groups_path, class: 'btn btn-cyan l-margin-right-big l-padding-side-3x l-margin-top'
      =render partial: 'layouts/corporate_footer'
-else
  .margin-top
    -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'

  .l-section-small.is-bg-asphalt{style: 'padding-left: 30px; padding-right: 30px;'}
    .container-fluid.l-padding-side-3x
      .row.l-margin-bottom.l-margin-top
        .col-md-6.col-sm-6.col-xs-6
          %h1.h-separator.h-separator-left{style: 'letter-spacing:1.5px;'}
            ="Members of #{@corporate_group.name}"

      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top
          .corporate-box-item.table-box
            = form_for(@corporate_group, url: { action: :update_members }, html: {class: 'form-horizontal', role: 'form', id: 'group-users-form'}) do |f|
              %table
                %thead
                  %tr
                    %th{style: 'font-size: 1.6rem;'}= t('views.corporate_groups.manage_members.student')
                    %th
                %tbody
                  - @corporate_group.corporate_customer.students.each do |student|
                    %tr
                      %td= student.full_name
                      %td{style: 'width: 5%;'}= check_box_tag "corporate_group[corporate_student_ids][]",
                            student.id, @corporate_group.users.include?(student)


              =f.submit t('views.general.save'), class: 'btn btn-red l-margin-right-big l-padding-side-3x l-margin-top'
              =link_to t('views.general.cancel'), corporate_groups_path, class: 'btn btn-cyan l-margin-right-big l-padding-side-3x l-margin-top'
  =render partial: 'layouts/footer'
