%main
  %article.bg-white
    .container
      %header.hero-section
        %h1.h1-hero.mb-3
          -if @group
            =@group.exam_body&.products_heading
          -else
            Exam Preparation Products
        %p.p-hero.px-lg-6
          -if @group
            =@group.exam_body&.products_subheading
          -else
            Invest in your exam success today with our question and solution correction packs, mock exams and CBEs.

      =render partial: 'layouts/flash_messages'

      %nav.products-nav.mt-6
        %ul.nav.nav-tabs{id: 'productsTabs', role: 'tablist'}

          -if @products.any?
            %li.nav-item
              %a{href: "#mocks", role: 'tab', class: 'active nav-link', data: {toggle: 'tab'}, aria: {controls: "mocks", selected: 'true'}}
                ='Mock Exams'
          -if @questions.any?
            %li.nav-item
              %a{href: "#questions", role: 'tab', class: 'nav-link', data: {toggle: 'tab'}, aria: {controls: "questions", selected: 'false'}}
                ='Correction Packs'

.bg-gray5
  .container.py-5.py-sm-6
    #productsTabsContent.tab-content

      -if @products.any?
        .tab-pane.tab-mocks.active.show{id: 'mocks', role: 'tabpanel', 'aria-labelledby': 'mocks-tab'}
          %section.mb-5
            .row.row-lg
              -@products.each do |product|
                .col-xs-12.col-sm-6.col-md-4
                  -link = product_link(product, current_user)
                  -name = product.name_by_type
                  =link_to link, class: 'card card-link text-center mb-5', onclick: "addToCart(\"#{product.currency.iso_code}\", \"#{product.name}\", \"#{product.id}\", \"#{product.price}\", \"#{name}\");" do
                    .py-4
                      %h4.text-ellipsis.mb-4
                        =name
                      .pt-2
                        =product_icon(product)
                      %p.h6.text-ellipsis.pt-4
                        =number_in_local_currency(product.price, product.currency)
                      .pt-2
                        %span.btn.btn-secondary.btn-sm.btn-sm-arrow-right Buy Now


      -if @questions.any?
        .tab-pane.tab-questions{id: 'questions', role: 'tabpanel', 'aria-labelledby': 'questions-tab'}
          %section.mb-5
            .row.row-lg
              -@questions.each do |question|
                .col-xs-12.col-sm-6.col-md-4
                  =link_to product_checkout_special_link(question.group.exam_body.id, question.id), class: 'card card-link text-center mb-5',onclick: "addToCart(\"#{question.currency.iso_code}\", \"#{question.name}\", \"#{question.id}\", \"#{question.price}\", \"#{question.group.exam_body.name}\");" do
                    .py-4
                      %h4.text-ellipsis.mb-4
                        =question.mock_exam.try(:name)
                      .pt-2
                        %i.budicon-files-tick{"aria-label" => "", :role => "img"}
                      %p.h6.text-ellipsis.pt-4
                        =number_in_local_currency(question.price, question.currency)
                      .pt-2
                        %span.btn.btn-secondary.btn-sm.btn-sm-arrow-right Buy Now

:javascript
  $(document).ready(function(){
    hash = window.location.hash;
    elements = $('a[href="' + hash + '"]');
    if (elements.length > 0) {
      elements.click();
    }
    if (location.hash) {
      setTimeout(function() {
          window.scrollTo(0, 0);
      }, 1);
    }

  });

  function addToCart(currency, name, id, price, body) {
    var selectedPlan = $("input[name='plans']:checked");
    dataLayer.push({
      'event': 'addToCart',
      'ecommerce': {
        'currencyCode': currency,
        'add': {
            'products': [{
            'name': name,
            'id': id,
            'price': price,
            'brand': body,
            'category': 'Exam Papers',
            'quantity': 1
            }]
        }
      }
    });

    fbq('track', 'AddToCart', {
      value: price,
      currency: currency,
      name: name,
      brand:  body,
      content_category: "Exam Papers"
    });

    window.uetq = window.uetq || [];
    window.uetq.push('event', 'AddToCart', {
      'event_category': 'Exam Papers',
      'event_label': name,
      'event_value': price
    });
  }
