-# VueJS include
= javascript_pack_tag 'spreadsheet'

=f.fields_for :course_practice_question do |practice_question|
  =practice_question.fields_for :questions do |question|
    .box-item
      .row
        .col-sm-12
          %h2
            =question.object.id.nil? ? t('views.course_quizzes.form.h3.question_new') : t('views.course_quizzes.form.h3.question_number') + question.object.id.to_s
      .row
        .col-sm-6
          .form-group
            =question.label :name, 'Name'
            .input-group.input-group-lg
              = question.text_field :name, class: 'form-control'
        .col-sm-6
          .form-group
            =question.label :kind, t('views.course_practice_question.form.kind')
            .input-group.input-group-lg
              = question.select :kind, [['Open', 'open'], ['Spreadsheet', 'spreadsheet']], {}, onChange: "javascript: showQuestionsByType(#{question.index}, $(this).val());", class: 'form-control question_kind'
        .col-sm-6
          .form-group
            =question.label :text_field, t('views.course_practice_question.form.sorting_order')
            .input-group.input-group-lg
              = question.text_field :sorting_order, class: 'form-control'
      .row
        .col-sm-12
          .form-group
            =question.label :description, t('views.course_practice_question.form.description')
            .input-group.input-group-lg
              =question.text_area :description, as: 'summernote', class: 'form-control summernote_text'

      -open_style = (question.object.open? || question.object.kind.nil? )? 'show' : 'none'
      .open_questions{id: "open_questions_#{question.index}", style: "display: #{open_style};", name: "course_step[course_practice_question_attributes][questions_attributes][#{question.index}][content]" }
        .row
          .col-sm-12
            .form-group
              =question.label :content, t('views.course_practice_question.form.content'), class: 'control-label'
              .input-group.input-group-lg.full-width
                =question.text_area :content, as: 'summernote', class: 'form-control summernote_text', id: "open_content_#{question.index}"

          .col-sm-12
            .form-group
              =question.label :solution, t('views.course_practice_question.form.solution'), class: 'control-label'
              .input-group.input-group-lg.full-width
                =question.text_area :solution, as: 'summernote', class: 'form-control summernote_text', id: "open_solution_#{question.index}"

      - spreadsheet_style         = question.object.spreadsheet? ? 'show' : 'none'
      - spreadsheet_content_name  = question.object.spreadsheet? ? "course_step[course_practice_question_attributes][questions_attributes][#{question.index}][content]" : 'empty_content'
      - spreadsheet_solution_name = question.object.spreadsheet? ? "course_step[course_practice_question_attributes][questions_attributes][#{question.index}][solution]" : 'empty_solution'
      .spreadsheet_questions{id: "spreadsheet_questions_#{question.index}", style: "display: #{spreadsheet_style};"}
        .row
          .col-sm-12
            .form-group
              =question.label :content, t('views.course_practice_question.form.content'), class: 'control-label'
              %div{class: :spreadsheet_component, data: { spreadsheet_content: question.object.parsed_content, field_id: "spreadsheet_content_#{question.index}", field_name: spreadsheet_content_name } }

          .col-sm-12
            .form-group
              =question.label :solution, t('views.course_practice_question.form.solution'), class: 'control-label'
              %div{class: :spreadsheet_component, data: { spreadsheet_content: question.object.parsed_solution, field_id: "spreadsheet_solution_#{question.index}", field_name: spreadsheet_solution_name } }

      .row
        .col-sm-12
          -submit_text = question.object.id.nil? ? t('views.course_steps.form.save_and_add_another') : t('views.course_practice_question.form.update')
          =f.submit submit_text, class: 'btn btn-primary'
          -if question.object.id.present?
            =link_to t('views.general.delete'), admin_practice_question_remove_question_path(@course_step.id, question.object.id), method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger'

:javascript
  function showQuestionsByType(index, value){
    switch(value) {
      case "open" :
        $("#open_questions_" + index).show();
        $("#spreadsheet_questions_" + index).hide();

        // TODO(giordano), find a better way to fix the  name duplication
        $("#open_content_" + index).attr('name', `course_step[course_practice_question_attributes][questions_attributes][${index}][content]`);
        $("#open_solution_" + index).attr('name', `course_step[course_practice_question_attributes][questions_attributes][${index}][solution]`);
        $("#spreadsheet_content_" + index).attr('name', `empty_content`);
        $("#spreadsheet_solution_" + index).attr('name', `empty_solution`);
        break;
      case "spreadsheet":
        $("#spreadsheet_questions_" + index).show();
        $("#open_questions_" + index).hide();

        // TODO(giordano), find a better way to fix the  name duplication
        $("#spreadsheet_content_" + index).attr('name', `course_step[course_practice_question_attributes][questions_attributes][${index}][content]`);
        $("#spreadsheet_solution_" + index).attr('name', `course_step[course_practice_question_attributes][questions_attributes][${index}][solution]`);
        $("#open_content_" + index).attr('name', `empty_content`);
        $("#open_solution_" + index).attr('name', `empty_solution`);
        break;
    }
  };

  $("[class='form-control summernote_text']").each(function (elem, obj) {
    $(obj).summernote({
      disableDragAndDrop: true,
      height: 150
    });
  });
