.row.row-lg.m-0#constructed-response-window.constructed-response-window-shrunk
  %div.visible-xs
    #small-screen-overlay.load-overlay{style: 'position: absolute;height: calc(100vh - 120px);z-index: 100;background-color: #fff;'}
      .p-5
        .h2{style: 'font-size: 72px;'} 🖥
        .h2.text-gray1.mt-5{style: 'line-height: 1.3;'}
          Please use a larger screen device to access CBE for a better experience.
        =link_to 'Next Lesson', show_course_url(@course.name_url, @course_step.next_element.course_lesson.course_section.name_url, @course_step.next_element.course_lesson.name_url, @course_step.next_element.name_url), class: 'btn btn-primary btn-sm btn-sm-arrow-left mt-3 mb-3 mb-sm-0'
  .col-xl-12
    #course-right-show-elem-notes.course-right-show-content
      .course-right-show-frame
        .start-screen-box
          .welcome-text
            -if @group && @group.exam_body && @group.exam_body.constructed_response_intro_heading && !@group.exam_body.constructed_response_intro_heading.blank?
              =@group.exam_body.constructed_response_intro_heading
            -else
              WELCOME TO YOUR CBE CONSTRUCTED RESPONSE TOOL
          .row
            .col-sm.mb-3

              -if @group && @group.exam_body && @group.exam_body.constructed_response_intro_text && !@group.exam_body.constructed_response_intro_text.blank?
                =@group.exam_body.constructed_response_intro_text.html_safe
              -else
                .before-text
                  ='Before you attempt this question for the first time:'
                %ul
                  -#%li='Watch your CBE introduction video'
                  %li='Ensure you have watched all the lectures and read the notes associated with this topic'
                  %li='Only watch the tutor completing this question after your first attempt'
                  %li='Keep track of time to get into the exam mindset from your first attempt'
                  %li='You can make as many attempts as you like but only your most recent 8 attempts will be available to view'

            .col-sm.text-center

              .sk-circle
                .sk-circle1.sk-child
                .sk-circle2.sk-child
                .sk-circle3.sk-child
                .sk-circle4.sk-child
                .sk-circle5.sk-child
                .sk-circle6.sk-child
                .sk-circle7.sk-child
                .sk-circle8.sk-child
                .sk-circle9.sk-child
                .sk-circle10.sk-child
                .sk-circle11.sk-child
                .sk-circle12.sk-child



              -if @course_step_logs && @course_step_logs.any?
                .table-responsive.pt-3
                  %table.table
                    %thead
                      %tr
                        %th='Previous Responses'
                        %th='Created'
                        %th='Updated'
                        %th='Status'

                    %tbody
                      -@course_step_logs.each do |cmeul|
                        %tr
                          %td
                            %i.material-icons{style: "color: #00B67A;margin-right: 2px;font-size: 16px;top: 3px;position: relative;"} link
                            =link_to "Response-##{cmeul.constructed_response_attempt.try(:guid)}", courses_constructed_response_url(@course_step.course_lesson.course.name_url, @course_step.course_lesson.course_section.name_url, @course_step.course_lesson.name_url, @course_step.name_url, cmeul.id)
                          %td
                            =humanize_datetime(cmeul.created_at)
                          %td
                            =humanize_datetime(cmeul.updated_at)
                          %td
                            =cmeul.constructed_response_attempt.status
              
              =link_to courses_constructed_response_url(course_name_url: @course_step.course_lesson.course_section.course.name_url,
              course_section_name_url: @course_step.course_lesson.course_section.name_url,
                course_lesson_name_url: @course_step.course_lesson.name_url,
                course_step_name_url: @course_step.name_url), id: 'newConstructedResponseButton', onclick: "sendClickEventToSegment('quiz_initiated', {userId: '#{@current_user&.id}',email: '#{@current_user&.email}',hasValidSubscription: '#{@current_user&.valid_subscription?}',isEmailVerified: '#{@current_user&.email_verified}',preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', isLoggedIn: '#{!@current_user&.nil?}', sessionId: '#{session&.id}', quizName: '#{@course_step&.name}', courseName: '#{@course&.name}', programName: '#{@course&.group.name}', moduleName: '#{@course_step&.name}', quizType: 'cbe'})" do
                .btn.btn-primary.mt-3
                  ='New Constructed Response'




        .start-screen-box-nav.start-screen-box-nav-footer{style: 'min-height: 35px;'}
          .cr-resources
            =''


:javascript
  collapseFunc();
  $(".sk-circle").hide();
  $(document).on('ready', function() {

    $("#newConstructedResponseButton").click(function(event) {
      $("#newConstructedResponseButton").hide();
      $(".sk-circle").show();
    });
  });
