.box-item.question-box.border-same-backcolor.width-bigger#quiz-contents{style: 'min-height: 645px;'}
  %h2
    =cme.name
  -if cme.course_module_element_video.try(:video_id)
    %div{id: "wistia_#{cme.course_module_element_video.try(:video_id)}",class: 'wistia_embed', style: 'height:360px;width:640px'}
  -else
    #video-window
  .l-margin-bottom.l-margin-top
    .pull-left
      -unless cme.description.blank?
        %h3=t('views.course_module_elements.form.description')
        .pull-left
          =cme.description.html_safe
      -#if @course_module.try(:parent).try(:forum_url)
        %br/
        %h6
          .pull-left
            =link_to "Discuss #{cme.name} in the Forum", @course_module.parent.try(:forum_url), target: '_blank'

.box-item.question-box.border-same-backcolor.width-bigger
  .cme-nav
    =render partial: 'courses/cme_nav', locals: {cme: @course_module_element}

-if cme.course_module_element_resources.all_in_order.count > 0
  .row
    .col-sm-12
      %h2=t('views.course_module_element_resources.index.h1')
      %ul
        -cme.course_module_element_resources.all_in_order.each do |r|
          -if r.web_url.length > 0
            %li
              =link_to r.name, r.web_url, target: '_blank'
          -else
            %li
              =link_to r.name, r.upload.url, target: '_blank'
-if @video_cme_user_log
  :javascript

    wistiaEmbed = Wistia.embed("#{cme.course_module_element_video.try(:video_id)}", {
      videoFoam: true,
      stillUrl: 'https://dvetmi3t70548.cloudfront.net/video-still-image-2.png'
    });

    var videoCmeUserLog = #{@video_cme_user_log.id || 0};
    wistiaEmbed.bind('play', function() {
      $.ajax({
        url: '#{video_watched_data_courses_path}',
        dataType: 'json',
        data: JSON.stringify({'videoLogId': videoCmeUserLog}),
        method: 'PATCH',
        contentType: "application/json; charset=utf-8"
      });
      return this.unbind;
    });
-else
  :javascript

    wistiaEmbed = Wistia.embed("#{cme.course_module_element_video.try(:video_id)}", {
      videoFoam: true,
      stillUrl: 'https://dvetmi3t70548.cloudfront.net/video-still-image-2.png'
    });
