.box-item.question-box.border-same-backcolor.width-bigger#quiz-contents
  %h2
    =t('views.courses.show_results.h1')
    =@course_module_element_user_log.course_module_jumbo_quiz.try(:name) || @course_module_element_user_log.course_module_element.try(:name) || 'Custom Quiz'

  .btn.answer-correct.l-margin-top-big.l-margin-bottom-big.result-summary
    Results Summary
  #results
    %h3.l-margin-top-big.l-margin-bottom-big
      Summary

    -@course_module_element_user_log.quiz_attempts.each_with_index do |attempt, counter|
      .answer.l-margin-top-small{class: attempt.correct ? 'answer-correct' : 'answer-failed', id: "#{counter}", onclick: 'showSolution.call(this); return false;'}
        %p.text-inline.text-bold Question #{counter + 1}
        %p.text-inline
          = ' - ' + t("controllers.application.difficulty_levels.name.#{attempt.try(:quiz_question).try(:difficulty_level)}")
        -#%i.glyphicon.glyphicon-ok-circle.text-inline{'style'=>'font-size: 25px; color:green; float: right'}
        %i.text-inline{style: 'font-size: 25px; float: right'}=tick_or_cross attempt.try(:correct)
        %p.l-margin-top-small.l-margin-bottom-small
          -correct_answer = 0; your_answer = 0
          -attempt.answers.each_with_index do |qa, counter2|
            -correct_answer = counter2 if qa.correct
            -your_answer = counter2 if qa.id == attempt.quiz_answer_id
          %p.text-inline
            Correct Answer:
            &#160;
          %p.text-inline.text-bold=(('A'..'Z').to_a[correct_answer].to_s)
          %p.text-inline
            &#160;
            &bull;
            &#160;
            =' Your Answer:'
            &#160;
          %p.text-inline.text-bold=(('A'..'Z').to_a[your_answer].to_s)
          -if attempt.try(:quiz_question).try(:quiz_solutions).try(:count).to_i > 0
            %p.text-bold{style: 'margin-top: 15px; margin-bottom: 10px;'}
              Explanation
            -if attempt.try(:quiz_question).try(:quiz_solutions)
              %p
                =render partial: 'quiz_contents/index', locals: {contents: attempt.quiz_question.quiz_solutions}



  -@course_module_element_user_log.quiz_attempts.each_with_index do |attempt, counter|
    -if attempt
      =render partial: 'courses/show_solution', locals: {attempt: attempt, counter: counter}
  .l-margin-bottom.l-margin-top
    .pull-left
      %h6
      .pull-left
        -if !@course_module_element_user_log.is_question_bank
          =link_to "Discuss #{@course_module_element_user_log.course_module_element.try(:name) || @course_module_element_user_log.course_module_jumbo_quiz.try(:name)} in the Forum", @course_module_element_user_log.course_module.parent.try(:forum_url), target: '_blank'


.box-item.question-box.border-same-backcolor.width-bigger.text-right{style: 'padding-right: 40px;'}
  -if @course_module_element_user_log.is_jumbo_quiz
    .col-xs-4.text-left
      =link_to course_special_link(@course_module), class: 'btn btn-red text-bold' do
        .glyphicon.glyphicon-arrow-left
        Restart Module
    .col-xs-4.text-center
      =link_to t('views.dashboard.index.h1'), dashboard_url, class: 'btn btn-red text-bold'
    .col-xs-4.text-right
      =link_to course_special_link(@course_module.next_module), class: 'btn btn-red text-bold' do
        Next Module
        .glyphicon.glyphicon-arrow-right

  -if @course_module_element_user_log.is_question_bank
    .col-xs-4.text-left
      =link_to question_bank_url(@question_bank.exam_level.name_url, @question_bank.try(:exam_section).try(:name_url), @question_bank.id), class: 'btn btn-red text-bold' do
        .glyphicon.glyphicon-arrow-left
        Restart Quiz
    .col-xs-4.text-right
      =link_to library_url, class: 'btn btn-red text-bold' do
        Return to Library
        .glyphicon.glyphicon-arrow-right


  -if @course_module_element
    .cme-nav
      =render partial: 'courses/cme_nav', locals: {cme: @course_module_element}
:javascript

  var allSolutions = $('.all_solutions'),
      summaryButton = $('.btn.answer-correct');

  $( document ).ready(function() {
    allSolutions.hide();
    summaryButton.hide();
  });

  function showSolution() {
    var id = this.id;
    $('#results').hide();
    $("#solutions_" + id).show();
    summaryButton.show();
  }

  summaryButton.click(function() {
    allSolutions.hide();
    summaryButton.hide();
    $('#results').show();
  });

