.row
  .col-sm-12
    %h1.courses-title
      =cme.name
.row
  .col-sm-12
    .well.text-center#video-window
      .h2=t('views.general.coming_soon')



-if !cme.description.blank?
  =render partial: 'courses/cme_nav', locals: {cme: @course_module_element}
  .row
    .col-sm-12
      %h3=t('views.course_module_elements.form.description')
      -#%p
        =t('views.user_groups.form.tutor') + ':'
        =cme.tutor.full_name
      .well.well-sm
        =sanitizer(cme.description)

-else
  .cme-nav
    =render partial: 'courses/cme_nav', locals: {cme: @course_module_element}

-#.row
  .col-sm-12
    %h3=t('views.course_module_element_videos.form.transcript')
    .well.well-sm
      =sanitizer(cme.course_module_element_video.transcript)

-#.row
  .col-sm-12
    .glyphicon.glyphicon-tags
      -cme.course_module_element_video.tags.split(',').each do |tag|
        .label.label-default=tag

-if cme.course_module_element_resources.all_in_order.count > 0
  .row
    .col-sm-12
      %h2=t('views.course_module_element_resources.index.h1')
      %ul
        -cme.course_module_element_resources.all_in_order.each do |r|
          -if r.web_url.length > 0
            %li
              =link_to r.name, r.web_url, target: '_blank'
              %br/
              .text-muted=r.description
          -else
            %li
              =link_to r.name, r.upload.url, target: '_blank'
              =link_to '(' + r.upload_file_name + ')', r.upload.url, target: '_blank'
              %br/
              .text-muted=r.description

:javascript

  jwplayer("video-window").setup({
    //file: "https://signaleducation-output-videos.s3.amazonaws.com/cfa1_2014_13_1_.m3u8",
    //file: "https://s3-eu-west-1.amazonaws.com/signaleducation-output-videos/2014_Product_Final/ALT/cfa1_2014_13.1/hls/master.m3u8",
    //provider:'http',
    //'http.startparam': 'starttime',
    //flashplayer: "javascripts/player.swf",
    //file: "https://dvetmi3t70548.cloudfront.net/cfa1_2014_13.2/hls/master.m3u8",
    file: '#{cme.course_module_element_video.raw_video_file.url}',
    image: "https://dvetmi3t70548.cloudfront.net/video-still-image.jpg",
    width: "100%", aspectratio: "16:9", volume: 80,
    androidhls: 'true'
  });

  var completedDataSent = false;
  var onCompletedHandler = function() {
    // Avoid error in development mode where Mixpanel is turned off
    if (typeof mixpanel !== 'undefined' && completedDataSent === false) {
      var duration = jwplayer().getDuration();
      var position = +(jwplayer().getPosition()).toFixed(2);
      mixpanel.track("Video View End", {
        'Video Name': '#{cme.name}',
        'Course Module': '#{cme.course_module.name}',
        'Exam Section': '#{cme.course_module.exam_section.name}',
        'Course': '#{cme.course_module.qualification.name} #{cme.course_module.exam_section.exam_level.name}',
        'Video Length': +(duration / 60.0).toFixed(2),
        'Time Viewed': position,
        'Percent Completed': +(position * 100 / duration).toFixed(2),
        'Next CME': ['#{course_special_link(cme.try(:next_element))}', '#{cme.try(:next_element).try(:type_name)}']
      });
      mixpanel.people.increment("Videos Completed");
      mixpanel.people.increment("Total Time Viewing Videos", position);
      completedDataSent = true;
    }
  };

  var playsNo = 0;
  jwplayer().onPlay(function(stateInfo) {
    if (stateInfo.newstate == 'PLAYING') {
      playsNo += 1;
      // Avoid error in development mode where Mixpanel is turned off
      if (typeof mixpanel !== 'undefined' && 1 == playsNo) {
        mixpanel.track("Video View Begin", {
          'Video Name': '#{cme.name}',
          'Course Module': '#{cme.course_module.name}',
          'Exam Section': '#{cme.course_module.exam_section.name}',
          'Course': '#{cme.course_module.qualification.name} #{cme.course_module.exam_section.exam_level.name}',
          'Video Length': +(jwplayer().getDuration() / 60.0).toFixed(2)
        });
        mixpanel.people.increment("Videos Viewed");
      }
    }
  });

  window.onbeforeunload = onCompletedHandler;
  jwplayer().onComplete(onCompletedHandler);
