.col-md-8.col-sm-12
  %h2
    =cme.name.html_safe
  -if cme.course_module_element_video.vimeo_guid
    #vimeo-player-window.vimeo-player-window

  -else
    %div{id: "wistia_#{cme.course_module_element_video.try(:video_id)}",class: 'wistia_embed', style: 'height:360px;width:640px'}


  -#Nav buttons below video
  .l-margin-bottom.l-margin-top.hidden-xs
    .pull-right
      -if cme.course_module.subject_course.is_cpd
        =link_to course_special_link(cme.next_element), class: 'btn btn-red text-bold' do
          =t('views.course_module_elements.show.next_step')
          .glyphicon.glyphicon-arrow-right
      -else
        =link_to course_special_link(cme.next_element), class: 'btn btn-red text-bold mark-as-complete' do
          =t('views.course_module_elements.show.next_step')
          .glyphicon.glyphicon-arrow-right

  .l-margin-bottom-huge.l-margin-top.hidden-lg.hidden-md.hidden-sm
    .col-sm-12
      -if cme.course_module.subject_course.is_cpd
        =link_to course_special_link(cme.next_element), class: 'btn btn-red full-width' do
          =t('views.course_module_elements.show.next_step')
          .glyphicon.glyphicon-arrow-right
      -else
        =link_to course_special_link(cme.next_element), class: 'btn btn-red full-width mark-as-complete' do
          =t('views.course_module_elements.show.next_step')
          .glyphicon.glyphicon-arrow-right

.col-md-4.col-sm-12
  -if @course_module_element.course_module_element_resources.count > 0
    .col-md-12.l-margin-top-big
      %h4.l-margin-bottom
        ='Additional Resources'
      -@course_module_element.course_module_element_resources.each do |r|
        -if r.web_url && r.web_url.length > 0
          =link_to r.web_url, class: 'resource-box resource-box-inner full-width', target: '_blank' do
            =r.name
        -else
          =link_to r.upload.url, class: 'resource-box resource-box-inner full-width', target: '_blank' do
            .col-xs-10
              =r.name
            .col-xs-2
              .glyphicon.glyphicon-download{style: 'top: 3px;'}


-if cme.course_module_element_video.vimeo_guid

  :javascript

    var videoCmeUserLog = #{@video_cme_user_log ? @video_cme_user_log.id : 0};
    var options = {
      id: "#{cme.course_module_element_video.vimeo_guid}",
      frameborder: 0,
      webkitAllowFullScreen: true,
      mozallowfullscreen: true,
      allowFullScreen: true
    };

    var player = new Vimeo.Player('vimeo-player-window', options);

    player.on('timeupdate', function(event) {

      if (event.percent === 0.75) {
        $.ajax({
          url: '#{video_watched_data_courses_path}',
          dataType: 'json',
          data: JSON.stringify({'videoLogId': videoCmeUserLog}),
          method: 'PATCH',
          contentType: "application/json; charset=utf-8"
        });
      }

    });



-else

  :javascript
    var videoCmeUserLog = #{@video_cme_user_log ? @video_cme_user_log.id : 0};

    wistiaEmbed = Wistia.embed("#{cme.course_module_element_video.try(:video_id)}", {
      videoFoam: true,
      stillUrl: 'https://dvetmi3t70548.cloudfront.net/video-still-image-2.png'
    });

    wistiaEmbed.bind("secondchange", function() {
      var time1 = (wistiaEmbed.duration()/100*75);
      var time2 = time1 + 2;
      if (wistiaEmbed.secondsWatched() > time1 && wistiaEmbed.secondsWatched() < time2) {
        $.ajax({
          url: '#{video_watched_data_courses_path}',
          dataType: 'json',
          data: JSON.stringify({'videoLogId': videoCmeUserLog}),
          method: 'PATCH',
          contentType: "application/json; charset=utf-8"
        });
      }
    })
