.row.row-lg#notes-window{data: {step_id: @course_step.id, step_name: @course_step.name, module_id: @course_lesson.id, module_name: @course_lesson.name,
 course_id: @course.id, course_name: @course.name, exam_body_id: @group.exam_body.id, exam_body_name: @group.exam_body.name,
  preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name, banner: @banner.present?.to_s,
   onboarding: current_user&.analytics_onboarding_valid?.to_s, free_lesson: @course_lesson.free.to_s, step_order: @index_order,
    estimated_time_in_seconds: @course_step.estimated_time_in_seconds, allow_download_file: notes.download_available.to_s,
     previous_completion_count: @previous_completion_count }}
  .col-xl-12
    #course-right-show-elem-notes.course-right-show-content
      %header.course-header-mobile
        -if @course_step
          .course-title
            %div{style:"height:20px;margin-right: 12px;"}
              %i{class:"material-icons icon-bg-round side-nav-material-icons", style: "color: #888; "} file_present
            =@course_step.name
      #course-notes-anly{data: {userId: current_user&.id, email: current_user&.email, hasValidSubscription: current_user&.valid_subscription?, isEmailVerified: current_user&.email_verified, preferredExamBodyId: current_user&.preferred_exam_body_id, isLoggedIn: !current_user&.nil?, sessionId: session&.id }}
      .course-right-show-frame
        =# VueJS include
        =javascript_pack_tag 'pdf_viewer'
        #course-notes-reader{ 'data-course-id': notes.id,
                              'data-step-log-id': log.id,
                              'data-file-name': notes.name,
                              'data-file-download': notes.download_available.to_s,
                              'data-file-url': notes.upload.url,
                               }

:javascript
  $(document).on("ready", function() {
    $("#course-notes-anly").attr({
      "userId" : '#{current_user&.id}',
      "email" : '#{current_user&.email}',
      "hasValidSubscription" : '#{current_user&.valid_subscription?}',
      "isEmailVerified" : '#{current_user&.email_verified}',
      "preferredExamBodyId" : '#{current_user&.preferred_exam_body_id}',
      "isLoggedIn" : '#{!current_user&.nil?}',
      "sessionId" : '#{session&.id}',
      "moduleName" : '#{@course_step&.name}',
      "courseName" : '#{@course&.name}',
      "programName" : '#{@course&.group.name}',
      "file_name" : '#{notes.name}'
    });
  })