.row.row-lg#quiz-results-window{data: {step_id: @course_step.id, step_name: @course_step.name, module_id: @course_lesson.id, module_name: @course_lesson.name,
 course_id: @course.id, course_name: @course.name, section_id: @course_lesson&.course_section_id, section_name: @course_lesson&.course_section&.name,
  exam_body_id: @group.exam_body.id, exam_body_name: @group.exam_body.name, preferred_exam_body_id: current_user&.preferred_exam_body_id,
   preferred_exam_body: current_user&.preferred_exam_body&.name, banner: @banner.present?.to_s, onboarding: current_user&.analytics_onboarding_valid?.to_s,
   free_lesson: @course_lesson.free.to_s, quiz_result: @pass, quiz_score: @quiz_score, step_order: @index_order, quiz_question_count: @course_step.course_quiz.quiz_questions.count,
    quiz_questions_asked: @number_of_questions, selection_strategy: @course_step.course_quiz.question_selection_strategy,
     estimated_time_in_seconds: @course_step.estimated_time_in_seconds, previous_completion_count: @previous_completion_count, previous_best_score: @previous_best_score, previously_passed: @previously_passed }}
  .col-xl-12
    #course-right-show-elem-notes.course-right-show-content
      .course-right-show-frame
        #quiz-contents.px-3.py-4
          .btn.btn-secondary.btn-sm.btn-sm-arrow-left.answer-correct.mb-4
            Back to Results
          %div.align-quiz-result-text
            %h3.h4
              ="Result: "
              -result_colour = @pass == 'Pass' ? '#00cc66' : '#EE5457'
              %span{style: "color: #{result_colour};"}
                =@pass

            %h3.h4
              =t('views.courses.show_results.score')
              =@course_step_log.quiz_attempts.where(correct: true).count
              &#47;
              =@course_step_log.quiz_attempts.count
          #results{style: "display: flex;flex-direction: column;row-gap: 12px;"}
            -@course_step_log.quiz_attempts.sort_by(&:id).each_with_index do |attempt, counter|
              .step{id: "#{counter}", onclick: 'showSolution.call(this); return false;'}
                %div
                  %p.text-inline.text-bold.no-margin-bottom Question #{counter + 1}
                  %i.material-icons.text-inline{style: 'font-size: 16px;margin-left:4px;float: right;margin-top: 6px;'}=red_or_green_arrow(attempt.try(:correct), 'arrow_forward')
                  
                %div
                  -correct_answers = []; your_answer = 0
                  -attempt.answers.each_with_index do |qa, counter2|
                    -correct_answers << counter2 if qa.correct
                    -your_answer = counter2 if qa.id == attempt.quiz_answer_id

                  -if correct_answers.count > 1
                    %p.text-inline.no-margin-bottom
                      Correct Answers:
                      &#160;
                    -correct_answers.each_with_index do |correct_answer, counter3|
                      -if counter3 == (correct_answers.count - 1)
                        %p.text-inline.no-margin-bottom.text-bold{style: "color:#00cc66;"}=(('A'..'Z').to_a[correct_answer].to_s)
                      -else
                        %p.text-inline.no-margin-bottom.text-bold{style: "color:#00cc66;"}=(('A'..'Z').to_a[correct_answer].to_s + ' &')
                  -else
                    %p.text-inline.no-margin-bottom
                      Correct Answer:
                      &#160;
                    %p.text-inline.no-margin-bottom.text-bold{style: "color:#00cc66;"}=(('A'..'Z').to_a[correct_answers.first].to_s)
                  -if(!attempt.try(:correct))
                    %p.text-inline.no-margin-bottom
                      =', Your Answer:'
                      &#160;
                    %p.text-inline.no-margin-bottom.text-bold=red_or_green_text(attempt.try(:correct),('A'..'Z').to_a[your_answer].to_s)
                    %h3.step-part-content-quiz.step-part-content-fail
                      %i.material-icons.icon-bg-round.color-shade-red{"aria-label" => "failed", :role => "img", :style => "margin-left:1px"} close
                  -else
                    %p.text-inline{style: "visibility: hidden;"}
                      =', Your Answer:'
                      &#160;
                    %p.text-inline.text-bold{style: "visibility: hidden;"}=(('A'..'Z').to_a[your_answer].to_s)
                    %h3.step-part-content-quiz
                      %i.material-icons.icon-bg-round.color-shade{"aria-label" => "failed", :role => "img", :style => "margin-left:1px"} check

          -@course_step_log.quiz_attempts.sort_by(&:id).each_with_index do |attempt, counter|
            -if attempt
              =render partial: 'courses/show_solution', locals: {attempt: attempt, counter: counter}



        -if @course_step
          .cme-nav.margin-quiz-btn
            .cme-nav
              =render partial: 'courses/cme_nav', locals: {cme: @course_step}


      :javascript

        var allSolutions = $('.all_solutions'),
          summaryButton = $('.btn.answer-correct'),
          cmeNav = $('.cme-nav'),
          pass = '#{@pass}';

        $( document ).ready(function() {
          allSolutions.hide();
          summaryButton.hide();
          sendClickEventToSegment('quiz_completed', {
            userId: '#{@current_user&.id}',
            email: '#{@current_user&.email}',
            hasValidSubscription: '#{@current_user&.valid_subscription?}',
            isEmailVerified: '#{@current_user&.email_verified}',
            preferredExamBodyId: '#{@current_user&.preferred_exam_body_id}', 
            isLoggedIn: '#{!@current_user&.nil?}', 
            sessionId: '#{session&.id}', 
            result: '#{@course_step_log.quiz_attempts.where(correct: true).count + ' ' + @course_step_log.quiz_attempts.count}', 
            courseName: '#{@course.name}', 
            quizName: '#{@course_step.name}', 
            moduleName: '#{@course_step.name}', 
            programName: '#{@course.group.name}'})
        });

        function showSolution() {
          var id = this.id;
          $('#results').hide();
          $("#solutions_" + id).show();
          summaryButton.show();
          cmeNav.hide();
        }

        summaryButton.click(function() {
          allSolutions.hide();
          summaryButton.hide();
          cmeNav.show();
          $('#results').show();
        });

        if(pass == 'Pass') {
          $("#next-lesson-modal").addClass('d-none');
          $("#next-lesson-link").removeClass('d-none');
        }
