.hidden{id: "scenario_question_#{scenario_question.id}_answer_#{scenario_answer_template.id}_spreadsheet_json"}
  =spreadsheet_json

.answer_spreadsheet{id: "scenario_question_#{scenario_question.id}_answer_#{scenario_answer_template.id}_spreadsheet"}

:javascript
  var templateJson = $("#scenario_question_#{scenario_question.id}_answer_#{scenario_answer_template.id}_spreadsheet_json").text();
  var paredJson = JSON.parse(templateJson);

  $("#scenario_question_#{scenario_question.id}_answer_#{scenario_answer_template.id}_spreadsheet").kendoSpreadsheet({
    sheetsbar: false,
    scrollable: false,
    toolbar: {insert: false, data: false }
   });
  $("#scenario_question_#{scenario_question.id}_answer_#{scenario_answer_template.id}_spreadsheet").data("kendoSpreadsheet").fromJSON(paredJson);

