.answer_texteditor
  =scenario_answer_attempt.text_area :user_edited_answer_template_text, id: "scenario_question_attempt_#{sq_attempt.id}_scenario_answer_attempt_#{sa_attempt.id}_texteditor"



:javascript

  $(document).ready(function(){
    $("#scenario_question_attempt_#{sq_attempt.id}_scenario_answer_attempt_#{sa_attempt.id}_texteditor").kendoEditor({
      encoded: false,
      pasteCleanup: {
          keepNewLines: true
      },
      tools: [
        {
            name: "customReset",
            tooltip: "Reset",
            class: "k-i-file k-i-file-vertical",
            exec: function(e) {
                var editor = $(this).data("kendoEditor");
                editor.value("#{sa_attempt.original_answer_template_text}");
            }
        },

        "cut", //missing
        "copy", //missing
        "paste", //missing

        {
          name: "customUndo",
          tooltip: "Undo",
          exec: function (e) {
            var editor = $(this).data("kendoEditor");
            editor.exec("undo");
          }
        },
        {
          name: "customRedo",
          tooltip: "Redo",
          exec: function (e) {
            var editor = $(this).data("kendoEditor");
            editor.exec("redo");
          }
        },

        "findReplace", //missing

        "bold",
        "italic",
        "underline",
        "strikethrough",

        "subscript",
        "superscript",

        "cleanFormatting",

        "formatting",

        "tableWizard", //Can't make exact match -- having issue with width of dialog modal
        "createTable",
        "addRowAbove",
        "addRowBelow",
        "addColumnLeft",
        "addColumnRight",
        "deleteRow",
        "deleteColumn",

        "justifyLeft",
        "justifyCenter",
        "justifyRight",
        "justifyFull",

        "insertUnorderedList",
        "insertOrderedList",

        "indent",
        "outdent"

      ]
    });



  });
