-# VueJS include
= javascript_pack_tag 'exercise'

.card.card-primary{style: 'min-height: 10px;'}
  .card-body
    -if response.cbe_response_option.kind == 'open'
      %div{ id: "questionContent-#{response.id}" }
        -if response.content['data'].present?
          =raw(response.content['data'])
        -else
          Response not answered by the student
    -elsif response.cbe_response_option.kind == 'multiple_open'
      %div{ id: "questionContent-#{response.id}" }
        -response.content['data'].each do |content|
          %div.multiple_responses
            %h5
              Notes
            %span
              =raw(content['notes'])
            %h5
              Notes Speaker
            %span
              =raw(content['speaker'])
    -else
      #open-answers-component{ data: { answer_type: 'ResponseSpreadsheet',
                                        answer_id: response.id,
                                        spreadsheet_data: response.content,
                                        cbe_id: response.user_log.cbe_id,
                                        cbe_user_log_id: response.cbe_user_log_id } }
  .card-body
    .h4.text-gray2
      Question Score & Comment
    =form_with(url: cbe_user_response_update_admin_exercise_path(id: response.user_log.exercise_id, response_id: response.id), html: {class: 'form-horizontal', role: 'form'}) do
      .row
        .col-sm-3
          .form-group
            =label_tag :score, "Score"
            .input-group.input-group-lg
              =text_field_tag(:score, response.score, id: "score-#{response.id}", class: 'form-control')
      .row.pt-3
        .col-sm-12
          .form-group
            .input-group.input-group-lg
              =label_tag :educator_comment, 'Comment (optional)'
              =text_area_tag(:educator_comment, response.educator_comment, id: "#{response.id}-education-comment-editor", as: 'summernote')
      .row.pt-5
        .col-sm-6
          =submit_tag("Update", class: 'btn btn-primary')
          %div{:id => "#{response.id}-response"}


:javascript
  $("##{response.id}-education-comment-editor").summernote({
    disableDragAndDrop: true,
    height: 150
  });
