%h1=t('mailers.operational.corporate_enquiry.subject_line')
%p="Name: #{@request.name}"
%p="Title: #{@request.title}"
%p="Company: #{@request.company}"
%p="Email: #{@request.email}"
%p="Number: #{@request.phone_number}"
%p="Website: #{@request.website}"
%p="Message: #{@request.personal_message}"

