%h1=t('mailers.operational.white_paper_request.subject_line')
%p="Name: #{@request.name}"
%p="Company: #{@request.company_name}"
%p="Email: #{@request.email}"
%p="Number: #{@request.number}"
%p="Website: #{@request.web_url}"


