.row
  .col-sm-12
    .page-header
      %h1
        =t('views.corporate_customers.show.h1')
        = current_user.admin? ? "##{@corporate_customer.id}" : "Overview"
.row
  .col-sm-12
    - if current_user.admin?
      %table.table.table-bordered
        %tr
          %td.col-sm-4=t('views.corporate_customers.form.organisation_name')
          %td.col-sm-8=@corporate_customer.organisation_name
        %tr
          %td.col-sm-4=t('views.corporate_customers.form.address')
          %td.col-sm-8=@corporate_customer.address
        %tr
          %td.col-sm-4=t('views.corporate_customers.form.country_id')
          %td.col-sm-8
            -# todo =@corporate_customer.country.name
        %tr
          %td.col-sm-4=t('views.corporate_customers.form.payments_by_card')
          %td.col-sm-8=tick_or_cross(@corporate_customer.payments_by_card)
        %tr
          %td.col-sm-4=t('views.corporate_customers.form.stripe_customer_guid')
          %td.col-sm-8=@corporate_customer.stripe_customer_guid

    %h3= t('views.corporate_customers.show.compulsory_courses')
    %table.table
      %tbody
        - @compulsory_courses.each do |cc|
          %tr
            %td= cc.name
    %h3= t('views.corporate_customers.show.started_courses')
    %table.table
      %tbody
        - @started_courses.each do |sc|
          %tr
            %td= sc.name

    %p
      - if current_user.admin?
        =link_to t('views.corporate_customers.index.h1'), corporate_customers_url
        |
        =link_to t('views.general.edit'), edit_corporate_customer_url(id: @corporate_customer.id), title: t('views.general.edit_tooltip')
