-if current_user.corporate_customer?
  #wrapper
    .hidden-xs
      =render partial: 'layouts/corporate_side_bar'

    .main-content.full-width
      -if flash[:success] || flash[:error] || flash[:warning]
        =render partial: 'layouts/flash_messages'
      .l-section-small.is-bg-asphalt{style: 'padding-left: 30px; padding-right: 30px;'}
        .container-fluid
          .row.l-margin-bottom
            .col-md-12
              %h1.l-margin-bottom.l-margin-top.h-separator.h-separator-left{style: 'letter-spacing:1.5px;'}
                ="Overview"
            .col-md-12.l-margin-top-big
              -if current_user.admin?
                .corporate-box-item.table-box
                  .table-responsive
                    %table.table{style: 'font-size: 16px;'}
                      %thead
                        %tr
                          %th
                            =t('views.corporate_customers.form.organisation_name')
                          %th
                            =t('views.corporate_customers.form.address')
                          %th
                            =t('views.corporate_customers.form.payments_by_card')
                          %th
                            =t('views.corporate_customers.form.stripe_customer_guid')
                      %tbody
                        %tr
                          %td
                            =@corporate_customer.organisation_name
                          %td
                            =@corporate_customer.address
                          %td
                            =tick_or_cross(@corporate_customer.payments_by_card)
                          %td
                            =@corporate_customer.stripe_customer_guid ? "#{@corporate_customer.stripe_customer_guid}" : "Nil"
                        %tr
                          %td
                          %td
                          %td
                          %td

              .corporate-box-item.chart-box
                .row.l-margin-bottom-big
                  .col-md-6
                    %h2.letter-space-wide User Activity
                  .col-md-6.chart-legend.text-right
                    .color-circle.color-red.text-inline
                    %p.text-inline.font-small Videos Watched
                    .color-circle.color-cyan.text-inline
                    %p.text-inline.font-small Quizzes Taken
                .row.l-margin-bottom
                  %canvas#canvas{height:"300", width:"790"}


              .corporate-box-item.table-box
                %h2.l-margin-bottom
                  = t('views.corporate_customers.show.compulsory_courses')
                .table-responsive
                  %table.table{style: 'font-size: 16px;'}
                    %thead
                      %tr
                        %th Course
                        %th Videos Watched
                        %th Quizzes Taken
                    %tbody
                      - @compulsory_courses.each do |cc|
                        %tr
                          %td= cc.name
                          -if cc.class == SubjectCourse
                            -ids = cc.children.all.map(&:id)
                          -else
                            -ids = cc.course_modules.all.map(&:id)
                          %td=@corporate_videos_logs.where(course_module_id: ids).count
                          %td=@corporate_quiz_logs.where(course_module_id: ids).count

              .corporate-box-item.table-box
                %h2.l-margin-bottom
                  = t('views.corporate_customers.show.started_courses')
                .table-responsive
                  %table.table{style: 'font-size: 16px;'}
                    %thead
                      %tr
                        %th Course
                        %th Videos Watched
                        %th Quizzes Taken
                    %tbody
                      - @started_courses.each do |sc|
                        %tr
                          %td= sc.name
                          -if sc.class == SubjectCourse
                            -ids = sc.children.all.map(&:id)
                          -else
                            -ids = sc.course_modules.all.map(&:id)
                          %td=@corporate_videos_logs.where(course_module_id: ids).count
                          %td=@corporate_quiz_logs.where(course_module_id: ids).count


        %p
          - if current_user.admin?
            =link_to t('views.corporate_customers.index.h1'), corporate_customers_url
            |
            =link_to t('views.general.edit'), edit_corporate_customer_url(id: @corporate_customer.id), title: t('views.general.edit_tooltip')

    =render partial: 'layouts/footer'

-elsif current_user.admin?

  .margin-top.l-section-small.is-bg-asphalt{style: 'padding-left: 30px; padding-right: 30px;'}
    .container-fluid
      .row.l-margin-bottom
        .col-md-12
          %h1.l-margin-bottom.l-margin-top.h-separator.h-separator-left{style: 'letter-spacing:1.5px;'}
            = @corporate_customer.organisation_name
        .col-md-12.l-margin-top-big
          -if current_user.admin?
            .corporate-box-item.table-box
              .table-responsive
                %table.table{style: 'font-size: 16px;'}
                  %thead
                    %tr
                      %th
                        =t('views.corporate_customers.form.organisation_name')
                      %th
                        =t('views.corporate_customers.form.subdomain')
                      %th
                        =t('views.corporate_customers.form.user_name')
                      %th
                        =t('views.corporate_customers.form.passcode')
                  %tbody
                    %tr
                      %td
                        =@corporate_customer.organisation_name
                      %td
                        =@corporate_customer.subdomain
                      %td
                        =@corporate_customer.user_name
                      %td
                        =@corporate_customer.passcode
                    %tr
                      %td
                      %td
                      %td
                      %td



          .corporate-box-item.table-box
            %h2.l-margin-bottom
              Students
            .table-responsive
              %table.table{style: 'font-size: 16px;'}
                %thead
                  %tr
                    %th Name
                    %th Email
                    %th User Id
                %tbody
                  - @corporate_students.each do |student|
                    %tr
                      %td=student.full_name
                      %td=student.email
                      %td=student.id
                      %td
                        =link_to t('views.general.edit_user'), edit_user_url(student), class: 'btn btn-small btn-purple'

          .corporate-box-item.table-box
            %h2.l-margin-bottom
              Managers
            .table-responsive
              %table.table{style: 'font-size: 16px;'}
                %thead
                  %tr
                    %th Name
                    %th Email
                    %th User Id
                %tbody
                  - @corporate_managers.each do |managers|
                    %tr
                      %td=managers.full_name
                      %td=managers.email
                      %td=managers.id
                      %td
                        =link_to t('views.general.edit_user'), edit_user_url(managers), class: 'btn btn-small btn-purple'
  =render partial: 'layouts/footer'


:javascript
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var months = #{@labels},
        videosThisMonth = #{@videos_this_month},
        videosOneMonthAgo = #{@videos_one_month_ago},
        videosTwoMonthsAgo = #{@videos_two_months_ago},
        videosThreeMonthsAgo = #{@videos_three_months_ago},
        videosFourMonthsAgo = #{@videos_four_months_ago},
        videosFiveMonthsAgo = #{@videos_five_months_ago}
        quizzesThisMonth = #{@quizzes_this_month},
        quizzesOneMonthAgo = #{@quizzes_one_month_ago},
        quizzesTwoMonthsAgo = #{@quizzes_two_months_ago},
        quizzesThreeMonthsAgo = #{@quizzes_three_months_ago},
        quizzesFourMonthsAgo = #{@quizzes_four_months_ago},
        quizzesFiveMonthsAgo = #{@quizzes_five_months_ago}
    var lineChartData = {
      labels : months,
      datasets : [
        {
          label: "Videos Watched",
          fillColor : "rgba(220,220,220,0)",
          strokeColor : "#EE5457",
          pointColor : "#EE5457",
          pointStrokeColor : "#EE5457",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : [videosFiveMonthsAgo,videosFourMonthsAgo,videosThreeMonthsAgo,videosTwoMonthsAgo,videosOneMonthAgo,videosThisMonth]
        },
        {
          label: "Quizzes Taken",
          fillColor : "rgba(62,185,206,0.2)",
          strokeColor : "rgba(62,185,206,1)",
          pointColor : "rgba(62,185,206,1)",
          //pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(151,187,205,1)",
          data : [quizzesFiveMonthsAgo,quizzesFourMonthsAgo,quizzesThreeMonthsAgo,quizzesTwoMonthsAgo,quizzesOneMonthAgo,quizzesThisMonth]
        }
      ]
    }

    window.onload = function(){
      var ctx = document.getElementById("canvas").getContext("2d");
      window.myLine = new Chart(ctx).Line(lineChartData, {
        responsive: true,scaleShowVerticalLines: false,datasetStrokeWidth : 3,scaleGridLineColor : "rgba(0,0,0,.1)",
        scaleOverride: true, scaleStartValue: 0, scaleStepWidth: 10, scaleSteps: 10,scaleShowLabels: true
      });
    }

    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
