=javascript_include_tag 'video_players/dacast'

:javascript
  let log_id         = ''
  let video_cme_id   = "#{cme.id}"
  let course_log_id  = "#{@subject_course_user_log.try(:id) || ''}";
  let section_log_id = "#{@course_section_user_log.try(:id) || ''}";
  let exam_track_id  = "#{@student_exam_track.try(:id) || ''}";
  let video_id       = "#{ENV['DACAST_PLAYER_KEY']}#{cme.course_module_element_video.dacast_id}"
  let myPlayer       = dacast(video_id, 'video-player-window');

  // Create a log when video start
  myPlayer.onPlay(function(){
    if (log_id === '') {
      $.ajax({
        url: '#{create_video_user_log_courses_path}',
        method: 'post',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({ 'cmeId': video_cme_id,
                              'scul_id': course_log_id,
                              'csul_id': section_log_id,
                              'set_id': exam_track_id }),
        success: function(data,status,xhr){
          log_id = data.video_log_id;
          videoPlayEvent();
        },
        error: function(xhr,status,error){
          console.log(xhr);
        }
      });
    }
  });

  // Update the log when video finish
  myPlayer.onComplete(function(){
    $.ajax({
      url: '#{video_watched_data_courses_path}',
      method: 'patch',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({ 'video_log_id': log_id, 'cme_id': video_cme_id }),
      success: function(data,status,xhr){
        videoFinishedEvent();
      },
      error: function(xhr,status,error){
        console.log(xhr);
      }
    });
  });
