=javascript_include_tag 'https://player.dacast.com/js/player.js'

:javascript
  let log_id         = ''
  let video_cme_id   = "#{cme.id}"
  let course_log_id  = "#{@course_log.try(:id) || ''}";
  let section_log_id = "#{@course_section_log.try(:id) || ''}";
  let exam_track_id  = "#{@course_lesson_log.try(:id) || ''}";
  let video_id       = "#{ENV['DACAST_PLAYER_KEY']}#{cme.course_video.dacast_id}";
  let freeLesson     = "#{@course_lesson.free}";
  let lastLessonStep = "#{@course_lesson.course_steps.all_in_order.all_active.last.id}";
  let endStepVidTime = "#{cme.vid_end_seconds || ''}";
  let myPlayer       = dacast(video_id, 'video-player-window');

  let showUpgradeBtn = function() {
    $("#upgrade-subscription-modal").removeClass('video-upgrade-modal-hide');
    $("#upgrade-subscription-modal").addClass('video-upgrade-modal-show');
  };

  // Create a log when video start
  myPlayer.onPlay(function(){
    if (log_id === '') {
      $.ajax({
        url: '#{create_video_user_log_courses_path}',
        method: 'post',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({ 'cmeId': video_cme_id,
                              'scul_id': course_log_id,
                              'csul_id': section_log_id,
                              'set_id': exam_track_id }),
        success: function(data,status,xhr){
          log_id = data.video_log_id;
          videoPlayEvent();
        },
        error: function(xhr,status,error){
          console.log(xhr);
        }
      });

      if ( freeLesson === 'true') {
        setTimeout(
          function()
          { updateLog(); }, 60000);
        if(video_cme_id == lastLessonStep) {
          var eovCounter = parseInt(endStepVidTime)*10;
          setTimeout(
          function()
          { showUpgradeBtn(); }, eovCounter);
        }
      }
    }
  });

  // Update the log when video finish
  function updateLog() {
    $.ajax({
      url: '#{video_watched_data_courses_path}',
      method: 'patch',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({ 'video_log_id': log_id, 'cme_id': video_cme_id }),
      success: function(data,status,xhr){
        $("#next-lesson-modal").addClass('d-none');
        $("#next-lesson-link").removeClass('d-none');
        videoFinishedEvent();
      },
      error: function(xhr,status,error){
        console.log(xhr);
      }
    });
  };

  myPlayer.onComplete(function(){
    updateLog();
  });

  $( document ).ready(function() {
    if ( freeLesson === 'true') {
      setTimeout(
        function()
        {
          if ( myPlayer.ready()) {
            myPlayer.play();
          }
        }, 3000);
    }
  });