=javascript_include_tag 'video_players/vimeo'

:javascript
  let video_cme_id = "#{cme.id || ''}";
  let course_log_id = "#{@course_log.try(:id) || ''}";
  let section_log_id = "#{@course_section_log.try(:id) || ''}";
  let exam_track_id = "#{@course_lesson_log.try(:id) || ''}";
  let freeLesson = "#{@course_lesson&.free || autoPlay}";
  let lastLessonStep = "#{@course_lesson&.course_steps&.all_in_order&.all_active&.last&.id}";
  let endStepVidTime = "#{cme.vid_end_seconds || ''}";
  let title = "#{title || ''}";
  let updateFreeLesson = #{@course_lesson&.free ? 0.30 : 0.90};
  let completionPercent = #{@course_lesson&.free ? 0.30 : 0.90};
  let responsive = "#{responsive}";
  let logId = '';
  let updateFired = false;
  let moduleName = "#{module_name || ''}";
  let courseName = "#{course_name || ''}";
  let _programName = "#{program_name || ''}";
  let options = {
    id: "#{cme.course_video.vimeo_guid}",
    frameborder: 0,
    webkitAllowFullScreen: true,
    mozallowfullscreen: true,
    allowFullScreen: true,
    autoplay: freeLesson,
    responsive: responsive
  };

  let player = new Vimeo.Player('video-player-window', options);

  player.ready().then(function() {
    $('.video-preloader').addClass('hidden');
  }).catch(function(error) {7
    $('.video-player-window').html('#{j render partial: 'courses/players/dacast', locals: { cme: cme, module_name: @course_step&.course_lesson&.name, course_name: @course&.name, program_name: @course&.group&.name, userId: current_user&.id, email: current_user&.email, hasValidSubscription: current_user&.valid_subscription?, isEmailVerified: current_user&.email_verified, preferredExamBodyId: current_user&.preferred_exam_body_id, isLoggedIn: !current_user&.nil?, sessionId: session&.id, title: cme.name }}')
  });

  let showUpgradeBtn = function(upgradeBool) {
    if(upgradeBool) {
      $("#upgrade-subscription-modal").removeClass('video-upgrade-modal-hide');
      $("#upgrade-subscription-modal").addClass('video-upgrade-modal-show');
    }
  };

  let timeUpdate = function(data) {
    var eovCounter = data.duration - parseInt(endStepVidTime)/100;
    var updateBtnCount = false;
    let vimeoRate = 1;

    player.getPlaybackRate().then(function(playbackRate) {
        vimeoRate = playbackRate
    }).catch(function(error) {
        console.log('Could not determine Playback Rate')
    });


    if(freeLesson === 'true' && video_cme_id == lastLessonStep) {
      updateBtnCount = data.duration - data.seconds < eovCounter ? true : false;
      showUpgradeBtn(updateBtnCount);
    }
    if ((data.percent >= completionPercent) && (updateFired === false)) {
      updateFired = true;
      $.ajax({
        headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') },
        url: '#{video_watched_data_courses_path}',
        dataType: 'json',
        data: JSON.stringify({ 'video_log_id': logId, 'cme_id': video_cme_id }),
        method: 'PATCH',
        contentType: "application/json; charset=utf-8",
        success: function(data,status,xhr){
            $("#next-lesson-modal").addClass('d-none');
            $("#next-lesson-link").removeClass('d-none');
            $("#sidebar-next-lesson-modal").addClass('d-none');
            $("#sidebar-next-lesson-link").removeClass('d-none');
            player.getCurrentTime().then(function(seconds) { 
              player.getDuration().then(function(_seconds) { 
                videoFinishedEvent(freeLesson, vimeoRate, ((Math.round(seconds)).toFixed(0)).toString() + " sec", ((Math.round(seconds/_seconds * 100)).toFixed(0)).toString() + "%", moduleName, courseName, _programName);
              });
            });
        },
        error: function(xhr,status,error){
          console.log(xhr);
        }
      });
      if(freeLesson === 'false' && video_cme_id != lastLessonStep) {
        player.off('timeupdate', timeUpdate);
      }
    }
  };

  //When the player starts send JSON request to create CMEUL
  let onPlay = function(data) {
    sendClickEventToSegment('play_video', {userId: userId, email: email, hasValidSubscription: hasValidSubscription, isEmailVerified: isEmailVerified, preferredExamBodyId: prefExamBodyId, isLoggedIn: isLoggedIn, sessionId: sessionId, lessonName: title, moduleName: moduleName, courseName: courseName, programName: _programName })
    if (logId === '') {
      $.ajax({
        headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') },
        url: '#{create_video_user_log_courses_path}',
        dataType: 'json',
        data: JSON.stringify({'cmeId': video_cme_id, 'scul_id': course_log_id, 'csul_id': section_log_id, 'set_id': exam_track_id }),
        method: 'POST',
        contentType: "application/json; charset=utf-8",
        success: function(data,status,xhr){
          logId = data.video_log_id;
        },
        error: function(xhr,status,error){
          console.log(xhr);
        }
      });
    }
  };

  //When the user selects a specific time
  let onResume = function(data) {
    sendClickEventToSegment('play_video', {userId: userId, email: email, hasValidSubscription: hasValidSubscription, isEmailVerified: isEmailVerified, preferredExamBodyId: prefExamBodyId, isLoggedIn: isLoggedIn, sessionId: sessionId, lessonName: title, moduleName: moduleName, courseName: courseName, programName: _programName })
  };

  //When the user selects a specific time
  let onPause = function(data) {
    sendClickEventToSegment('pause_video', {userId: userId, email: email, hasValidSubscription: hasValidSubscription, isEmailVerified: isEmailVerified, preferredExamBodyId: prefExamBodyId, isLoggedIn: isLoggedIn, sessionId: sessionId, lessonName: title, moduleName: moduleName, courseName: courseName, programName: _programName})
  };

  //When the user adjusts the volume
  let onVideoEnded = function(data) {
    $("#js-end-of-video-modal").fadeIn(200);removeClass('hidden');
    //videoEnded(data);
  };

  
  

  player.on('play', onPlay);
  player.on('pause', onPause);
  player.on('timeupdate', timeUpdate);
  player.on('ended', onVideoEnded);
