-#if (controller_name == 'groups' && action_name == 'show') || (controller_name == 'library' && action_name == 'show') || (controller_name == 'subscription_plans' && action_name == 'public_index') || (controller_name == 'users' && action_name == 'new_paid_subscription')
  -if current_user

    -if @free_trial
      -if @free_trial <= 1
        -visitor = 'FreeTrial'
      -elsif @free_trial >= 2
        -visitor = 'Paying'
    -elsif @free_trial == nil
      -visitor = 'NotSignedIn'
  -else
    -visitor = 'NotSignedIn'


  -if @tag_manager_course_topic
    -topic = @tag_manager_course_topic
  -if @tag_manager_course
    -course = @tag_manager_course
  -if @view_pricing_page
    -viewedPricing = 'ViewedPricing'
  -if @view_upgrade_page
    -viewedUpgrade = 'ViewedUpgrade'

  :javascript
    dataLayer = [{
      "visitorType": "#{visitor}",
      "courseTopic": "#{topic}",
      "course": "#{course}",
      "viewedPricing": "#{viewedPricing}",
      "viewedUpgrade": "#{viewedUpgrade}"
    }];

:javascript
  dataLayer = [];

-if current_user
  :javascript
    dataLayer.push({'user_id': "#{current_user.id}"});

-# Google Tag Manager
%noscript
  %iframe{src: '//www.googletagmanager.com/ns.html?id=GTM-5SC76S',
height: 0, width: 0, style: 'display:none;visibility:hidden'}
:javascript
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'}); var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:''; j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5SC76S');

-# End Google Tag Manager
