:javascript
  dataLayer = [];

-if current_user && (controller_name == 'subscriptions' && action_name == 'personal_upgrade_complete')

  :javascript
    dataLayer.push({
      'user_id': "#{current_user.id}",
      'event': 'checkout',
      'ecommerce': {
        'checkout': {
          'products': [{
            'name': "#{t("views.general.payment_frequency_in_months.a#{@subscription.subscription_plan.payment_frequency_in_months}")} plan",
            'id': "#{@subscription.subscription_plan.id}",
            'price': "#{@subscription.subscription_plan.price}",
          }]
        }
      }
    });

-elsif (controller_name == 'student_sign_ups' && action_name == 'show') && @user
  -#This is the post sign-up landing page - personal_sign_up_complete url
  :javascript
    dataLayer.push({'user_id': "#{@user.id}"});

-elsif current_user
  :javascript
    dataLayer.push({'user_id': "#{current_user.id}"});


-# GA Fingerprinting Script
%script{:src => '//cdn.jsdelivr.net/npm/fingerprintjs2@latest/dist/fingerprint2.min.js'}

:javascript

  new Fingerprint2().get(function(result){
    dataLayer.push({
    'fingerprint': result,
    'event': 'sendFingerprint'
    });
  });

  function(){
    return new Date().getTime();
  };


-# Google Tag Manager
:javascript
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'}); var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:''; j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5SC76S');

-# End Google Tag Manager
