-if !Rails.env.test? && (!current_user || current_user.try(:individual_student?))
  :javascript

    // Mixpanel body tag
    #{current_user ? "mixpanel.identify(#{current_user.id});" : ''}

    function mixpanel_link(cssTag, name) {
      mixpanel.track_links(cssTag, name, function(event) {
        return {visible_text: $(event).text(),
          user_id: #{current_user.try(:id) || 'null'},
          current_page: window.location.href,
          session_guid: '#{current_session_guid}'
        }
      });
    }

    function mixpanel_track(message) {
      mixpanel.track(message, {
        url: window.location.href,
        user_id: #{current_user.try(:id) || 'null'},
        session_guid: '#{current_session_guid}'
      });
    }

    // Page loaded event
    mixpanel_track('page loaded');

    // Nav Links
    $("#navbar a:not(.dropdown-toggle)").addClass('mixpanel-navbar-link');
    mixpanel_link(".mixpanel-navbar-link", "navbar link clicked");

    // Footer Links
    mixpanel_link(".navbar-footer a", "footer link clicked");

    // Page Links
    $("a:not(#navbar a, .navbar-footer a, .call-to-action)").addClass('mixpanel-page-link');
    mixpanel_link(".mixpanel-page-link", "page link clicked");

    //////// SPECIAL EVENTS

    // Call to action clicked
    mixpanel_link(".call-to-action", "CTA clicked");

